[2016-06-04 10:23] zalmoxisus commented on #130
Thanks for the report. I just tried [apollo-demo](https://github.com/apollostack/apollo-demo) and it works without any issues. According to that issue it seems related to `babel-helpers`, but we use the last version and it should be solved there. Could please provide an example to reproduce it?

[2016-06-04 13:52] #131 closed

[2016-06-04 13:53] zalmoxisus commented on #131
Thanks for the report! Fixed in `2.0.0.4`. Please reopen the issue if still there are any troubles with this.

[2016-06-06 14:46] deepaksisodiya commented on #110
Thank You :)

[2016-06-06 18:16] abhiaiyer91 commented on #130
@zalmoxisus Im getting the same issue. This started happening when I updated redux-thunk to 2.x? Any idea?

[2016-06-07 06:38] zalmoxisus commented on #130
@abhiaiyer91, it seems like a babel issue probably with some updated dependencies, but unfortunately cannot replicate it. If you could fork [apollo-demo](https://github.com/apollostack/apollo-demo) and add some customizations you use to replicate the problem, I'd investigate it.

[2016-06-07 09:53] lapanoid commented on #129
@zalmoxisus Sure I will try and give you feedback.
Question: If I build the extension, I still can be autoupdated by Chrome later, right? In such case, I can not be sure at any time that my version is fixed and will not be changed randomly in an unexpected way. So don't have stable dev environment - that bother me a lot if I want to use redux-devtools-extension and spread it in my team. Please com

[2016-06-07 10:01] pilgrimtech commented on #123
I'm getting the same error using firebase as well. Im not creating any iframes, but I do believe that might be how firebase prompts for provider SSO login

[2016-06-07 10:57] mikehazell commented on #123
I did manage to resolve my firebase/Redux DevTools issue.

It turns out I was taking the `user` object from Firebase's `onAuthStateChanged` callback and passing that into my action payload. Kind of like this:

[code]

The fix was to copy just the data I needed from the user object rather than passing the whole object in.

[code]

The difference here, is that in the second version we are passing pr

[2016-06-07 12:05] pilgrimtech commented on #123
@mikehazell Thanks that was my problem.

[2016-06-07 17:40] zalmoxisus commented on #129
No, it won't. Chrome autoupdates only extensions from Chrome store.

[2016-06-08 08:52] marosurbanec opened #132 "Access (sub)state, diff or action as a variable in console?"
It would be very practical to access Redux state or Inspector's Action/Diff from console; the similar way React Dev Tools export the selected component as $r in console (or Chrome exports selected element as $0 in console):

![image](https://cloud.githubusercontent.com/assets/5611622/15888249/d2585cc2-2d6e-11e6-8ba5-4a9c1708531e.png)

The "Chart" view is a nice eye-candy, but in the end, not as pr

[2016-06-08 21:04] Sinistralis opened #133 "Extension Ignores Redux-Saga"
I might be missing something, but it seems like this extension is completely oblivious to Redux-Saga.

https://gist.github.com/Sinistralis/2b181bae168a556b268fd69c32b5f556

It ignores all actions dispatched by Sagas, and if you dispatch an action through the dispatch window in the extension, your Sagas never receive it.

[2016-06-09 21:29] lapanoid commented on #129
My bad it was project issue:
redux version was changed to 3.0.4 from ^3.0.4 that, with 3.0.4 extension is not working.
I updated to 3.3.1 and it works like a charm.
Thanks for your time!

[2016-06-09 21:29] #129 closed

[2016-06-10 04:51] leighghunt opened #134 "Has anyone had any luck making use of extension in a typescript project"
Thanks for this great extension.

I'm having an issue getting the extension working in a typescript project - and can't find any other instances of anyone combining redux, redux-devtools-extension, and typescript.

I'm wondering if it's supported?

Specifically, I'm having typescript complain when I try to update my call to ````createStore````.

See my [issue](https://github.com/jaysoo/todomvc-red

[2016-06-10 07:51] zalmoxisus commented on #129
@lapanoid, thanks for the details. It works with older versions of Redux, just probably that version doesn't support newer API of applying enhancer.

[2016-06-10 08:37] zalmoxisus commented on #134
It doesn't seem related to the extension. That project doesn't support the third argument of `createStore`but only old redux API, which will not be supported since Redux 4.

For now you can use it like that:
[code]

[2016-06-10 11:32] zalmoxisus commented on #133
[Starting from `v0.10.0`](https://github.com/yelouafi/redux-saga/releases/tag/v0.10.0), there's a `sagaMiddleware.run(saga, ...args)` which start sagas.

I added a workaround by [updating the store](https://github.com/zalmoxisus/redux-devtools-extension/commit/0757dac4c2eb217d7bbb8be738d8bae32ec21d86). It should work better with new Redux 4 API.

Please [build the extension](https://github.com/zal

[2016-06-10 12:49] Sinistralis commented on #133
This makes a lot of sense.  I am running my sagas but was not aware there was context I needed to update in the extension. I'll try this today and get back to you.

[2016-06-10 17:45] zalmoxisus commented on #121
Starting from `2.0` the extension [supports multiple stores in one page](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.0.0). Feel free to reopen this issue if you experience any troubles with that.

[2016-06-10 17:45] #121 closed

[2016-06-10 23:08] leighghunt commented on #134
Thank you so much - that works! :-)

[2016-06-10 23:08] #134 closed

[2016-06-11 15:20] jhen0409 opened #135 "Support Electron ^1.2.1 devtools extension"
Electron ^1.2.1 is supported more `chrome.*` API for DevTools extension, [this is known supported extensions](https://github.com/electron/electron/blob/master/docs/tutorial/devtools-extension.md#supported-devtools-extensions), I think it's possible to support it here, but maybe only devpanel.

/cc @chentsulin @davej

[2016-06-11 15:56] pilgrimtech commented on #123
a bit unrelated, but @mikehazell mind sharing how you are authenticating and maintaining the firebase token? are you checking using actions on the router or just using the firebase events?

[2016-06-11 17:29] zalmoxisus commented on #135
That's a great news that it was [added support for extension background page](https://github.com/electron/electron/pull/5711/commits/edd8210ae5e38cfa023b0bbca50ce40e876a3454)!

[2016-06-11 17:30] zalmoxisus commented on #133
Should work in [v2.0.1](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.0.1). Feel free to reopen the issue if it doesn't work.

[2016-06-11 17:30] #133 closed

[2016-06-11 21:41] Sinistralis commented on #133
Nah this worked perfectly. Thanks!

[2016-06-12 01:28] lewis617 opened #136 "why redux-devtools-extension can't display all？"
![image](https://cloud.githubusercontent.com/assets/11524612/15988356/97fc174e-307f-11e6-9edf-9e4aa593f225.png)

I use mac,and I can't see this bottom of redux-devtools-extension. why ? Is this a bug or I have to config sth?

[2016-06-12 08:32] zalmoxisus commented on #136
@lewis617, what version of Chrome do you use?

[2016-06-12 10:43] lewis617 commented on #136
51.0.2704.84 (64-bit) @zalmoxisus

[2016-06-13 14:02] DWboutin opened #137 "Devtool is less friendly than before and won't work too"
Hi!

Since the last update of the extension, my collegue and i have some big problems with it.

First, it's very less friendly to use, so much click for the same actions. My collegue, the extension won't work at all on it's computer, it's a blank tab now.

Is it possible that we revert to the last version?

Thank you! The extension rocks, but i just don't understand the new changes with way more c

[2016-06-13 14:44] handane123 opened #138 "Is there a safe way to switch the config between development and production mode?"
I  have to remove the code in store when  in the production mode by hand, Is there a way to config
between different mode?

[2016-06-13 18:47] zalmoxisus commented on #137
Hi.

It's an opensource project, so feel free to improve it, at least by explaining what goes wrong or even better to provide an example to reproduce the problem.

Could you please elaborate. What exactly do you have to click? Nothing in the UI wasn't change in 3.0.

Yes. You can [build](https://github.com/zalmoxisus/redux-devtools-extension#1-get-the-extension) the desired [version](https://githu

[2016-06-13 18:48] zalmoxisus commented on #138
Could you please elaborate or provide an example of what you're are trying to do?

[2016-06-13 19:08] DWboutin commented on #137
The clicks, we have to select an event and don't just scroll to it. We get lost very quickly here! We work with it everyday. We loved the scrolling section without to have to select the event manually.

I just understand the pin function, it can be great! I was lost this morning, i clicked on it and i wasn't able to return to the full state.

I speak here about the V.2, we run actually the 2.0.1 f

[2016-06-13 20:47] handane123 commented on #138
![1](https://cloud.githubusercontent.com/assets/7983700/16022571/0ecc1d8a-31eb-11e6-83c2-a986b43c8ca0.PNG)

[2016-06-13 20:51] handane123 commented on #138
What I want is that when the project is under production mode, how to comment the code which used to
connect the chrome devtools extension without doing it by hand. Instead, I can config it using webpack or any  other available ways?

[2016-06-14 07:31] zalmoxisus commented on #137
Just click again on that event (action) and it will not be pinned.

Anyway, if you like Log Monitor more than Inspector Monitor (which is by default now), you can use it like before, just select it from the top dropdown:
<img width="607" alt="redux_devtools" src="https://cloud.githubusercontent.com/assets/7957859/16034541/0dfcc406-321b-11e6-9440-666355be5891.png">

Please let me know if that was t

[2016-06-14 07:40] zalmoxisus commented on #138
A good practise (for other libraries as React as well) is to have a global variable set in webpack config, which indicates the environment like
[code]

and you can use the extension as follows:
[code]

[2016-06-14 07:43] handane123 commented on #138
Thanks!

[2016-06-14 07:43] #138 closed

[2016-06-14 11:24] shark0der opened #139 "Uncaught TypeError causing unclickable actions"
I'm getting "Uncaught TypeError: Cannot read property 'hasOwnProperty' of null" when some actions are fired and every time the action is clicked (therefore preventing the action to be selected). The workaround that I'm using at the moment is that I click the "skip" button twice (skip and then unskip) and afterwards I'm able to select the action.

Here's a screenshot so you can see the context and

[2016-06-14 12:33] DWboutin commented on #137
Ho yeah!

It's that! Thank you so much

2016-06-14 3:31 GMT-04:00 Mihail Diordiev <notifications@github.com>:

--
*Mikaël Boutin*
*Développeur **web **"front-end"*
*Twitter :* @DWboutin <http://twitter.com/#%21/DWboutin>
Github : DWboutin <https://github.com/DWboutin>
LinkedIn: https://ca.linkedin.com/pub/mikael-boutin/27/732/b47

*(581) 999-1252*

[2016-06-15 14:09] zalmoxisus commented on #139
Thanks for the report! Can you reproduce it with [our demos](https://github.com/zalmoxisus/redux-devtools-extension#demo)? Could you provide some steps to reproduce it because I cannot?

Maybe @alexkuz has any ideas from where it can come?

[2016-06-15 14:13] zalmoxisus commented on #137
You're welcome!

If you still have any problems there, feel free to open an issue and provide some details on how to reproduce that:

[2016-06-15 14:13] #137 closed

[2016-06-16 10:24] vojty commented on #136
same problem here, version 51.0.2704.84 (64-bit) Ubuntu 16.06

[2016-06-16 13:20] amannn opened #140 "Replay mode"
First of all, really great work on this extension! I use it almost daily when working on Redux apps.

I'm encountering an issue, when using the time travel feature of the dev tools. The problem mostly comes down to a view reacting to a state change and dispatching another action. The problem is pretty well described in [issue 167 from redux-devtools](https://github.com/gaearon/redux-devtools/issue

[2016-06-16 13:48] suhaotian commented on #136
![image](https://cloud.githubusercontent.com/assets/6512574/16118979/fdfdb342-340b-11e6-9c5e-98fe010e445f.png)
The latest Chrome.

[2016-06-16 14:06] suhaotian commented on #136
Fixed with [https://github.com/zalmoxisus/remotedev-app/pull/9](https://github.com/zalmoxisus/remotedev-app/pull/9)
Maybe need more test in other kind browser..

[2016-06-18 21:48] jrullmann commented on #117
DispatchMonitor does a have a feature that could address this pain. You can pass it an array (or object) of action creators, and it will then let you select from that list through the tool. So you could, for example, give it the list of your existing action creators. You'll get a nice form to fill in for all of your action creators. I've tested this with redux-devtools directly and it works well.

[2016-06-19 19:46] zalmoxisus commented on #140
This should be implemented in [`redux-devtools-instrment`](https://github.com/zalmoxisus/redux-devtools-instrument), but only after Redux 4.0 with [new API for store enhancers](https://github.com/reactjs/redux/pull/1702) is released. A possible solution was [suggested](https://github.com/gaearon/redux-devtools/pull/263) before.

[2016-06-20 08:47] zalmoxisus commented on #117
@jrullmann, thanks for the details. I'm aware of this functionality, but it's not that easy to implement here, as the monitors are decoupled from the application. Technically, we should serialize those functions and send them to the monitor on initialization. If someone wants to implement that here, it would be very welcome.

Though, the current proposal for extending the Dispatcher Monitor to sav

[2016-06-20 10:34] rasmuswoelk opened #141 "Redux-devtools suddenly not working"
Hi

I'm a big fan of the redux-devtools extension but lately I have noticed that it stopped working.

It has always worked without problems but now it only shows the @@INIT action when opening the devtools in Chrome. Once I dispatch an action it doesn't record it. The redux actions are functioning correcly.

**This is my setup:**
- Chrome Version 52.0.2743.33 beta (64-bit)
- Redux  3.5.2
- Redux D

[2016-06-20 11:37] zalmoxisus commented on #141
Thanks for the feedback and the details. The configuration looks fine.

Please check if it works with [our demos](https://github.com/zalmoxisus/redux-devtools-extension#demo) to see if it is related specifically to your app. Also try changing the monitor from the top of the extension's window.

[2016-06-20 12:06] avraam-mavridis-sociomantic opened #142 "Support for Symbol action types"
Some folks define their actions like

`Symbol.for('DO_SOMETHING_ACTION')`

Instead of

`const DO_SOMETHING_ACTION = "DO_SOMETHING_ACTION";`

In that case the logged action is empty:

![screen shot 2016-06-20 at 14 05 10](https://cloud.githubusercontent.com/assets/14922483/16193531/10693cae-36f0-11e6-9d8b-685dfb84c05d.png)

Any plan for supporting/logging Symbol based action types?

[2016-06-20 13:34] rasmuswoelk commented on #141
Hi again

Thanks for the answer :-)

So it is working with the demos. Weird.

Do you mean changning from the Log Monitor to the Chart or what do you mean when you say changing monitor?

The redux-logger is logging just fine. So weird.

[2016-06-20 14:36] zalmoxisus commented on #141
Yes, also try to select instances explicitly (from the second select).

[2016-06-20 15:54] LestaD commented on #135
Support for https://github.com/GPMDP/electron-devtools-installer ?
@chentsulin @davej @zalmoxisus

[2016-06-21 01:42] 3cooper opened #144 "Using an instanceId"
I'm using version 2.0.1.  I calling the store like this:

      oStore = Redux.createStore(
        oReducer,
        oInitialStore,
        document.cookie.indexOf('redux-debug') > -1 &&  window.devToolsExtension ? window.devToolsExtension({ name: 'MyName', instanceId: Math.floor(Date.now() / 1000).toString()}) : f => f
      );

I have this again for another component with MyName2.  MyName compo

[2016-06-21 07:47] zalmoxisus commented on #135
@LestaD, thanks a ton for implementing this in `electron-devtools-installer@1.1.3 `!

@jhen0409, @chentsulin, what do you think, would it be enough or should we also have the extension on npm to add it like `require('redux-devtools-extension').install()`?

[2016-06-21 07:56] zalmoxisus commented on #144
@3cooper, by default it autoselect the instance. If you want to see the information for specific instance, you should select it explicitly
<img width="538" alt="rext" src="https://cloud.githubusercontent.com/assets/7957859/16221994/785c2e26-379e-11e6-830a-ac93313a24a9.png">
Selecting the instance is not present in Chrome DevTools panel for now, so you should open it in a window (click the first bu

[2016-06-21 09:33] foffer commented on #123
@pilgrimtech this might help https://github.com/douglascorrea/react-hot-redux-firebase-starter/

[2016-06-21 11:16] zalmoxisus commented on #142
The reason for this is that the result of `JSON.stringify({type: Symbol.for('DO_SOMETHING_ACTION')})` is `{}`.

To support it use [`serializeAction` property](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/API/Arguments.md#windowdevtoolsextensionconfig) as following:
[code]

We cannot have it by default as it will slow the serialization, unless @kolodny has any ideas on ho

[2016-06-21 11:26] zalmoxisus commented on #136
Should be fixed, thanks to @suhaotian.

[2016-06-21 11:26] #136 closed

[2016-06-21 11:33] zalmoxisus commented on #141
If you could share an example to reproduce, I'd look into it. Or you can [run the extension in dev mode](https://github.com/zalmoxisus/redux-devtools-extension#1-get-the-extension). And debug it. It's not that hard because you have to inspect only [`pageScript.js`](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/inject/pageScript.js), which should send chan

[2016-06-21 12:18] avraam-mavridis-sociomantic commented on #142
it's just a matter of wrapping the type with `Symbol.keyfor` ?

Like

Symbol.for("DO_SOMETHING_ACTION"); // create a new global symbol
Symbol.keyFor(Symbol.for("DO_SOMETHING_ACTION"); ); // "DO_SOMETHING_ACTION"

[2016-06-21 12:29] 3cooper commented on #144
I did open devtools in a window.  I have also now removed the instanceId.   I see both my instances in the menu but when i switch between them they are the same.  When it loads I see my first instance and it has many actions logged.  Then I click a button that loads another component onto the page.  When that new component loads I can see both instances in the devtools window but when I switch bet

[2016-06-21 13:40] zalmoxisus commented on #142
@avraam-mavridis-sociomantic, I think it's easier to show the extension how to serialize symbols than changing your code. You can use `Symbol.keyFor` in `serializeAction` parameter's function instead of `String`.

[2016-06-21 18:43] cameronroe commented on #123
I don't think that's the actual problem. [This project](https://github.com/r-park/todo-react-redux/blob/master/src/core/auth/actions.js#L21) uses it too and works perfectly fine.

[2016-06-22 06:56] zalmoxisus commented on #144
Sorry, I messed it [here](https://github.com/zalmoxisus/redux-devtools-extension/commit/bf3e3aed678ee159c7be70ae1128c4168fdd6408). I need to find another solution for #133 to roll it back.

[2016-06-22 09:57] #144 closed

[2016-06-22 09:58] zalmoxisus commented on #144
Fixed in `v2.1.0`.

[2016-06-22 10:08] zalmoxisus commented on #135
Up in `v2.1.0`.

[2016-06-22 10:08] #135 closed

[2016-06-22 12:21] rasmuswoelk commented on #141
Hi again

I have tried running the extension in dev mode - still not working. Also I tried other computers with other versions of Chrome - same problem.

It's something with my system and I will try to debug it when I have time. I will return if I find anything.

How do I inspect pageScript.js? Can I do it from console?

[2016-06-22 15:33] zalmoxisus commented on #141
@rasmuswoelk, thanks for the details. Most probably it is related to Promise Middleware.

Try to [update the store after creating it](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/API/Methods.md#windowdevtoolsextensionupdatestorestore-instanceid) by adding:
[code]

[2016-06-23 07:38] zalmoxisus commented on #141
Just tried [simple](https://github.com/pburtchaell/redux-promise-middleware/tree/master/examples/simple) and [complex](https://github.com/pburtchaell/redux-promise-middleware/tree/master/examples/complex) examples of [`redux-promise-middleware`](https://github.com/pburtchaell/redux-promise-middleware) and it works as expected. If you're sure you don't mutate the state somewhere (you can check it b

[2016-06-23 08:44] rasmuswoelk commented on #141
Hi again

I was mutating the state in my actions by accident and the `redux-immutable-state-invariant` found the issue for me.

**It is now working!**

Thanks for your extensive support and great package for debugging these issues!

[2016-06-23 08:44] #141 closed

[2016-06-23 15:48] rybon opened #145 "API for checking whether the monitor is open"
Is it possible to call a method on `window.devToolsExtension` to determine whether the DevTools monitor is currently open or closed? I'd like to use that information to conditionally disable side effects. As far as I know we can only check whether `window.devToolsExtension` is available.

[2016-06-23 16:29] zalmoxisus commented on #145
There's no such method in our API, but it wouldn't be hard to implement (the only problem is when having more instances in one tab).

Could you tell me about your user case? Maybe better to provide a way to check when a monitor action is applied (toggling, moving, back and forth, importing actions...) to prevent side effects in this case?

Also related to #140.

[2016-06-23 18:50] rybon commented on #145
You're right, a more granular way of disabling side effects would indeed be preferable.

Starting with opening and closing the monitor seems to be the easiest and quickest way for now however. I'm currently using redux-saga and my idea is to combine that functionality with a hook in redux-saga to conditionally disable the processing of side effects. In redux-saga, side effects are not executed imm

[2016-06-23 19:16] rybon commented on #140
My suggestion would be to make the rendering itself not cause any side effects. A render is basically always triggered by a dispatch and having another dispatch triggered as a result of that seems wrong. Before you know it, you have a cascade of state mutations and / or side effects going off from a single dispatch and you'll lose track of which dispatch caused what. It will also make things hard

[2016-06-24 08:07] zalmoxisus commented on #145
Could you share a snippet of how you want to integrate it in sagas?

If you prevent all side effects when the extension's monitor is open, that means you'll not be able to use it for logging and remote control, only for dispatching monitors actions.

[2016-06-24 09:35] rybon commented on #145
In redux-saga you have the option to add a SagaMonitor as part of initializing the saga middleware. In my local fork of redux-saga I've just added another method to the monitor that is invoked in `runEffect`. The method just returns a boolean and short-circuits the `runEffect` method accordingly. This means I have control over the processing of the side effects. I just need a way to dynamically re

[2016-06-27 08:58] jbleuzen opened #147 "Building error when trying to build extension with v2.2.0"
I'm trying to build the extension to embed it in an Electron application and when I try to build v2.2.0 I have this error :
[code]

No problem with version v2.1.0...

[2016-06-28 23:58] born2net opened #150 "Chrome extension broke today.. blank page"
see here:

![image](https://cloud.githubusercontent.com/assets/5090936/16436292/904fa568-3d51-11e6-8687-b10882770c23.png)

[2016-06-29 00:01] nickw444 commented on #150
Also having the same issue. Won't load on the sample github.io pages either.

[2016-06-29 00:02] born2net commented on #150
Is there a way to lock out updates?
I really would rather stay with a stable version and not be "pushed" updates

[2016-06-29 00:10] nickw444 commented on #150
I just checked out 2.1.0, and built the extension and installed as a unpacked extension for now.

[2016-06-29 00:14] born2net commented on #150
ok tx.. I'll wait for the fix

[2016-06-29 00:35] yarcub commented on #150
@zalmoxisus: What do you think on having some sort of different channels (stable vs "canary") for the extension? Maybe publish the *canary* one as unlisted so that anyone searching through the chrome web store doesn't install a not stable version.

That way we could have feedback, from people who actively follow this project and opt-in for it, if there was some breaking changes. 💭

[2016-06-29 00:40] wnewby commented on #150
... broken here too. Built and running 2.10

[2016-06-29 00:41] nickw444 commented on #150
Saving a the time of others who may need to build this. Here is a zip of the unpacked build of 2.10

[extension.zip](https://github.com/zalmoxisus/redux-devtools-extension/files/338322/extension.zip)

[2016-06-29 00:53] j- commented on #150
Also experiencing this problem (v2.2.0.2). Console has the following error:

![screenshot from 2016-06-29 10 52 41](https://cloud.githubusercontent.com/assets/590992/16437139/823ed4c6-3de7-11e6-91ec-54beed024627.png)

[2016-06-29 01:36] pcanterini commented on #150
Looks like a [typo](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/app/containers/App.js#L37) in `App.js`

[code]

But I've also had some issues with the [remotedev-app](https://github.com/zalmoxisus/remotedev-app) package when trying to build this version of the redux-devtools-extension. For one it's failing linting on `prepublish`

[2016-06-29 04:54] yoongfook commented on #150
Same here - breaking ...

[2016-06-29 05:40] andrewmclagan commented on #150
ouch 4 hours later... :-(

[2016-06-29 06:51] jasan-s commented on #150
@nickw444  the build only work in external window not in the chrome dev panel. is that chrome thing for unpacked extentions?

[2016-06-29 07:01] xyc commented on #150
+1

[2016-06-29 07:09] tedscape commented on #150
+1

[2016-06-29 07:13] #150 closed

[2016-06-29 07:20] zalmoxisus commented on #150
Sorry about that.

@tomchentw fixed it in #151 also added ESLint prebuilt tasks to avoid such cases.

`2.2.0.3` is published on Chrome Store and should be available in about an hour.

[2016-06-29 07:34] zalmoxisus commented on #150
@born2net,

Yes, you can clone this repository and [build it](https://github.com/zalmoxisus/redux-devtools-extension#1-get-the-extension).

@yarcub,

Extensions from Chrome store are autoupdated by Chrome automatically. There's a way to make a new release available only for a randomly selected amount of people, to get the feedback, which should help in such cases. Though much better would be to ha

[2016-06-29 08:40] andrewmclagan commented on #150
@zalmoxisus again thanks for all your work

[2016-06-29 08:51] zalmoxisus opened #153 "Tests"
It was procrastinating for such a long time, and I am feeling guilty for [such cases](https://github.com/zalmoxisus/redux-devtools-extension/issues/150) 😨

We need to

- [x] test [the react component](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/app/containers/App.js) with enzyme;
- [x] add e2e tests for the extension's window;
- [x] add e2e tests for the injected page sc

[2016-06-29 09:49] jhen0409 commented on #153
I can try for test Electron devtools panel (https://github.com/zalmoxisus/redux-devtools-extension/pull/149#issuecomment-229300096), and I don't know how to test devtools panel on Chrome. :\

[2016-06-29 11:25] zalmoxisus commented on #153
@jhen0409, since we'll have tests for the extension's window which is almost the same, the test Electron devtools panel. If it's possible to implement, would be very welcome.

[2016-06-30 09:54] zalmoxisus commented on #147
It works now using `remotedev-app@alpha-2`, though without the "Test" tab till https://github.com/alexkuz/redux-devtools-inspector/pull/38 gets merged.

We're running tests on Travis and Appveyor now to prevent such cases.

Thanks a lot for the report!

[2016-06-30 09:54] #147 closed

[2016-06-30 11:36] nwehrle opened #154 "Cannot open to right, left or bottom"
**Expected:** I can open the redux extension to the right (left, bottom) every time I want to.

**Actual:** Just after reinstallation I am able to open to the right (left, bottom) and everything works as expected. After a short amount of time (In the meantime I closed the browser or even shutdown the machine) it does not open in a separate window anymore. Left-click on the toolbar works.

**System

[2016-06-30 13:20] zalmoxisus commented on #154
Thanks for the report!

Logs would help. Could you please copy the error you get from the background page's script?
To do that:

1. Open `chrome://extensions/`
2. Right on the top right side there is a checkbox "Developer mode" you should check.
3.  Find the extension (`Redux DevTools`) and click on "background page" link.

Then instead of deleting and reinstalling the extension you can just click

[2016-07-01 08:10] zalmoxisus commented on #154
@nwehrle, I was able to reproduce it. The reason why I didn't experience it is because I use shortcuts instead of context menu. As a temporal workaround you can also [use shortcuts](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/FAQ.md#keyboard-shortcuts) to open the monitors

[2016-07-01 09:06] #154 closed

[2016-07-01 09:07] zalmoxisus commented on #154
Fixed in `2.2.1`. Please update the extension and let me know if yo experience such problems again.

[2016-07-01 09:22] nwehrle commented on #154
Thank you. I'll let you know.

[2016-07-01 13:10] Pintouch commented on #123
I had the same issue, after updating firebase from 3.0.5 to 3.1.0 the devTool extension stops showing the error message.

[2016-07-01 15:41] #153 closed

[2016-07-04 12:17] nwehrle commented on #154
Works flawlessly!

[2016-07-05 19:17] JayAndCatchFire opened #157 "Export the graph view?"
It sure would be nice if we could export the graph view!  Even if it was just in gnuplot format or something similar.

[2016-07-06 07:04] zalmoxisus commented on #157
Thanks for the suggestion.

You can get the liftedStore object by executing `store.liftedStore.getState()`. Then if you can provide a function to convert this data into a specific format, I'd be happy to implement it here.

[2016-07-06 07:13] zalmoxisus commented on #145
@rybon, I was thinking about this, and adding a function like `window.devToolsExtension.isMonitoring` to the API would cause conflicts for multiple instances (stores). A solution would be to get this function when invoking the enhancer like
[code]

Anyway, we want to monitor sagas as well (which I want to implement in the nearest future), so such a solution wouldn't be viable. Better to have somet

[2016-07-06 07:31] rybon commented on #145
Looks alright to start with. I presume `isMonitoring` will be set to true or false by `devToolsExtension`? Wouldn't it be better to wrap it in a callback, so that can be invoked inside redux-saga to fetch the latest `isMonitoring` value? See https://github.com/yelouafi/redux-saga/pull/410 for an example.

[2016-07-06 07:38] zalmoxisus commented on #145
Yes, it would be a function, which returns `true` or `false`.

Can we just use `isTimeTraveling` instead of `isMonitoring`? Are other cases when we want to disable side effects?

[2016-07-06 07:47] rybon commented on #145
Sure, `isTimeTraveling` is fine with me. Regarding other cases, I suppose I'd also want to disable side effects when replaying a Redux log in a test suite, for example based on `process.env.NODE_ENV === 'test'`. But that would be a static value that wouldn't change at runtime.
In my redux-saga PR, I added a hook so developers can decide for themselves when side effects should be disabled.

[2016-07-06 21:25] mrdanimal opened #159 "Make the serialization faster"
Since the last update, as soon as I open the extension my app will hang. After about a minute, I get an error in the console: `Uncaught RangeError: Invalid string length`, then the app is responsive again. I'm working on a fairly large app and the extension had been getting less responsive recently prior to this bug, so I think there was already something in my app that's causing a conflict. Here'

[2016-07-07 09:53] zalmoxisus commented on #159
Thanks for the detailed report! It shows that it hangs in [`jsan`](https://github.com/kolodny/jsan) stringify function. The point is that your state object is very large and / or have circular references there, so the serialisation takes a lot of time.

You can check it simply by running `store.liftedStore.getState()` inside your app and try to import `jsan` and execute `jsan.stringify(store.lifte

[2016-07-07 20:36] samwalshnz opened #160 "Prevent from automatically opening (default hidden state)"
Is there a way to initialise the devtools panel without it automatically opening (i.e. staying hidden until shortcut or extension button is pressed)?

[2016-07-07 23:33] peletiah opened #161 "Docs improvement suggestions - was: Issues to get extensions running with a standard basic react-redux setup"
TLDR: Meanwhile the extension is working with my app, but I'll still file this report if you consider to extend the docs at some point so they work better for newbs like me :-) You can close the issue if it's irrelevant.

Also where does initialState come from?

And the links to commits in Section 2 where confusing and didn't make things any clearer (Only after the fact).

Hope I don't sound ungra

[2016-07-08 07:14] zalmoxisus commented on #161
Thanks for the suggestion. Rewriting the docs would be great. And also to add links to Redux docs where it is necessary, for example in your case about [createStore](http://redux.js.org/docs/api/createStore.html).

And BTW, in you initial code you didn't need any changes and `initialState`, according to Redux docs, is optional. It would be just:

[code]

[2016-07-08 07:21] peletiah commented on #161
Oh! Well that's a lot easier then!

Thanks for pointing out the links to the redux-docs in regards to [initialState](http://redux.js.org/docs/api/createStore.html). Now I realize ```initialState``` is what I feed my reducers in order to define the objects I feed to them and the store. Yep, those links would make sense :-)

[2016-07-08 07:24] zalmoxisus commented on #160
Actually, it does. It is not initialised until you open it (click on the panel's name). You can see it loading when first open it.

There's other problem, if you open it and then switch to other tab (Elements, Console...) it will be still active until you close Chrome devtools panel at all. There's no way to catch such event, and the same problem is for React devtools. There's no such problem when

[2016-07-09 02:43] mrdanimal commented on #159
Thanks for the help! I was able to quickly get it to be functional by lowering `actions history limit`. Offhand, I don't think there's anything I can strip out of my store, but I'll do some investigating and see if I can improve the situation more.

[2016-07-09 06:22] zalmoxisus commented on #159
@mrdanimal, thanks for the details. BTW, if you don't use circular references and Immutable library, you can disable serialization at all in the settings, but I guess it's not the case otherwise it shouldn't be so slow.

I'd like to make serialization in `jsan` faster (I tried also other libraries before), but not sure it's possible. If you'll have time to investigate further why [that function](h

[2016-07-09 16:35] dallonf opened #163 "Ignore/collapse particular actions"
I have no idea how this would work, so I'll just describe my use case and maybe that can start an interesting discussion of how to do this...

In my app, I have an action that is triggered on mouse move. Needless to say, there are a _lot_ of these and it significantly impacts both performance in dev (to the point where the app may hang while DevTools are open) and makes the DevTools much less usef

[2016-07-10 11:18] zalmoxisus commented on #163
You can filter specific actions whether by specifying them on the extension's options page (click Settings button) or by adding [`actionsBlacklist` array](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/API/Arguments.md#windowdevtoolsextensionconfig).

[2016-07-11 11:37] brusherru opened #165 "DevTools interferes with the work of middleware crashReporter"
In my project, I have to catch errors in the reducers and handle it on my own. I had used DevToolsExtension for Chrome to make development handy. And I discovered a bug: exceptions won't be caught by middleware if DevToolsExtension is turned on. And exception just falls into a console (and devtools) and an application won't work anymore.
But if I turn off DevToolsExtension (or remove it from `comp

[2016-07-11 11:46] grifotv opened #166 "Logic behind "not serializable" state"
What is the logic behind the "not serializable" state?

![screen shot 2016-07-11 at 12 01 55](https://cloud.githubusercontent.com/assets/435351/16728621/664f8eb4-475f-11e6-9c7c-07390d0ade0a.png)

At the moment I have a long object with an array of objects.

Thanks

[2016-07-11 13:00] grifotv commented on #166
Ops, this should be logged in the Redux Devtools https://github.com/gaearon/redux-devtools

Appologies :)

[2016-07-11 13:00] #166 closed

[2016-07-11 13:59] zalmoxisus commented on #165
Thanks for the report. Yes, it works in `redux-devtools` as you get the latest version of the instrumentation, where [it was implemented](https://github.com/zalmoxisus/redux-devtools-instrument/issues/5). It will be possible to turn error catching off in the next version of the extension as well.

[2016-07-14 21:24] #161 closed

[2016-07-15 16:02] zalmoxisus commented on #145
Implemented in `v2.3.0`. See [the description](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.3.0) and [the example of usage](https://github.com/zalmoxisus/redux-devtools-extension/commit/352f0797f041866cf1d73ed5bf1008a6096813ea).

A PR with a recipe or an example of usage with sagas would be much appreciated.

[2016-07-15 16:02] zalmoxisus commented on #140
Implemented in `v2.3.0`. See [the description](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.3.0) and [the example of usage](https://github.com/zalmoxisus/redux-devtools-extension/commit/352f0797f041866cf1d73ed5bf1008a6096813ea).

[2016-07-15 16:02] #140 closed

[2016-07-15 16:33] zalmoxisus commented on #165
Now you can disable that just by unchecking `Show errors` option in the settings.

[2016-07-15 16:33] #165 closed

[2016-07-15 22:07] rybon commented on #145
Thanks! An example with my forked redux-saga repo will be forthcoming.

[2016-07-18 10:18] zalmoxisus commented on #9
We're supporting firefox with all the features except running from Firefox DevTools panel (which will come as soon as it [will be implemented](https://bugzilla.mozilla.org/show_bug.cgi?id=1211859)). Minimal required version is Firefox 48, which should be released soon. For now use Firefox Nightly or Developer Edition.

To build the extension run `npm i && npm run build:firefox` and [load the exten

[2016-07-18 10:27] amannn commented on #140
Looks great! Are you planning use the `isTimeTraveling` feature in the chrome extension for the slider monitor?

[2016-07-18 10:36] zalmoxisus commented on #140
@amannn, yes, it is used for side effects to disable them when time traveling. See #145 for more details.

[2016-07-21 19:25] jayphelps commented on #133
@zalmoxisus This also affected redux-observable https://github.com/redux-observable/redux-observable/issues/81 so I'm trying to understand why. It doesn't modify the store in any way other than the intrinsic way that redux composes middleware to create the store you receive, so this seems like something that shouldn't be a problem since this is normal middleware behavior.

Is there any way we can

[2016-07-21 19:27] jayphelps commented on #133
Nevermind 😄

[2016-07-21 19:28] zalmoxisus commented on #133
[The script is pretty simple](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/inject/pageScript.js). Maybe you see a way to overcome that. I don't :(

[2016-07-23 11:13] Fahrradflucht commented on #9
Hm,  is there a reason why the extension on AMO is not signed? Aurora won't let me install it.

[2016-07-23 14:26] zalmoxisus commented on #9
@Fahrradflucht, it has not been reviewed yet.

As it's not vanila js, but a babel/webpack bundle with a lot of dependencies as well minified, the extension needs full review, which takes a while as reviewers are just volunteers. It's not that fast to review the full functionality we have here. More details: https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Reviews

You can just build the exte

[2016-07-23 15:04] matt328 opened #167 "Angular 1"
I'm not able to get time travel working with an Angular 1 app using ng-redux.  The vanilla dev tools embedded in the page works just fine.  I set up a logging middleware and the extension doesn't seem to be changing the store at all.

[2016-07-23 18:19] zalmoxisus commented on #167
Thanks for the report. Could you provide a project I could clone and run or an example on jsfiddle to reproduce the issue? I've tried [the official example from there](https://github.com/angular-redux/ng2-redux/tree/master/examples/counter) but it shows errors not related to the extension and cannot run.

[2016-07-23 19:58] matt328 commented on #167
Upon further inspection I discovered the problem is with redux-ui-router, and not devtools-extension.  I'm trying to set up Angular 1, ng-redux, redux-ui-router, and redux-devtools-extension, too many cooks in the kitchen.

[2016-07-23 19:58] #167 closed

[2016-07-24 08:22] zalmoxisus commented on #167
@matt328, if this middleware changes the store you can add
[code]
as indicated in [the troubleshooting](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/Troubleshooting.md#extension-ignores-redux-saga-or-other-store-enhancers-which-change-the-store-object).

[2016-07-24 11:10] zalmoxisus commented on #166
Hey @grifotv,

Thanks for the report. Fixed in https://github.com/romseguy/d3-state-visualizer/pull/5

[2016-07-26 17:45] zalmoxisus commented on #9
The extension was fully reviewed and approved. The reviewer is also redux-react guy 😱

[2016-07-27 07:44] mocheng opened #170 "Slider cannot navigate among states in Chrome 52"
Chrome version: Version 52.0.2743.82 (64-bit)
Mac El Capitan 10.11.6 (15G31)
Redux devtools extension version: 2.3.0

In the bottom Redux Panel of Chrome dev tools, the slider cannot navigate state to make the page re-render.
![image](https://cloud.githubusercontent.com/assets/239291/17167652/d264cb7e-5410-11e6-8e1b-6ce7ec61f7ac.png)

However, the slider in popup triggered by bookmark bar works.
!

[2016-07-27 08:28] falltodis commented on #126
I meet this too and  has tried @zalmoxisus 's suggestion , but it doest not work!
![image](https://cloud.githubusercontent.com/assets/7006864/17168771/d1eb50ea-5416-11e6-846d-f20e408006b6.png)

[2016-07-27 08:30] zalmoxisus commented on #170
Thanks for the report. Can you reproduce it with [our demos](https://github.com/zalmoxisus/redux-devtools-extension#demo)? If not, please provide a repo or jsfiddle to reproduce that.

[2016-07-27 08:55] zalmoxisus commented on #126
Hey @falltodis,

Maybe you are using an older version of Redux. Passing enhancer as the 3rd parameter is supported only for redux@>=3.1.0. For older version you should use it [like so](https://github.com/zalmoxisus/redux-devtools-extension/blob/v0.4.2/examples/counter/store/configureStore.js#L7-L12).

If not, please provide an example repo or jsfiddle to reproduce the problem.

[2016-07-27 09:58] mocheng commented on #170
Interesting. The demos all work fine. I'll follow up on what breaks in my case.

[2016-07-27 10:01] falltodis commented on #126
Tks!
The project is based on [snowflake](https://github.com/bartonhammond/snowflake) and the only change I make is a file named configureStore.js I fork that repo and  have pushed my changes. The new repo is [this](https://github.com/falltodis/snowflake) . Sorry for cant privied an example in jsfiddle.

[2016-07-27 10:18] zalmoxisus commented on #126
The extension is meant to be used in the browser, so it could inject the script in web page. For React Native you need [Remote Redux DevTools](https://github.com/zalmoxisus/remote-redux-devtools), which would send data to the extension.

[2016-07-27 10:48] grifotv commented on #166
Thanks!

[2016-07-27 10:54] zalmoxisus commented on #166
@grifotv, yes, if you're using it from Chrome Store, the addition will come automatically when we release the next version (will try to do it tomorrow). In case you're building the extension from the sources, you still need that PR to be merged.

[2016-07-27 16:10] #107 closed

[2016-07-28 05:44] mocheng commented on #170
@zalmoxisus I managed to locate the root cause of the bug. In my project, there is one thunk action that will dispatch an plain-object action with big array payload. If the I manually reduce the big array payload, the bug disappears.

But, while tweak example project to dispatch big payload action, this bug cannot be reproduced. Sorry that my project is private cannot be exposed, but it looks this

[2016-07-28 08:20] zalmoxisus commented on #170
@mocheng, don't see how this could be related to the slider monitor, but you can check whether it is the problem by stripping the action's payload at all:
[code]
You could also use it to strip only that action's key.

[2016-07-28 09:45] mocheng commented on #170
@zalmoxisus If I filter that payload, that application would not work at all.

I'm not familiar with extension development, any quick way to enable me do debugging or adding console.log to locate the buggy code?

[2016-07-28 10:43] mocheng commented on #170
@zalmoxisus  Finally I got it reproduced by tweaking example code. Please check this out https://github.com/mocheng/redux-devtools-extension/tree/reproduce-issue-170/examples/counter

In the forked repo branch `reproduce-issue-170`, the example is `examples/counter`. After launching the web page, click `increment async` button several times, then check the slider. While sliding the slider, the cou

[2016-07-28 11:50] zalmoxisus commented on #170
@mocheng, thanks a lot for the fork and details!

I replicated the problem with the release from Chrome store, but it works well with the current development version. So, should be fixed already (probably by [88046ffb752695e3b1feca42fb7231e5a2331c20](https://github.com/zalmoxisus/remotedev-app/commit/88046ffb752695e3b1feca42fb7231e5a2331c20)). I'll give it another try before publishing (most likel

[2016-07-29 00:28] samwalshnz commented on #160
No longer having this issue anymore. devtools extenion is now working without having to run the `open` method. You can close this issue, thank you :)

[2016-07-29 04:26] vdh opened #172 "Overly-aggressive string formatting in Diff output"
[code]

When an ISO8601 string (`2016-07-29T14:10:00+10:00`), a mere 25 characters, is long enough to trigger string truncation (down to 19…?), the Diff panel quickly becomes useless for non-trivial data.

[2016-07-29 07:04] #160 closed

[2016-07-30 06:05] zalmoxisus commented on #172
@vdh, agree. Would you like to submit a PR to [`redux-devtools-inspector`](https://github.com/alexkuz/redux-devtools-inspector) with the limits you consider optimal? If I'm not mistaken, it's just [this line](https://github.com/alexkuz/redux-devtools-inspector/blob/master/src/tabs/JSONDiff.jsx#L12) to change.

[2016-08-01 05:40] vdh commented on #172
@zalmoxisus If I have the time I'll see if I can get a PR put together. I think a CSS solution with [`text-overflow: ellipsis`](https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/) and perhaps some flexbox would let the browser handle truncation within the window width available, rather than length-based truncation inside the JS.

[2016-08-01 10:28] zalmoxisus commented on #170
Should be fixed in `v2.4.0`.

[2016-08-01 10:28] #170 closed

[2016-08-01 10:31] zalmoxisus commented on #117
Implemented in [`v2.4.0`](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.4.0).

[2016-08-01 10:31] #117 closed

[2016-08-01 22:32] ccorcos commented on #140
@zalmoxisus it would be great if we could import just an array of actions. the states should be reproducible and this way, we could save tracking data thats captured from elsewhere and replay exactly what happened. how does that sound to do? I'm happy to help!

[2016-08-01 22:55] ccorcos opened #173 "Replay Actions"
it would be great if we could import an array of actions to pull up a slider and replay the app. the states should be reproducible and this way, we could save tracking data thats captured from elsewhere and replay exactly what happened.

I was poking around and it looks like we'd need to add something here:

https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/app/api/importState

[2016-08-02 08:00] zalmoxisus commented on #173
Actions are already replayed (states are recomputed), so it should be easy to implement. It would be indeed useful, if you could send a PR [here](https://github.com/zalmoxisus/redux-devtools-instrument). We could just add this implementation if `Array.isArray(nextLiftedState)` for [`IMPORT_STATE ` action](https://github.com/zalmoxisus/redux-devtools-instrument/blob/master/src/instrument.js#L324),

[2016-08-02 18:05] ccorcos commented on #173
I created some middleware that sends all user actions to elasticsearch so we can do user analytics. I can query for a session, export all the redux actions into an array, checkout the proper release of the application, and replay the user's experience. :)

[2016-08-02 18:07] ccorcos commented on #173
I'll get on that PR soon. Thanks for pointing me in the right direction :)

[2016-08-03 19:59] zalmoxisus commented on #172
A solution was suggested in https://github.com/alexkuz/redux-devtools-inspector/issues/18. Better to continue the discussion there.

[2016-08-04 08:05] davecarlson opened #174 "Can't get dev tools to stop opening in a new window"
I'd like to only use the extension as part of the web inspector window, however, on every page load it opens up an additional popup as well, even if web inspector is open in the redux tab.

Is there a setting I need to change ?
I've Attached shots of the current config. FYI, I'm running Version 52.0.2743.82 (64-bit)
<img width="1265" alt="screen shot 2016-08-04 at 09 04 50" src="https://cloud.gith

[2016-08-04 08:31] zalmoxisus commented on #174
The extension doesn't open the window, unless you do it from context menu, using the shortcut or by calling `window.devToolsExtension.open`. Most likely you have the latter, which is not intent to be used like that.

[2016-08-04 10:22] mocheng commented on #170
It works now. Thanks.

[2016-08-09 18:43] alisman opened #175 "Action payloads are sometimes Immutable structures and sometimes not"
I implemented deserialize and serialize handlers in dev tool instantiation, but am running into an issue where some of my action payloads are immutable and some not.   When I deserialize action, there is no way I can know.  Any good ideas here?  I suppose I could implement a serializeAction function which tags the item as a serialized from Immutable so I can then know in deserialize?
Incidentally,

[2016-08-09 19:35] zalmoxisus commented on #175
You should have either immutable data for specific action types or for specific object keys, then you can process them correspondingly in the `deserializeAction` function.

Even though `deserializeAction` and `serializeAction` sounds similar, they have different purpose. The latter is intended for those cases when action's payload cannot be serialized with `JSON.stringify` when sending data to the

[2016-08-09 19:41] alisman commented on #175
So, deserialize state is not also called when skipping between states using slider or action selector?  I thought perhaps you were storing past states in serialized form.

[2016-08-10 08:10] zalmoxisus commented on #175
No. On the extension part they are stored serialized (for showing on the monitors). On the app part they are stored as is (so it will not mess up the states). When you close the monitor window, it will free the memory, and will serialize everything again when you open the monitor.

Could you please describe what is exactly the problem you experience if there's any.

[2016-08-11 09:52] weslleyaraujo commented on #96
also, changing the `font-family` would be nice to add 😊

[2016-08-11 13:11] weslleyaraujo opened #177 "debug_session / black list actions effects"
I might have an interesting case with `debug_session`, giving the following example:

My app has a chunk of initial data fetching like:

[code]

So when I add `debug_session=foo` it will persist my state, but after reloading those actions will
be dispatched again and my reducers will process this as it should on the initial page load, bringing
my app to its "initial state".

With this case, I can'

[2016-08-12 18:08] zalmoxisus commented on #177
Could you please give more details about those actions? What do you use for side effects?

`persistState` recomputes the actions in order to give you the actual state, as usually during the development we change the reducers. Blacklisting is just visual, otherwise it will result in an inconsistent state.

[2016-08-13 09:59] zalmoxisus commented on #173
Hey @ccorcos,

Did you have a chance to check if that works? Those changes should be merged in the extension last week.

[2016-08-14 12:30] weslleyaraujo commented on #177
yes definitely, I expressed myself wrongly using the sentence "side effects"

lets say I have a list or "tabs" which will be fetched by an api call triggered on
`componendDidMount` from my root container, so my tabs reducer would be something like this:

[code]

As shown above I have an active flag, which I use in order to highlight/show the current tab in my app...which allows me to have a `SET_T

[2016-08-14 13:22] zalmoxisus commented on #177
I see. You should have the same problem when skipping (toggling actions).

A solution was introduced in `v2.3.0`. See [the description](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.3.0) and [the example of usage](https://github.com/zalmoxisus/redux-devtools-extension/commit/352f0797f041866cf1d73ed5bf1008a6096813ea).

I will add more details in the docs.

Related to #140.

[2016-08-14 15:34] #83 closed

[2016-08-14 15:34] #90 closed

[2016-08-14 15:38] zalmoxisus commented on #130
Any updates on this? If the problem still occur, please provide an example to reproduce, as `apollo-demo` doesn't have this problem.

[2016-08-14 15:38] #127 closed

[2016-08-14 15:38] #126 closed

[2016-08-14 15:41] #163 closed

[2016-08-14 15:42] zalmoxisus commented on #174
Any updates on this? Was it happen because of having that function call?

[2016-08-14 15:45] zalmoxisus commented on #78
It was implemented on [`remotedev-server`](https://github.com/zalmoxisus/remotedev-server)

[2016-08-14 15:46] #78 closed

[2016-08-14 16:19] zalmoxisus opened #178 "Electron deprication warning"
Electron test is fails as having this warning in the console:

[code]

To reproduce that, update `electron-prebuilt` to the latest version.

I don't see this warning in the electron console, and we don't use `transferables` argument. Tried to remove all `window.postMessage` calls from the bundles, and the test still fail with that.

Most likely it comes from some Electron modules. Maybe @jhen0409

[2016-08-15 08:26] weslleyaraujo commented on #177
that's great! thanks for clarifying that for me 👍

[2016-08-15 13:28] davecarlson commented on #174
yes,  it was in the code from another imported package!

[2016-08-15 13:28] #174 closed

[2016-08-15 21:46] ccorcos commented on #173
Not yet -- will do soon though.

[2016-08-16 07:38] zalmoxisus commented on #173
@ccorcos, BTW, @timarney already tried it and even implemented in a [lib](https://github.com/timarney/redux-trackjs-logger).

[2016-08-16 09:17] jumpinjackie opened #180 "Animate updated nodes in graph view"
It would be nice if an action updates node values, that the affected nodes blink/flash/animate-in-some-way in the graph view as a visual indicator that some part of the state got updated.

To use the redux counter example. If I'm in graph view, when I hit + or -, it would be great if the `counter` node (whose value was updated by the increment/decrement actions) blinks/flashes/animates in the grap

[2016-08-16 10:00] zalmoxisus commented on #180
Thanks for the suggestion. It would be awesome indeed. If you can send a pull request to the [chart monitor](https://github.com/romseguy/redux-devtools-chart-monitor) it would be much appreciated by the community.

[2016-08-16 10:38] jhen0409 commented on #178
Maybe it's the same with https://github.com/electron/spectron/issues/107#issuecomment-240066085.

[2016-08-17 11:31] ritz078 opened #181 "Server side support"
Now that chrome can be used to debug node applications post node v6.3.0, it will be great if we can see the store actions in redux devtools while server side debugging.

[2016-08-17 12:16] jhen0409 commented on #181
I have tried node's `v8_inspector`, but it looks not supported Content Scripts, just only get `chrome.devtools.inspectedWindow.eval` works. :\

Currently I still using [Jam3/devtool](https://github.com/Jam3/devtool) (Electron-based) for debug node applications, it looks work fine for `redux-devtools-extension`.

[2016-08-17 12:37] zalmoxisus commented on #181
To allow Chrome to communicate with an external / remote app (not just unidirectional `chrome.devtools.inspectedWindow.eval`), you have to start it with a flag, so it will use its websocket server.

Much easier is to just use [`remote-redux-devtools`](https://github.com/zalmoxisus/remote-redux-devtools), which would send data to the extension from node or any other environment. [Here's an example]

[2016-08-18 09:31] terencechow opened #182 "Position and docking"
Hi,

I have 2 monitors and in my project I have `window.devToolsExtension.open()` which auto opens it every time I start my project.

That's great as I naturally will open it when developing anyways.

However when I select pin to right (third button from the bottom left), it will pin to the right side of my main monitor instead of the right side of my second monitor even when the chrome window is

[2016-08-18 09:38] zalmoxisus commented on #182
I don't have a second monitor, to test now, but [the code we're using for that](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/background/openWindow.js#L38) is just:
[code]

If you could find a better formula it would be much appreciated.

[2016-08-18 09:42] zalmoxisus commented on #182
BTW, you could use `window.devToolsExtension.open('right')` if you prefer having the window on the right side. Or better not to use that function at all, and open the window when needed from context menu or with a [keyboard shortcut](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/FAQ.md#keyboard-shortcuts).

[2016-08-18 23:42] dkoontz opened #183 "State output shows null when store state is not null"
I'm seeing a lot of states that show null for various properties when the state is not null. I tested this with `jsan.stringify` and I'm getting good state there as well so I'm rather confused why the devtool is showing null.

Here is an example, the `ui` property of the state shows null.

![screen shot 2016-08-18 at 4 42 51 pm](https://cloud.githubusercontent.com/assets/7493/17794274/d80d5948-656

[2016-08-19 07:09] zalmoxisus commented on #183
Thanks for the detailed report! Do you have the same problem with Log Monitor or it's specific to the Inspector? If it works well on Log Monitor, then the problem should be with [`javascript-stringify`](https://github.com/blakeembrey/javascript-stringify), which Inspector is using, most likely with [this PR](https://github.com/blakeembrey/javascript-stringify/pull/5).

[2016-08-19 14:15] terencechow commented on #182
Thanks. I've made a pull request and the code is shown below.

https://github.com/zalmoxisus/redux-devtools-extension/pull/184/commits/93e9903f029efd7dfc3dccb5cd63ac513c207e58

[2016-08-19 14:41] zalmoxisus opened #185 "Using the Extension in production"
#### Pros

Even though the extension is meant for development, using it in production gives even more opportunities:
- get the detailed image of what is happening there;
- export the state history right from production into development;
- generate tests for a bug caught in production;
- replicate bugs reported by end-users;
- dispatch actions remotely.
#### No cons
##### Performance

Since your en

[2016-08-19 15:01] zalmoxisus commented on #182
Thanks a lot for the contribution! I published the change to Chrome store, Chrome will autoupdate the extension in several hours. Feel free to reopen the issue if it doesn't work as expected.

[2016-08-19 15:01] #182 closed

[2016-08-19 15:03] zalmoxisus commented on #183
Increased `maxValues` limit for [`javascript-stringify`](https://github.com/blakeembrey/javascript-stringify). If the problem still occurs please provide a minimal repo or a jsfiddle to reproduce the issue.

[2016-08-19 20:11] dkoontz commented on #183
I'm not sure I understand. The issue link is to `javascript-stringify` but the devtools use `jsan` which does not depend on `javascript-stringify`. Did you want me to test using the latest version of one of those libs?

As for your other question about the LogMonitor I am seeing incorrect output there as well.

![screen shot 2016-08-19 at 1 01 32 pm](https://cloud.githubusercontent.com/assets/7493

[2016-08-20 08:02] zalmoxisus commented on #183
Yes, jsan doesn't include `undefined` and functions by default, as JSON.serialize doesn't, anyway that shouldn't be the issue.

The extension doesn't use `javascript-stringify` directly, but `redux-devtools-inspector` uses it. Anyway, if it happens for `redux-log-monitor` as well, then it's not the problem.

Could you please also check if in the extension settings (click the Settings button on the

[2016-08-20 18:34] zalmoxisus commented on #185
There are some opinions that it can make the site XSS vulnerable. The store is not exposed globally, however the extension's enhancer is. My opinion is if some malefic script can replace the enhancer (before store is created), then it can get the data and without that (from web forms or requests).

Any details that it could be dangerous would be helpful.

[2016-08-22 16:39] Akronix opened #187 "Firefox: Chart does not show the props of the state nodes"
Hi!

I'm opening up a local webapp and inspect it with Redux devtools Firefox extension. I go to the chart option and I see the state tree but I can't see the props content of any of the state nodes.
Here's a snapshot:
![screenshot from 2016-08-22 18-30-20](https://cloud.githubusercontent.com/assets/2631430/17862722/c0cb14b4-6896-11e6-889b-30681b821b6c.png)

However, I can see it under chrome with

[2016-08-22 16:44] zalmoxisus commented on #187
Thanks for the report. It's a styling issue, fixed in the current version, will publish it on AMO soon, but it will take about a week to be reviewed. So, if you need it just now, can [build it manually](https://github.com/zalmoxisus/redux-devtools-extension#12-for-firefox).

[2016-08-23 03:32] suweya opened #188 "Warning: Failed prop type: Required prop `monitorState.position` was not specified in `DockMonitor`."
When i use window.devToolsExtension() there is a Warning: Failed prop type: Required prop `monitorState.position` was not specified in `DockMonitor`.

[2016-08-23 07:59] zalmoxisus commented on #188
Most likely, you're having both [vanilla Redux DevTools](https://github.com/gaearon/redux-devtools) and our extension. You should include only the extension, which is [just one line of code](https://github.com/zalmoxisus/redux-devtools-extension#21-basic-store), without any monitors needed (especially `DockMonitor`).

[2016-08-23 17:06] BostjanSkok opened #189 "A state mutation was detected inside a dispatch error when extention is enabled"
Error: A state mutation was detected inside a dispatch, in the path: `actionsById.1`. Take a look at the reducer(s) handling the action {"type":"PERFORM_ACTION","action":{"type":"@@router/LOCATION_CHANGE","payload":{"pathname":"/","search":"","hash":"","state":null,"action":"POP","key":"hm6zpr","query":{},"$searchBase":{"search":"","searchBase":""}}},"timestamp":1471971130067}. (http://redux.js.or

[2016-08-23 17:30] zalmoxisus commented on #189
Could you please share your store setup?

[2016-08-24 10:33] rmgpinto opened #190 "Bug with middleware from redux official site"
I'm getting a bug because some of my actions don't have the 'type' variable but rather 'types' as proposed in redux official site: [http://redux.js.org/docs/recipes/ReducingBoilerplate.html](url)

Example:
[code]
Is there any way I can fix this?

[2016-08-24 10:45] zalmoxisus commented on #190
That's something new. Does that work without the extension? Did you added also the `callAPIMiddleware`? What error message do you get?

[2016-08-24 10:47] zalmoxisus commented on #190
Could you please share a simple example on jsfiddle or even better to send a pr to our examples? So, we could maintain this use case in future.

[2016-08-24 11:09] yarcub commented on #190
@rmgpinto, could it be the order of the enhancers (middleware and devtools)? In what order are they composed?

[2016-08-24 12:40] rmgpinto commented on #190
@zalmoxisus It works without the extension. Error message: `Error: Actions may not have an undefined "type" property. Have you misspelled a constant?`

@yarcub my store is created in the following way:
[code]

[2016-08-24 12:45] rmgpinto commented on #190
I forgot to compose the middleware with the devToolsExtension.
[code]

[2016-08-24 12:45] #190 closed

[2016-08-24 13:13] suweya commented on #188
Thanks I'am fixed it according to your advice

[2016-08-24 13:13] #188 closed

[2016-08-24 14:54] siemiatj commented on #9
Hmm for some reason addon doesn't work for me. Using Fx 48.0.1, installed from AMO. Everything is configured properly as redux devtools show up properly on Chrome. Is adding `devToolsExtension` to the store enough ? That's my configureStore file :

[code]

[2016-08-24 15:56] zalmoxisus commented on #9
@siemiatj, yes it works exactly the same as for Chrome, except the fact that it's not available for DevTools panel (since [it is not supported yet](https://bugzilla.mozilla.org/show_bug.cgi?id=1211859)). So, you have to open it from the popup, context menu, or using shortcuts. Or alternatively, you can open it programatically with `window.devToolsExtension.open()`.

Do you see the extension's icon

[2016-08-24 16:17] BostjanSkok commented on #189
my configureStore.dev.js
[code]
my root reducer
[code]

It's a modified version of React Slingshot

[2016-08-24 16:23] zalmoxisus commented on #189
The extension's store enhancer should be always the last in the `compose`. Please confirm whether it was the problem.

[2016-08-24 19:44] ccorcos opened #191 "Replay App"
So now that we've figured out how to import an array of actions and play them back, I now want to be able to take several action arrays and build a static "replay" application. Basically, we should be able to select a scene from a list, and then scrub through them with a slider (very useful for legal review of loan applications here at Affirm.com ;)

I've already built a little prototype:

![image

[2016-08-25 01:11] fat opened #192 "Actions must be plain objects. Use custom middleware for async actions. :("
Hi!

Your chrome extension is producing the following error with my application:

[code]

We use redux with the thunk middleware (and extra argument) + react-router-redux middleware (looks like this):

[code]

And a sample of how our actions are defined (which are cuasing teh problems) look like this:

[code]

Am I doing something wrong? Without your extension, the app compiles and runs fine. Any

[2016-08-25 07:52] scarlac opened #193 "Remote DevTools loses connection to RN app"
I've got a React Native iOS app with `import devTools from 'remote-redux-devtools'` and added the enhancer (`devTools()`) as well. Everything is working with the extension - graph, inspector, etc.

But when the app is reloaded, the devtools wipes the information clean and never re-connects (it probably detects a disconnect but isn't able to connect for whatever reason).

The workaround is to reloa

[2016-08-25 08:06] zalmoxisus commented on #192
I don't see the extension's enhancer in the provided snippet. Should be:
[code]
Note that the extension's enhancer should be always last in the `compose`. Just in case, `compose` is imported from Redux.

Also, if you want to dispatch actions remotely, after that code you also have to add
[code]

So, [the extension would know about the middlewares](https://github.com/zalmoxisus/redux-devtools-exten

[2016-08-25 08:11] zalmoxisus commented on #193
Thanks for the report. Yes, I can reproduce the issue. It was introduced, with the latest changes. Will fix ASAP.

[2016-08-25 08:33] zalmoxisus commented on #191
Looks interesting. I'm working on [something like this](https://github.com/zalmoxisus/remotedev-server/pull/20) as well. Moreover, I'm planning not only to show scenes (logs / reports), but also to have more details about them (to help collaborative debugging).

Basically, you could import [`remotedev-app`](https://github.com/zalmoxisus/remotedev-app) (which is just a React component you can rende

[2016-08-25 09:13] zalmoxisus commented on #193
Fixed in `2.5.1.5`. It should be available in few minutes in Chrome Store. Chrome will autoupdate th extension in several hours.

[2016-08-25 09:56] zalmoxisus commented on #192
As replied on twitter, looking into the site's code, you're mixing the old Redux API with the new one. The code I provided above should fix the issue.

[2016-08-25 10:59] scarlac commented on #193
Wow, well done @zalmoxisus! I'll check it out when it updates - thanks :)

[2016-08-25 11:27] scarlac commented on #193
Fix confirmed. Closing.

[2016-08-25 11:27] #193 closed

[2016-08-25 12:12] BostjanSkok commented on #189
Looks like that fixed it now the extension works.
Thanks

[2016-08-25 12:13] #189 closed

[2016-08-26 15:34] zalmoxisus opened #194 "Documentation"
The extension has [docs](http://zalmoxisus.github.io/redux-devtools-extension/) now! It's still work in progress.

As [Dan stated in this tweet](https://twitter.com/dan_abramov/status/761549682178916352), the UI of DevTools doesn't show exactly how Redux DevTools is intended to be used. There's still a lot of work to be done to offer a good workflow. However, most of the features are hidden under

[2016-08-26 19:51] ccorcos commented on #191
Whoa, you really took off with this :) I'm more than happy to help if you need any!

Here are some specifics of my situation that I think would be a good idea to consider to make this tool as generic as possible.

1) we're using elasticsearch for our analytics so we can use kibana dashboards and stuff like that. one nuance is that elasticsearch is sql-backed so we cant have nested objects. so I ha

[2016-08-27 07:48] zalmoxisus commented on #191
Though [`js-data-elasticsearch`](http://www.js-data.io/v3.0/docs/team) is just planned, it's rather easy to [implement a custom adapter for `js-data`](http://www.js-data.io/docs/working-with-adapters#custom-adapters).

We want our dashboard, which will allow to filter reports and to show related reports. So, if you got a similar one, will know how it was solved before.

Even though in our architec

[2016-08-28 13:30] toranb opened #195 "thank you!"
I just wanted to leave a quick comment saying how truly awesome this project is! I've been using this w/ my ember projects for the past few months and couldn't thank you enough for building and maintaining such a powerful tool!

thank you !!!

[2016-08-29 13:50] zalmoxisus commented on #187
`v2.5.1` is available on [AMO](https://addons.mozilla.org/en-US/firefox/addon/remotedev/), which includes the fix for this issue. Please let me know if you experience any other troubles there.

[2016-08-29 13:50] #187 closed

[2016-08-29 17:03] ritox842 opened #196 "redux-devtools with the new rxjs/store"
Hey all.

I've installed the new beta version of ngrx/store.
In the new version there isn't any "createStore", but some code that should be insert into the ngModule.
Because I dont have the "createStore", I cant implement the redux-dev-tools..
Did anyone manage to use it?

This is the ngModule code:

`    StoreModule.provideStore({bet: betReducer }),`

I've tried to put it inside the provideStore

[2016-08-29 17:33] Akronix commented on #187
Yeah, I've already got it.

Thank you folks!

[2016-08-29 17:53] #173 closed

[2016-08-29 18:05] ccorcos commented on #191
So Kibana and Elasticsearch are for doing user analytics, creating dashboards about app usage, and analyzing A/B tests. That's not within the scope of this project. But I did want to point out that if you send Redux actions only on errors, you're missing out on a plethora of very rich usage information. I'm sending all Redux actions to our analytics/tracking stack -- I'm flattening the actions so

[2016-08-29 19:48] zalmoxisus commented on #191
Definitely. Except `sendOnError`, there's [`sendOn` option](https://github.com/zalmoxisus/remote-redux-devtools#parameters), where you can list actions for which you want to send the logs. If you want to send all actions, then using websockets would be much more effective, so you just set `realtime` option to `true`. You can even specify an action for which to start logging (for example it could b

[2016-08-29 19:56] zalmoxisus commented on #196
Hey @ritox842,

You have to use [`ngrx/store-devtools`](https://github.com/ngrx/store-devtools), which includes the extension. If you have troubles with it, better to continue the discussion [here](https://github.com/zalmoxisus/redux-devtools-extension/issues/77).

[2016-08-29 19:56] #196 closed

[2016-08-30 06:17] msmfsd opened #197 "Multiple browser windows issue"
Love the devtools!

I have an app using node web sockets and redux and when testing If I have multiple chrome windows with URLs that contain the same host/port the devtools appears to try to connect to all of them and then continually fire off an action over and over again. This makes the Google Chrome Helper maxing out my Mac's CPU.

Not sure this is bug, just thought it may worth a mention. I am

[2016-08-30 06:26] msmfsd commented on #197
Closed. This was caused by a recursive loop from server to client. Doh..

[2016-08-30 06:26] #197 closed

[2016-08-30 07:38] BTMPL opened #198 "State not updating after moving forward in slider"
Hello

I've a somehow big, proprietary app so I can't share the source, but I've got a productReducer, that holds an array of products and has an action:

    case actions.PRODUCT_UPDATED:
      return state.map(product => {
        if(product.productId == action.productId) {
          return objectMerge(product, action.payload);
        }
        return product;
      });

objectMerge is just:

[2016-08-30 07:45] zalmoxisus commented on #198
Thanks for the report. Do you experience this problem on Chrome devtools panel or from the extension's window? If first, please try also to open it in a window (just click the first button from the bottom) and also open the chrome console (Cmd+Alt+I) to see if there's an error there.

[2016-08-30 07:48] BTMPL commented on #198
I'm using the extension window (eg. right click on icon > to left). I've opened the extension window developer tools pane (right click in the extension window > inspect) but sadly there are no errors reported.

[2016-08-30 08:15] zalmoxisus commented on #198
Unfortunately, cannot replicate it with our examples. A simple repo or jsfiddle to reproduce the issue would help.

[2016-08-30 08:17] BTMPL commented on #198
Ok, I've made a quick example of an issue I'm experiencing, though this one doesn't even navigate back :(

http://anfo.pl/tmp/react/

You can add new accounts an navigate back/forward just right, but when you change (add amount, change name) an account, you can't navigate between the states.

The bundle has a map file so you should be able to access the original source - it might be an error on my

[2016-08-30 08:40] zalmoxisus commented on #198
Thanks for the example. I see time traveling works, just the state value is not updating, which is a client side problem. Most likely, you're mutating the state. To prevent this, just add `redux-immutable-state-invariant` middleware (make sure to have it only in development, not to slow down the production build). Also, some middlewares could be the problem (if so, please provide the store configu

[2016-08-30 08:55] siemiatj commented on #9
So I don't have the icon on the location bar, but I can open it programmatically. And suddenly it started working properly.

That's my store definition if anyone finds it useful :

[code]

[2016-08-30 09:00] zalmoxisus commented on #198
The problem is only with `ACCOUNT_UPDATED` action, it should be probably
[code]
instead of
[code]

[2016-08-30 09:14] BTMPL commented on #198
Thank you - you were right, the state was mutating but in the different way.

It should be:

    return Object.assign({}, item, action.payload);

This solves the issue in the example I've provided, and will probably solve the error in my original code, and as such I'm closing this issue.

Thank you for your help and recommending `redux-immutable-state-invariant"`

Cheers

[2016-08-30 09:14] #198 closed

[2016-08-30 09:16] zalmoxisus commented on #9
@siemiatj, you're mixing the old Redux API with the new one, which is not supported. In the new API you pass enhancers (and middlewares) via the third createStore argument. It should be:
[code]

[2016-08-31 02:59] mocheng opened #199 "No Drop-down menu after clicking "Autoselect Instances""
Mac OSX El Capitan 10.11.6 (15G31)
Chrome Version 52.0.2743.116 (64-bit)
Redux DevTools 2.5.1.6

After read this [blog](https://medium.com/@zalmoxis/redux-devtools-without-redux-or-how-to-have-a-predictable-state-with-any-architecture-61c5f5a7716f#.dzg2f62ch), I tried to create store for my component in additon to the "global" redux store. However, I cannot switch between two stores. This makes mu

[2016-08-31 07:32] zalmoxisus commented on #199
Thanks for the report! It happens only when there's no `document.title` on the inspected page and no `name` parameter provided explicitly. I fixed it yesterday in https://github.com/zalmoxisus/redux-devtools-extension/commit/f25c7cb5b755f23011c994cd4c3afd4176dbc78a, will publish it on Chrome Store today.

[2016-08-31 08:20] zalmoxisus commented on #199
`v2.5.1.7` is available on Chrome Store. Chrome should update it in several hours, but you can remove and install extension again if want to try it right now.

Please let me know if you experience any other troubles with this.

[2016-08-31 11:28] luisherranz opened #200 "Displaying (new) Error objects."
I'm loving the devtools so far.

The only problem I found is that when the app catches an error and pass it to the action, devtools doesn't display that object.

With redux-saga is usually something like this:

[code]

If I debug the app in that point, the `error` is fine. I can print it in the console. For example:
[code]
But in the devtools panel, the error object of that action is empty:
![scre

[2016-08-31 11:38] zalmoxisus commented on #200
Yes, I noticed it as well. The problem is that the Error object cannot be serialized, so you should construct it directly from your app like `{ error: error.message }`.

I have in mind a solution to pass the data to the extension without serializing it via shared workers, but not sure it will work. I'll leave this issue open till get a change to check that approach.

[2016-08-31 12:07] luisherranz commented on #200
Ok, thanks! We'll use the workarounds until then.

[2016-08-31 13:26] OddEssay opened #201 "Unable to "Select Instance" from the Chrome Dev Tools Panel"
When I look at the Redux tab in the Chrome Dev Tools, I don't have the "Select Instance" drop down, but if I trigger the tool by either clicking on the icon in the menu bar, or detaching a remote redux inspector, everywhere else the option to change instance shows up as expected.

![noinstanceselectioninchromedevtools](https://cloud.githubusercontent.com/assets/837227/18130167/ddc224a4-6f85-11e6-9

[2016-08-31 15:21] zalmoxisus commented on #201
Thanks for the report. Before by instances we meant tabs, so that's why it wasn't intended to be selected from Chrome DevTools Panel (which corresponds to the current tab), but only from the extension's window. Now that we support multiple stores in the same app, it makes sense to add the selector there as well.

[2016-08-31 16:03] OddEssay commented on #201
Thanks @zalmoxisus :) - Yeah, I only noticed it because Intercom use Redux for their widget state etc and leave the devtools hook switched on, so even though I only use a single store myself, every time the Intercom state updates focus switches to their store, not my own. 🤔

[2016-09-01 01:55] mocheng commented on #199
It works  in `v2.5.1.7`. Thanks for the effort!

Now I can add `name` by applying devToolsExtension as enhancer to redux.
[code]
But, to create a store by the enstesion, there is no clear documentation about it. The first and second argument is reducer and initial state respectively. It ried to add config as third argument, but it doens't work.
[code]
How to config name in this situation?

![image

[2016-09-01 07:49] zalmoxisus commented on #199
@mocheng,  yes, [`config` is the third argument](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/API/Arguments.md#windowdevtoolsextensionreducer-preloadedstate-config). You're doing everything right.  Maybe `this.displayName` is an empty string or is defined after you call `win.devToolsExtension`?

Just tried to replace [this line](https://github.com/zalmoxisus/redux-devtoo

[2016-09-01 09:50] sompylasar opened #202 "More unique global variable name than `devToolsExtension`"
The chosen global variable name `devToolsExtension` in the shared `window` namespace is too vague and may easily conflict with other browser extensions.

I suggest to make it explicit and rename it to `reduxDevToolsBrowserExtension`.

Yes, this would be a breaking change, but the change will be future-proof and fix the initial name choosing error.

[2016-09-01 10:19] zalmoxisus commented on #202
Thanks for the suggestion. Do you have a specific issue with any other browser extensions using this name?

See also [my proposal of renaming it to `remotedevExtension`](https://github.com/zalmoxisus/redux-devtools-extension/pull/99#issuecomment-234779532).

There are two issues with `reduxDevToolsBrowserExtension`:

1. It's too long when using [the API](http://zalmoxisus.github.io/redux-devtools-

[2016-09-01 11:05] sompylasar commented on #202
@zalmoxisus No, I haven't got any issues, though I prefer to keep unique naming when I have to put something into the global, shared namespace, regardless of the **current** conflicts, to make **future-proof** solutions. Especially if that global namespace is polluted by a third-party library where there is no control over what is injected.

It's never too long when you put it into a global, share

[2016-09-01 12:22] zalmoxisus commented on #202
The difference is that you never use this name explicitly.

I agree on renaming, but I prefer names that can be typed, not to copy paste it every time you want to call a method. I understand that you're using only the store enhancer, and it's not a problem in your specific case (as you will add it just once).

[2016-09-01 12:28] zalmoxisus commented on #202
Yes,

[2016-09-01 12:30] zalmoxisus commented on #202
So, till now the candidates are:

- **remotedevExtension**
- __REDUX_DEVTOOLS_EXTENSION__
- **reduxDevToolsBrowserExtension**

[2016-09-01 12:45] zalmoxisus commented on #202
To clarify about `remotedevExtension`, [`remotedev-app`](https://github.com/zalmoxisus/remotedev-app) is the core of the extension. [`remotedev.io`](http://remotedev.io/local/) is almost identical to the extension. And `window.devToolsExtension.connect(options)` is identical to:

[code]

[2016-09-01 14:57] zalmoxisus commented on #192
@fat, did you get a chance to check it out? Any updates on this issue?

[2016-09-01 15:09] zalmoxisus commented on #202
In case we'll go with `__REDUX_DEVTOOLS_EXTENSION__`, it would require to have an npm package to substitute this name, like:

[code]

So generally the module will contain:
[code]
And also export the API.

[2016-09-01 15:37] sompylasar commented on #202
Right, that would be awesome.

[2016-09-01 15:37] sompylasar commented on #202
import devToolsExt from 'redux-devtools-extension-bridge';

[2016-09-01 16:23] zalmoxisus commented on #202
It could be just `import devToolsExt from 'redux-devtools-extension'`. Just published an alpha release to npm to reserve the name. 😏

[2016-09-01 21:16] dkoontz commented on #183
Alright I have some more info. This issue seems to only happen in Electron.

This is what happens in a browser

![screen shot 2016-09-01 at 1 49 01 pm](https://cloud.githubusercontent.com/assets/7493/18183831/0863713e-704b-11e6-95b9-28b42b83803e.png)

And with the exact same store/reducer/dispatch in Electron

![screen shot 2016-09-01 at 1 48 47 pm](https://cloud.githubusercontent.com/assets/7493/

[2016-09-02 00:35] mocheng commented on #199
Cool! It works!
Thanks

[2016-09-02 00:36] #199 closed

[2016-09-02 08:54] Vlemert commented on #183
Hi, I'm running into the same problem as described above. Only in Electron as well. As far as I can tell it only happens when more than one dispatch is called at the same time. If we add a timeout of 250+ ms on consecutive dispatches the issue doesn't appear to happen.

What's interesting is that when the issue arises, it retroactively changes the state in previous dispatches.

Initial state:
![sc

[2016-09-02 11:13] zalmoxisus commented on #183
@dkoontz, thanks for the repo, but I cannot seem to reproduce it there :-/

<img width="1087" alt="screen shot 2016-09-02 at 2 05 43 pm" src="https://cloud.githubusercontent.com/assets/7957859/18202077/92269132-7116-11e6-9a8f-64e5f1689949.png">

Maybe updating the extension could help (like [here](https://github.com/chentsulin/electron-react-boilerplate/pull/263/commits/f2b9b3eaa84e8f235d5d8b56ed6

[2016-09-02 11:21] zalmoxisus commented on #183
@Vlemert, yes, to prevent flooding, [if dispatching occurs more frequently than once in 200ms](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/app/service/Monitor.js#L26-L36), the actions a batched in one request. However, if that's the issue, you should reproduce it also when having monitor actions (for example when skipping / toggling actions).

[2016-09-02 11:31] zalmoxisus commented on #183
It could be the issue, serialization should be `true` by default, but it seems that configuration object is empty on electron. Checking `devToolsOptions.serialize !== false` instead should help.

[2016-09-02 11:45] zalmoxisus commented on #183
Published the fix in `2.5.1.8`. It should be available in about an hour on Chrome Store. Please give it a try.

[2016-09-02 11:49] Vlemert commented on #183
Thanks for the quick response! We'll keep an eye on the store and retry with the updated version.

[2016-09-03 07:41] ozum opened #203 "Please delete"
Sorry wrong repo. Please delete.

[2016-09-03 07:43] #203 closed

[2016-09-05 08:20] mzygmunt opened #204 "Inspector's state tab doesn't refresh immediately after timeline change"
Hello,
I noticed that the inspector's state tab doesn't refresh immediately after timeline change or when I skip some previous actions in its window.

![image](https://cloud.githubusercontent.com/assets/13297558/18241637/8e4b9efc-7352-11e6-93d2-2c3cf5b6649d.png)

[2016-09-05 08:58] zalmoxisus commented on #204
Thanks for the report. The monitor updated when it receive a response from the app. In case you have large payloads in action or state objects, serializing the response can take a while.

A current solution would be to either set a lower number for `Limit the action history to` in Settings or, in case you have a very big object there (for example some blobs), you can strip them as following:
[code

[2016-09-05 09:28] mzygmunt commented on #204
Thanks for quick response! It works for me.

[2016-09-05 18:17] fat commented on #192
Checking it out today, thanks! Ill close for now and reopen if it's still a problem

[2016-09-05 18:17] #192 closed

[2016-09-05 20:48] fat commented on #192
Yep, deployed and fixed it.

I was doing this before:

[code]

But switching it to this fixed the error:
[code]

thanks for the help!

[2016-09-06 09:38] arjunu opened #205 "Reducer is called with previously performed actions when asynchronously loading another reducer"
Seeing a weird bug only when I use the extension (2.5.1.9). Not using it with Vanilla DevTools. Have followed instructions in the README to set it up.

The bug is: my reducer is called with previous actions when asynchronously loading another reducer.

Say I perform actions say ACTION_X and ACTION_Y in a page. I leave the page and go to another where the new page's reducer is injected. When this h

[2016-09-06 10:26] BTMPL opened #206 "Not working with redux-form"
Hello

I'd like to follow up on my previous issue ( https://github.com/zalmoxisus/redux-devtools-extension/issues/198 )

I think I've isolated the issue to redux-form. Example of erratic behavior:

1. clone and run https://github.com/erikras/redux-form/tree/master/examples/initializeFromState
2. press "load account"
3. use redux-devtools Slider to rewind one step
4. use Slider to go forward on ste

[2016-09-06 11:06] zalmoxisus commented on #205
Yes, it's as expected and the same problem is with vanilla Redux DevTools.

We don't support `replaceReducer`, because [we use it for hot reloading](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/examples/counter/store/configureStore.js#L21), so when it happens, [`redux-devtools-instrument`](https://github.com/zalmoxisus/redux-devtools-instrument) recomputes the action history.

[2016-09-06 11:16] zalmoxisus commented on #205
A simple solution would be to introduce `Cycle mode` and recompute reducers for `replaceReducer` only when this mode is activated. So, one will select this mode only when working on a specific feature, exactly as @gaearon described.

[2016-09-06 11:41] arjunu commented on #205
Where I can read about using Cycle mode?

[2016-09-06 11:45] zalmoxisus commented on #205
@arjunu, [here](https://twitter.com/dan_abramov/status/761549682178916352). It's just an idea yet.

[2016-09-06 12:22] arjunu commented on #205
Ok thank you!

[2016-09-06 13:33] zalmoxisus commented on #206
@BTMPL, thanks for investigating this!

To see what exactly action is applied select Log Monitor instead of Inspector (from the select box on the top).

I just tried [the demo](http://redux-form.com/6.0.2/examples/initializeFromState/) and it works as expected. When you dispatch `redux-form-examples/account/LOAD` action, after a while another action (`redux-form/INITIALIZE`) is dispatched in the b

[2016-09-06 14:06] BTMPL commented on #206
@zalmoxisus thanks for pointing out those actions - they were in ignored list in my extension config (not sure if that's by default or not - if those are there by default might consider removing them as it might end up confusing more people :)); removing them from the ignored list allows me to navigate through them all and is repopulating the app state as expected.

Only issue I'm seeing now (with

[2016-09-06 14:46] zalmoxisus commented on #206
Agree. We can continue the discussion here as it's related to both projects.

A solution we have for dealing with side effects when time-travelling is to [check `isTimeTraveling` function](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.3.0) on `redux-form` part. Not sure it is the best way to solve this.

That's another problem. We should "jump" blacklisted actions' states.

[2016-09-06 20:51] okonet opened #207 "Constantly replaying actions + multiple instances in the dropdown"
I'm using a version from Chrome store with Chrome Version 52.0.2743.116 (64-bit) and seeing a very strange behavior:

1. I can't find a tab in the developer's tools. See #95
1. The extension constantly replaying all my actions
1. It adds multiple instances to the target dropdown

See video:

![2016-09-06 at 22 51](https://cloud.githubusercontent.com/assets/11071/18290617/7d48da24-7484-11e6-8d2b-d1

[2016-09-07 08:05] zalmoxisus commented on #207
Something goes wrong there for sure.

Can you replicate this problem with [our demos](https://github.com/zalmoxisus/redux-devtools-extension#demo)? If not a minimal repo to reproduce that would help.

[2016-09-07 08:42] zalmoxisus commented on #191
Hey @ccorcos,

It takes more than I've expected, as have to refactor the whole app. See https://github.com/zalmoxisus/remotedev-app/pull/16.

The good news is that it will be possible to use it without `remotedev-server`, just by using your reducers which will interpret the `remotedev-app` actions. I'll add an example with using only the slider monitor (as you wanted) when it will be ready.

BTW,

[2016-09-07 10:18] okonet commented on #207
I could not reproduce it with the demos (remote or local). I also checked demos against my repository and they look almost identical. My repository is located here: https://github.com/okonet/fifteens-trix.

[2016-09-07 11:03] zalmoxisus commented on #207
Thanks for the example. BTW, great app!

Unfortunately, I cannot replicate it there, it works without problems. Was thinking it could be related to hot-reloading, but cannot replicate with it either.

I'm working now on refactoring everything so it should be possible to detect such bugs easier (by [debugging Redux DevTools Extension with Redux DevTools Extension](https://twitter.com/mdiordiev/stat

[2016-09-07 11:27] okonet commented on #207
Hmm, weird. I've tried re-installing all `node_modules` as well but still can reproduce it locally. Any idea where to look for the source of this?

[2016-09-07 11:33] zalmoxisus commented on #207
Open `chrome://extensions/`, on the top of the page check `Developer mode`, then find the extension and click on `Inspect views: background page`. Maybe there's an error you can see in the console there. I guess removing and installing the extension again should solve the problem, though we'll not know what was the bug.

BTW, I'm using exactly the same version of Chrome `Version 52.0.2743.116 (64-

[2016-09-07 11:42] okonet commented on #207
Re-installing the extension solved it! Thanks so much for your assistance @zalmoxisus!

[2016-09-07 11:42] #207 closed

[2016-09-07 12:57] atrauzzi commented on #201
Would love to see this update pushed to the chrome app store so that I don't have to keep a window popped out.

[2016-09-07 18:56] ccorcos commented on #191
nice looks good!

any suggestions on how to figure out how "enhancers" work? Whats the simplest example?

[2016-09-07 22:19] mAAdhaTTah opened #208 "Dropped Actions?"
I'm working on an app, and there is a point whereby 3 or 4 actions are dispatched fairly quickly, and I'm not seeing them appear in the devtools. I've verified every which way that they are actually being dispatched into the store, but they're not showing up . Have there been any reports of actions being "dropped" this way?

[2016-09-08 08:09] zalmoxisus commented on #191
The simplest example I guess is [`applyMiddleware`](https://github.com/reactjs/redux/blob/master/src/applyMiddleware.js), which is also an enhancer. However, keep in mind that the store enhancer's API [will be different](https://github.com/reactjs/redux/pull/1702) in Redux 4.0.

I guess for your use case using a middleware is enough. If you want more control (like sanitizing, blacklisting actions.

[2016-09-08 08:16] zalmoxisus commented on #208
Thanks for the report. I'm also dispatching multiple actions simultaneously in my apps and have no problems with that.

If there are lots of actions and only the first of them are missing, you should increase `Limit the action history to` on the Settings (Options) page.

If that's not the problem please provide a minimal repo or jsfiddle to reproduce the issue.

[2016-09-08 14:41] mAAdhaTTah commented on #208
Not so many that it hits the limit. There are four dispatched basically simultaneously and it doesn't seem to be appearing in the devtools. Then there are four more later, of which one or two are showing up. The state appears the be changing in response to the actions though, so I'm not sure where the bug is just yet. If I'm the only one experiencing it, it's probably me, but I'll keep investigati

[2016-09-08 15:11] zalmoxisus commented on #208
Usually an action doesn't appear in the monitor because the state is mutated inside its reducer. It can be checked easy by adding adding `redux-immutable-state-invariant` middleware.

Not sure that's the issue. Feel free to reopen it when you get more details.

[2016-09-08 15:32] siirila opened #209 "Replaying Actions doesn't work in an iFrame"
We have our Redux store inside an iFrame. The Redux devtools are able to see the actions and store state without issue, but when I try to replay the actions through the slider they are not affecting the application. If I run the same application outside of the iFrame the replay works correctly.

After looking into this a little more I found that if I am using the DevTools tab replay is not working

[2016-09-08 15:38] mAAdhaTTah commented on #208
Is it possible that, if the payload is not serializable, the action would get missed? The objects attached to the dropped Actions' payload are not simple JSON-y objects (for legacy migration reasons) but complex objects w/ methods and some state and all that noise.

[2016-09-08 16:24] zalmoxisus commented on #208
If you don't see any exceptions in the console, then `jsan` should serialize them. The problem however is that it can take a lot of time to serialize them, probably that causes the issue.

[2016-09-08 19:27] ccorcos commented on #191
oh interesting. not actually all that complicated.

[2016-09-08 21:36] mAAdhaTTah commented on #208
On the off-chance `jsan` chokes on an action, e.g. throws an error or something, would that show up visibly or possibly drop the action silently?

[2016-09-09 07:41] zalmoxisus commented on #208
It would be thrown an exception in this case, seen in the console.

Do you have dispatched more than 4 actions in a second? If yes, then [this part](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/app/service/Monitor.js#L26-L36) should be the problem. So, while serializing the history, a new action is dispatched and skipped. If that's the case, I will remove this part as bei

[2016-09-13 12:53] badtant opened #210 "Getting error when running redux-saga. Cannot convert undefined or null to object"
So,

I have an app that didn't use redux-saga before. Dev tools was working great.
I've then started to test some saga code and I ran into problems with the dev tool.

[code]

As long as dev tools is closed it's working so I don't have much clue except for trying to ask here. Does anybody have any clue what this is about?

Oh, and I'm using webpack and hot reloading.

Thanks

[2016-09-13 15:56] zalmoxisus commented on #210
Make sure you didn't uncheck the serialization option in the Settings.

According to the error message, you have something in the states that `window.postMessage` cannot pass, which should be handled if the serialization option is enabled.

[2016-09-13 16:38] badtant commented on #210
Hmm, not quite sure what setting you mean. Is this the one?
window.devToolsExtension.connect({ shouldStringify: false })

Or any of the ones specified here? http://zalmoxisus.github.io/redux-devtools-extension/API/Arguments.html#windowdevtoolsextensionconfig

[2016-09-13 17:46] zalmoxisus commented on #210
If that option is checked, could you please provide more details about the app? About reducers and the state types you're using. At least the value of that variable for which `toJSON`fails.  It seems that it throws from `jsan`.

[2016-09-13 17:51] badtant commented on #210
Thanks, I'll have a look first thing tomorrow!

[2016-09-14 07:20] badtant commented on #210
The serialization option was checked but I got the same error both with checked and unchecked. Anyway, I found what was not serializable in my state and fixed it so it's working now.

Thanks for your help!

[2016-09-14 07:20] #210 closed

[2016-09-15 12:44] #208 closed

[2016-09-15 12:46] zalmoxisus commented on #201
Just published `v2.6.0`, where it's possible to select instances from devpanel. Moreover, the current tab's instance will be selected by default.

[2016-09-15 12:46] #201 closed

[2016-09-15 14:35] mAAdhaTTah commented on #208
Ok cool, thanks. Is there a way to tell what version of the extension I have installed?

[2016-09-15 14:55] zalmoxisus commented on #208
Sure, just look for the extension on `chrome://extensions/`. Chrome autoupdates the extensions, but it can take several hours.

[2016-09-16 09:59] tbitowt opened #212 "Specyfying name for stores does not work"
I have problem with specyfing names for the stores which should be visible in devTools window.

I'm using `react-redux-provide` in my project and I've configured my project actually to work with devtools-extension, but the problem is that instead of store name, extension shows me some kind of hashcode.

I have done steps:

- added this to the place where store is created

`
window.devToolsExtensio

[2016-09-16 10:21] tbitowt commented on #212
2 more things:
- It's strange that devTools extensions shows in main browser window automatically with instance selector. On other computers it shows without that selector.
- When I reload page while devTools extension is visible. It's loosing connection to stores, and shows message:
`
No store found. Make sure to follow the instructions.
`

[2016-09-16 10:56] zalmoxisus commented on #212
Thanks for the report. I cannot replicate that problem with [our examples](https://github.com/zalmoxisus/redux-devtools-extension/tree/master/examples), adding a `name` parameter works as expected. An example to replicate that would be welcome (probably forking and changing the examples from [`react-redux-provide`](https://github.com/loggur/react-redux-provide)) as I'm not familiar with that libra

[2016-09-16 11:23] tbitowt commented on #212
@zalmoxisus: It seems that yesterday update broke the naming  of stores too. It seems that it's working fine with version 2.5.1.9.

[2016-09-16 11:37] zalmoxisus commented on #212
Well, before we were sending `name` with every update, which wasn't optimal. Now we're sending it only with first update.

I need an example to reproduce the problem to see how we can handle that use case. I've checked for Redux, React and Mobx. For all 3 examples the name parameter is passed properly.

[2016-09-16 12:01] tbitowt commented on #212
Here's my reproduction package.
`reproduction.zip` contains my source files
react-redux-provide.zip is a copy of node_module with my changes (only added devtools_extension registration in `createProviderStore.js` file)
[react-redux-provide.zip](https://github.com/zalmoxisus/redux-devtools-extension/files/476758/react-redux-provide.zip)
[reproduction.zip](https://github.com/zalmoxisus/redux-devtool

[2016-09-16 13:21] zalmoxisus commented on #212
@tbitowt, thanks! I replicated and fixed it. Will publish on Chrome Store in few hours.

BTW, you can [pass Extension's enhancer to `react-redux-provide`](https://github.com/loggur/react-redux-provide#enhancer) without forking it.

[2016-09-16 13:55] tbitowt commented on #212
Thanks,

BTW. Thanks for finding the solution for not forking this library!

[2016-09-16 15:01] bdwain opened #213 "In 2.6.0 I can't time travel in the chrome devtools tab"
If i open the chrome dev tools and click an action in the redux tab, it doesn't rewind it. It works if I open redux devtools in a chrome panel though. And the changes are then reflected in the devtools tab.

[2016-09-16 15:41] zalmoxisus commented on #213
This should be fixed in `2.6.1`. Please give it a try (remove the extension on `chrome://extensions/` and install again from [chrome store](https://chrome.google.com/webstore/developer/dashboard) or wait several hours till Chrome will autoupdate it), and let me know whether the problem persists.

[2016-09-16 15:42] zalmoxisus commented on #212
All the issues should be fixed in `2.6.1`. If there still something goes wrong, feel free to reopen the issue.

[2016-09-16 15:42] #212 closed

[2016-09-16 15:45] zalmoxisus commented on #209
Just published `2.6.1`, where it's supporting iframes from the devpanel. Please let me know if you're still experiencing any problems there.

[2016-09-16 15:45] #209 closed

[2016-09-16 15:46] bdwain commented on #213
All good now. Thanks for fixing that so quickly!

[2016-09-16 15:46] #213 closed

[2016-09-17 14:09] stefk commented on #212
Hi,

`2.6.1` did fix the *no store found* error for me, but now there aren't any actions shown after `@@INIT` anymore. I'm almost 100% sure it isn't a mutation issue as I use redux-freeze. Also the same code base was working fine before `2.6.0`. Should I open a new issue?

This is really blocking, so any feedback would be greatly appreciated!

[2016-09-17 15:05] stefk commented on #212
It appears that sometimes simply upgrading from chrome://extensions isn't enough. After restarting the browser, everything works fine. Sorry for the noise.

[2016-09-18 08:07] zalmoxisus commented on #212
@stefk, no probs. If you're experiencing this problem again, please let me know, check "Developer mode" on top of `chrome://extensions` page, and then click on `background page` bellow the extension's name. There should be an error message.

[2016-09-19 06:54] dht opened #214 "Error: The previous state received by the reducer has unexpected type of "Function""
I followed the installation instructions and changed my store creation method to this:

`const store = createStore(holoApp, applyMiddleware(timestamp, ReduxThunk), window.devToolsExtension ? window.devToolsExtension() : f => f); // logger , firebase, recorder ,autosave`

Yet I am getting an error:
<img width="758" alt="error" src="https://cloud.githubusercontent.com/assets/137832/18624281/087d3288

[2016-09-19 07:46] levonlin commented on #212
Hi @zalmoxisus, I use the 2.6.1 version, but sometimes the "no store found error" would appear in the chrome DevTool panel, and if I open this redux devtool extension with pop windows, it always works ok. I have checked the error information with the [TodoMVC demo](http://zalmoxisus.github.io/examples/todomvc/), here is the log:
[code]

[2016-09-19 08:26] skosno commented on #205
Is there any way to go around this issue? Disabling devtools is an option but would prefer to have them.

[2016-09-19 08:55] jeescu commented on #214
I got the same error, not until I switched place the `window.devToolsExtension`  as the second arg of the `createStore`. It shows up but forever loading. Help

[2016-09-19 12:06] Vlemert commented on #183
Ok so I went on vacation and my colleagues never checked on this, but the issue seems to persist.

I tested typing `window.devToolsOptions.serialize = true` in the console and that definitely fixes the issue. Even doing this works: `window.devToolsOptions.serialize = 'lala'`. Looked around your code but can't seem to find why this would make a difference.

[2016-09-19 12:17] Vlemert commented on #183
Whoops, it appears that the extension was never reinstalled in electron, so I was still running the old version. The latest version works like a charm. Thanks!

[2016-09-19 22:53] dkoontz commented on #183
This is fixed for me as well.

[2016-09-19 22:53] #183 closed

[2016-09-20 08:41] zalmoxisus commented on #214
It should be:
[code]
`compose` is imported from redux along with `applyMiddleware`.

[2016-09-21 01:19] MikeRyan52 commented on #77
@zalmoxisus Next release of ngrx/store-devtools will have full extension compatibility. Let's coordinate an announcement.

[2016-09-21 07:49] zalmoxisus commented on #77
@MikeRyan52, that's awesome! I'll add it to the README.

[2016-09-21 20:16] talolard opened #215 "redux-devtools cannot find store (On demo site and my own)"
Hello,
Thanks for this fantastic tool. Unfortunately I've realized how important to em it's become now that it's not working for me.
I get a message

This happens both on my site as well as on the demo sites.  [Screenshot of demo site](http://imgur.com/a/2brDE)
I'm running it on Chrome. My Chrome version details are
`

Thanks for taking a look

[2016-09-22 07:13] joeruello commented on #215
I was having a similar issue, but on chrome 52, I just updated to 53 (latest as of this post) and it's working again.

[2016-09-22 09:39] zalmoxisus commented on #215
Should be fixed in `2.6.1.1`. Feel free to reopen the issue if still something goes wrong.

[2016-09-22 09:39] #215 closed

[2016-09-22 09:40] zalmoxisus commented on #212
@levonlin, should be fixed in `2.6.1.1`.

[2016-09-22 10:25] #214 closed

[2016-09-25 19:37] rougeth opened #216 "[firefox] Create a tab for redux devtools panel on developter tools"
When I use redux devtools on Firefox, a new window is opened and it would be much better if I could have it fixed on the developer tools, just like on Chrome. I couldn't figure out if there's an option to have this behavior.

Awesome work on this, thank you folks!

[2016-09-26 06:58] zalmoxisus commented on #216
Thanks for the feedback! We're using the new WebExtension API, where [it's not possible yet](https://bugzilla.mozilla.org/show_bug.cgi?id=1211859). As soon as that issue is fixed, will add the monitor on Firefox DevTools panel.

Closing in favour of #9.

[2016-09-26 06:58] #216 closed

[2016-09-26 13:26] rougeth commented on #216
thanks @zalmoxisus!

[2016-09-29 20:02] chrylis opened #217 "Notification popups can't be disabled"
The extension fires a native notification every time there's an error in the application, **with no way to turn it off**.

[2016-09-29 20:11] zalmoxisus commented on #217
Did you try to uncheck `Show errors` checkbox on the extension's option page (click `Settings` button to open it)?

[2016-09-29 20:24] zalmoxisus commented on #217
I tried it now, disabling the notification from the setting works as expected. In case I misunderstood the problem or it still doesn't help, feel free to reopen the issue.

We could disable it by default for better UX (especially in production), though it shouldn't annoy as we've implemented an kind of [anti-flooding system](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/ap

[2016-09-29 20:24] #217 closed

[2016-09-30 07:32] zalmoxisus opened #218 "Disable error notifications by default"
Even though I think it's one of the basic features of the extension to catch errors (especially in reducers) and show which action caused that, it seems to cause [bad UX for some use cases](https://github.com/zalmoxisus/redux-devtools-extension/issues/217), especially for sites using the extension in production.

[2016-10-03 01:10] olalonde opened #219 "Warn when window.devToolsExtension is undefined"
I have the extension installed in Chrome but `window.devToolsExtension` is undefined.

[2016-10-03 01:11] olalonde commented on #219
Oh just noticed I only have this issue with `file:///` URLs.

[2016-10-03 01:15] olalonde commented on #219
If this can't be fixed, maybe the redux tab in devtools could show a warning instead of "store not found".

[2016-10-03 10:37] zalmoxisus commented on #219
Doesn't [this](https://github.com/zalmoxisus/redux-devtools-extension/pull/186/commits/ade9d941d3d8df9180480fdb509287bff45735c9) help?

[2016-10-03 20:19] olalonde commented on #219
I suppose it does, but it would be more helpful if that message showed up in the extension itself if there's any way to detect that you're in a `file:///` URL.

[2016-10-04 10:10] zalmoxisus commented on #219
@olalonde, could you please provide more details? I don't see why it shouldn't work by default. Just checked on Chrome 53 and Canary on MacOS and don't see any issues with opening urls with `file:///`. Maybe an Windows issue?

[2016-10-04 10:17] #218 closed

[2016-10-04 13:07] zalmoxisus commented on #219
Weird that checking that box is required only when the extension is installed from Chrome Store, that's why I wasn't able to replicate it before.

We should add the warning with the link to the docs, and this gif there:
<img width="746" alt="extensions" src="https://cloud.githubusercontent.com/assets/7957859/19075220/a0fad99e-8a4c-11e6-8b87-757f2dc179cb.png">

[2016-10-04 15:49] zalmoxisus commented on #205
I have just published `v2.7.0` where you can fix that behaviour by specifying `shouldHotReload` parameter to `false` like:
[code]

See [the release notes](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.7.0) for more details. Feel free to reopen the issue if it doesn't help.

[2016-10-04 15:49] #205 closed

[2016-10-04 15:51] zalmoxisus commented on #206
Now we have the ability to lock changes, so there will be no side effects like this while time travelling. [See the post](https://medium.com/@zalmoxis/improve-your-development-workflow-with-redux-devtools-extension-f0379227ff83) for details on how to get it.

[2016-10-04 15:51] #206 closed

[2016-10-04 15:55] zalmoxisus commented on #177
There's a better way now to prevent side effects like those while time travelling. [See the post](https://medium.com/@zalmoxis/improve-your-development-workflow-with-redux-devtools-extension-f0379227ff83) for details on how to get it.

[2016-10-04 15:55] #177 closed

[2016-10-04 15:55] zalmoxisus commented on #145
There's a better way now to prevent side effects from middlewares like redux-saga. [See the post](https://medium.com/@zalmoxis/improve-your-development-workflow-with-redux-devtools-extension-f0379227ff83) for details on how to get it.

[2016-10-04 15:55] #145 closed

[2016-10-04 15:57] zalmoxisus commented on #140
@amannn, there's a better way now to prevent side effects like those while time travelling. It will also help to lock changes for the us case of @ccorcos.  [See the post](https://medium.com/@zalmoxis/improve-your-development-workflow-with-redux-devtools-extension-f0379227ff83) for details on how to get it.

[2016-10-04 16:02] zalmoxisus opened #220 "Deprecating `window.devToolsExtension`"
`window.devToolsExtension` is being deprecated in favour of `window.__REDUX_DEVTOOLS_EXTENSION__` and `window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__`. See [the README](https://github.com/zalmoxisus/redux-devtools-extension#1-with-redux) on how to use them and [the post](https://medium.com/@zalmoxis/improve-your-development-workflow-with-redux-devtools-extension-f0379227ff83) about why we added the s

[2016-10-04 16:04] zalmoxisus commented on #202
Implemented. Closing in favour of #220.

[2016-10-04 16:04] #202 closed

[2016-10-04 21:23] gperdomor opened #221 "Problem with ionic framework"
Hi...

Is possible use this with ionicframework?

i use <code>StoreDevtoolsModule.instrumentOnlyWithExtension()</code>, but the redux extension show nothing.

I´m running the app inside the browser, not in iOS or Android simulator

[2016-10-05 10:36] zalmoxisus commented on #221
@gperdomor, could you please provide more details? Does `window.devToolsExtension` exist there? If not, maybe it's `file:///` problem (you should allow it as described [here](https://github.com/zalmoxisus/redux-devtools-extension/issues/219#issuecomment-251382565)).

[2016-10-05 10:47] legomushroom opened #222 "window.__REDUX_DEVTOOLS_EXTENSION__ is undefined"
Hi, I have `window.__REDUX_DEVTOOLS_EXTENSION__` undefined. Strangely, I do have `Redux` tab in the `chrome dev tools`. Thanks in advance!

[2016-10-05 10:50] legomushroom commented on #222
Found that the `Allow access to file URLs` should be checked in extension settings.

[2016-10-05 10:50] #222 closed

[2016-10-05 10:58] legomushroom opened #223 "Is it possible to have performance metrics for your store?"
Hi!

I've installed the extension with the hope that it can give me insight into performance of my app. Particularly, I'm interested in how long it takes for all reducers to derive new state and maybe find out where is the bottleneck could be. Do you have any plans to add that?

Thanks!

[2016-10-05 11:24] zalmoxisus commented on #223
Thanks for the suggestion! Yes, I started to implement this [here](https://github.com/zalmoxisus/redux-devtools-instrument/pull/4), but stopped due to the lack of interest on this feature. Here's how it would work: https://youtu.be/cbXLohVbzNI?t=373

[2016-10-05 11:48] zalmoxisus commented on #139
Fixed in https://github.com/alexkuz/redux-devtools-inspector/pull/44.

[2016-10-05 11:48] #139 closed

[2016-10-05 11:52] #130 closed

[2016-10-05 11:52] #123 closed

[2016-10-05 11:57] #175 closed

[2016-10-05 12:04] zalmoxisus commented on #86
Unfortunately, I don't see how we can handle it completely here. Side effects should be reverted by the middleware / function caused that. We'll not be able to downgrade them from the extension (as in your example to change the location hash back).

Not sure how universal the solution is, but in `v2.7` we can lock the changes and dispatch the actions explicitely without having any side effects. Mo

[2016-10-05 12:04] #86 closed

[2016-10-05 12:25] zalmoxisus commented on #222
Thanks for the report anyway! It will be addressed in #219.

[2016-10-05 13:00] gperdomor commented on #221
I run the app in the browser with <code>ionic serve</code> command.

I use the same configuration in a angular 2 project and works fine, but i try to do the same thing with a ionic 2 project without success :(

![screen shot 2016-10-05 at 9 36 33 am](https://cloud.githubusercontent.com/assets/371939/19113277/46ca5696-8adf-11e6-8b43-a8556d452d16.png)

[2016-10-05 13:53] legomushroom commented on #223
Nice! Are you still planning to release your work on that matter?

[2016-10-05 14:12] zalmoxisus commented on #221
As the extension's icon is grey, it doesn't receive anything from your application. As I understand, you're using `ngrx/store-devtools`. Maybe @MikeRyan52 has any suggestions. Anyway, a repo to reproduce would be welcome.

[2016-10-05 15:33] kuznetsovlv commented on #192
Oh! Thanks! I had same problem just now! It was solved in the same way! Very helpful! Thank you!

[2016-10-05 15:40] zalmoxisus commented on #223
Yes, I have a busy roadmap for the next version, then will try to implement that.

[2016-10-05 15:44] zalmoxisus commented on #192
@kuznetsovlv, please take into consideration that `window.devToolsExtension` and `updateStore` are being deprecated. You should use `window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__`, which helps to avoid such confusions as in this issue. More details in [the docs](https://github.com/zalmoxisus/redux-devtools-extension#12-advanced-store-setup).

[2016-10-05 18:28] kuznetsovlv commented on #192
Oh! Thank you! Tomorrow I'll check this issue.

[2016-10-06 01:22] vdh commented on #220
I had a really frustrating morning today wondering why `window.__REDUX_DEVTOOLS_EXTENSION__` was undefined because of this. It's all well and good to deprecate a feature, but it doesn't help if the documentation (which is linked to directly from 2.6.1.1) is updated well before Chrome eventually gets around to updating the actual extension to 2.7.0 ☹️

[2016-10-06 07:54] zalmoxisus commented on #220
@vdh, Chrome should update the extension 2 days ago. Maybe you disabled autoupdating extensions somewhere in Chrome settings? Though I didn't know it's possible to disable it.

[2016-10-06 08:10] vdh commented on #220
Sadly, for some reason Chrome's extension auto-updating isn't so auto, I had to manually force an update.

It might be nice to have a "in 2.7.0" or "as of 2.7.0" note on the deprecated part in the instructions as a hint to check one's plugin version?

[2016-10-06 09:09] zalmoxisus commented on #220
@vdh, I added a note in the README. Anyway, we need autoupdating, as we're moving really fast here and still want to change / improve a lot of things. Hope it was just a temporally problem of Chrome as we didn't experience it before. If you'll the problem with autoupdating will still persist, please open an issue, so we'll add a button to check if the extension is up to date and update it manually

[2016-10-06 14:47] DiMoNTD opened #224 "Slider effect to the Chart"
Hi. First of all, thanks for that tool!

I'm interesting, could chart updating in time-travel, when I'm sliding steps?

I've recorded mutation of my state

![slider_chart](https://cloud.githubusercontent.com/assets/1331473/19156959/580b63d8-8bec-11e6-96e2-8429a1803c3b.gif)

I slide backward, and state in chart remains the same, but my app is travelling in time. This is a bug or feature? :)

Sorry

[2016-10-06 15:26] m-lautenbach opened #225 "Test Button?"
I have a weird test button. Clicking it will break the extension.
![bildschirmfoto 2016-10-06 um 17 25 17](https://cloud.githubusercontent.com/assets/2509770/19158696/fe47e36e-8be9-11e6-98a9-d8ee3689a8b7.png)

[2016-10-06 15:43] zalmoxisus commented on #225
It should generate tests for the currents state like so:
<img width="1284" alt="screen shot 2016-08-14 at 5 00 16 pm" src="https://cloud.githubusercontent.com/assets/7957859/17649551/fdf49830-6240-11e6-87f0-ea5d62b4d0a5.png">

There were a bug of codemirror causing the freeze, but should be fixed.

Could you please try if it crash the extension for [our demo](http://zalmoxisus.github.io/examples/c

[2016-10-06 15:46] zalmoxisus commented on #224
Thanks for the suggestion :)

Yes, the Chart Monitor isn't aware of time travelling. It's something we want to have, but not implemented yet.

[2016-10-06 18:56] zalmoxisus commented on #133
The extension API was changed. No need for `window.devToolsExtension.updateStore` workaround anymore. Just use `window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__` or [import `redux-devtools-extension` npm package](https://github.com/zalmoxisus/redux-devtools-extension#13-use-redux-devtools-extension-package-from-npm).

[2016-10-07 11:45] m-lautenbach commented on #225
I see.
It works for me in the demo.
I'd assume, that our state is probably just quite bit and that's why.
And it's based on Immutables.
I don't really have the time for testing this more.
It's not a feature we would use, although I see how it could be useful.
Thank you for your answer.

[2016-10-07 11:45] #225 closed

[2016-10-07 16:56] mattkrick opened #226 "Performance regression in latest"
Huge fan, and thank you so much for your work!
Just wanted to point out a performance regression:
![screen shot 2016-10-07 at 9 54 26 am](https://cloud.githubusercontent.com/assets/5514175/19198444/167a0072-8c74-11e6-9f5e-5badcb075e7d.png)

I apologize I haven't kept up with all the internal changes (this is one of those extensions that is so darn magical & always works so well I've never had to d

[2016-10-07 19:39] zalmoxisus commented on #226
Hey @mattkrick,

I'm also a fan of meatier. Thanks for the report and kind words!

Unfortunately, I don't see where the perf bottle neck is here. I just tried [our example](http://zalmoxisus.github.io/examples/router/) (click on `AutoTodo`) and don't see any significant perf issues.

Did you notice this with `2.7.0` or it could be affected earlier? Do you have a perf issues even if you don't open

[2016-10-07 21:30] mattkrick commented on #226
I don't think the example hits it hard enough. In the application I'm testing on, I use redux-form & don't run it through a throttle function, so it's dispatching 2 actions per keystroke and it's fine up to about 60WPM, after that the lag is noticeable. (https://github.com/parabolinc/action).
The bottleneck still occurs if the perf window is closed.
However, if I disable the extension & restart th

[2016-10-08 07:25] zalmoxisus commented on #226
@mattkrick, thanks a lot for the details, it was helpful enough to spot the problem. The changes in `2.7.0` broke global limit of actions, so they are stored infinitely now. A temporal solution would be to add `maxAge` parameter:
[code]

[2016-10-08 17:11] mattkrick commented on #226
no change in performance 😕

[2016-10-09 09:46] nicocrm opened #227 "Extension throws an error when action has invalid payload"
I (accidentally) had included a DOM node in my action's payload, this caused the extension to crash with a TypeError in _ctx.js.  I tracked it down to this line in the `derez` function:

[code]

In my case the toJSON call failed.

While the error was caused by my code, it would be nice to have some error handling so the dev tool could report the problem instead of crashing (the app was working fin

[2016-10-09 11:15] zalmoxisus commented on #227
@nicocrm, thanks for the report. [`jsan`](https://github.com/kolodny/jsan) fails [here](https://github.com/kolodny/jsan/blob/9b37cebc85c5a5cbca0b512764b3a8f5511a93b6/lib/cycle.js#L41) being unable to stringify that object.

Adding the error right in the state subtree value would be helpful, but better to show it explicitly,  to use a `console.error` in your snippet instead (or both of them). Other

[2016-10-09 14:27] zalmoxisus commented on #226
@mattkrick, I tried `Action` and don't get any noticeable perf problems even with the opened extension's window. Providing some steps to reproduce would be welcome.

I see there some `store.replaceReducer` which could cause problems as Redux DevTools uses reducer replacement as a signal of hot reloading, and recompute all the history when it happens (in the latest [there's a way to disable that](h

[2016-10-09 14:41] kolodny commented on #227
I'm not sure how to proceed with this. Consider the following:

[code]
I did notice, however, that I'm calling `toJSON()` without arguments while the native one is called with `(key, value)`. I'll need to fix that.

[2016-10-09 20:17] mattkrick commented on #226
wow, thanks for digging in! I'll try this out in a bit & report back tonight or tomorrow.

[2016-10-10 13:02] #219 closed

[2016-10-10 23:14] mattkrick commented on #226
@zalmoxisus i'm gonna file this one under unexplained mysteries... went to try out what you suggested, then tried it out bone stock & it worked like a charm. Now the CPU profiler didn't even call `backend.js` & it's back to running lightning fast. No chrome update, no update to the project I'm working on, I'm just stumped.

Thanks for sticking with me & providing all the venues to explore!

[2016-10-10 23:14] #226 closed

[2016-10-11 08:09] zalmoxisus commented on #226
@mattkrick, no probs, feel free to reopen if it happens again.

[2016-10-13 01:26] gperdomor commented on #221
@zalmoxisus you can use this repo which have a basic ngrx configuration https://github.com/gperdomor/now-mobile-ionic/tree/feature/ngrx-store

[2016-10-13 14:34] gperdomor commented on #221
I don't know how or why, but it's working now

[2016-10-14 10:39] DiMoNTD commented on #224
@zalmoxisus already in devtool!! thank you very much! Amazing thing!

[2016-10-14 10:43] zalmoxisus commented on #224
@DiMoNTD, published just few minutes ago :)
Thanks for the suggestion!

[2016-10-14 10:43] #224 closed

[2016-10-14 11:08] zalmoxisus commented on #180
Implemented in `v2.8.0`.

[2016-10-14 11:08] #180 closed

[2016-10-15 13:34] zalmoxisus commented on #225
Hey @m-lautenbach,

This issue should be fixed now in `2.8.0`. Please confirm when you get a chance to check it.

[2016-10-15 14:08] zalmoxisus commented on #221
Hey @gperdomor,

I finally got a chance to check your repo. It works for me (after skipping the intro). Checked on Firefox, Chrome and Canary.

Maybe changes in `2.8.0` regarding serializations addressed this issue as well.

Closing for now. If you're still experiencing this problem, feel free to reopen the issue with more details.

[2016-10-15 14:08] #221 closed

[2016-10-15 15:36] zalmoxisus commented on #227
@nicocrm, I tried to pass a React element and a React component as a state value, and don't seem to get any exceptions.

@kolodny, could you please provide a reference about `key, value` arguments?
I'm calling
[code]
and don't get any arguments.

[2016-10-16 00:18] kolodny commented on #227
You're right, I must have been looking at the replacer function in the docs when I wrote that http://www.ecma-international.org/ecma-262/6.0/#sec-serializejsonproperty

[2016-10-17 09:19] hackhat opened #229 "MacOS when chrome in full screen/maximized and refresh it opens redux-tools in another desktop"
I can't work with redux dev tools and chrome on full screen because it opens the redux dev tools window in another desktop and moves me to the other desktop. It's so annoying that I have to uninstall the redux tools every time I finish any redux work. And install it again before any work.

I have to work with chrome in a window and the dev tool in another window and is really bad. I have it on win

[2016-10-17 10:46] zalmoxisus commented on #229
Thanks for the report. Yes, I was experiencing this as well during one of my talks. However, instead of uninstalling the extension, you could just close the extension's window (Cmd + W). Also, you can use the extension in the same window, opening it from Chrome devpanel:
![image](https://cloud.githubusercontent.com/assets/7957859/19434758/fd9ae3c4-946f-11e6-9b38-c685be6f37c2.png)

If you think we

[2016-10-17 10:51] zalmoxisus commented on #229
I misunderstood the issue. The extension doesn't auto-open its windows. Just remove `window.devToolsExtension.open` from your code and open it explecitely.

[2016-10-17 12:35] m-lautenbach commented on #225
Confirmed, looks good now 👍

[2016-10-17 12:57] hackhat commented on #229
@zalmoxisus that's great! Sorry I didn't knew that this codebase had that line `window.devToolsExtension.open()`. Thanks it solved the issue

[2016-10-17 12:58] #229 closed

[2016-10-17 14:10] zalmoxisus commented on #229
No problems. People often have this issue with auto opening windows. Could you please point me to the boilerplate or part of the docs is responsible for that?

[2016-10-17 22:56] Hamatek opened #230 "Version : 2.8.2 CPU issue"
Hello, thanks for this great tool I have been using for months.

Unfortunately has of today new patch 2.8.2 I cannot use it anymore, as soon as open the dev tool extension, the CPU jump to 100% and freeze the web page I am working on.

Running on Ubuntu 14.04, Version 54.0.2840.59 (64-bit)

[2016-10-18 07:16] zalmoxisus commented on #230
@Hamatek, thanks for the report. Seems related to #226. There's nothing from the last changes which could cause that, but the process of updating could cause the issue.

If you open the extension's window and click on the instances select box, how many of them do you have there?

[2016-10-18 13:26] Hamatek commented on #230
@zalmoxisus  thanks for your quick respond, i think the extension updates itself every time one is available. when I check the instance select box I have only my localhost app in there.

[2016-10-18 13:53] zalmoxisus commented on #230
@Hamatek, when having that CPU issue don't you have multiple instances of your app added and removed as @okonet showed in #207?

![2016-09-06 at 22 51](https://cloud.githubusercontent.com/assets/11071/18290617/7d48da24-7484-11e6-8d2b-d1a480a3dda2.gif)

[2016-10-18 13:54] zalmoxisus commented on #230
According to Chrome docs, the extension shouldn't be updated till your app is inspected. So, it shouldn't cause any problems. Just in case I've addressed it in https://github.com/zalmoxisus/redux-devtools-extension/commit/f6bd08c8f0aef6882df38b6e5200c95fb1cc4a29. However, I suspect there's the problem above.

[2016-10-18 14:13] Hamatek commented on #230
@zalmoxisus I don't experience the same thing has shown above, in my case when opening the tool or reloading the page its stuck on  `No store found. Make sure to follow the instructions.` for like 5s to 10s, but once the tool loads only one instance is shown.

below are more information about my setup:

[code]

computer:
[code]

CPU jump to 100% after first dispatch when redux devtool open, if dev

[2016-10-18 14:26] zalmoxisus commented on #230
So, the problem is only with the first dispatch, right? After those 5-10 seconds it works smoothly? Then it's just the matter of serializing lots of data.

Could you please try to disable the extension, install `npm i jsan` and add to the following:

[code]

Just to confirm that after a second the application is stuck for some seconds during the state serialization.

[2016-10-18 14:29] zalmoxisus commented on #207
Well, I did some investigations.

When starting webpack then stopping (killing) it, HMR is making requests like `http://localhost:3000/sockjs-node/603/an1v2ad3/xhr_streaming?t=1476785078968` till gets a response. So, when you start webpack again, there will be a response like `{"websocket":true,"origins":["*:*"],"cookie_needed":false,"entropy":2710110471}` and everything will continue to work just

[2016-10-18 14:32] Hamatek commented on #230
@zalmoxisus no its not its slow to load but when its up and action are dispatch it burns the CPU at 100%, I'll try what you suggest when Im at the office thanks.

[2016-10-18 15:10] andykenward opened #231 "`Uncaught TypeError: Cannot set property 'liftedStore' of undefined`"
If you don't want to allow the extension in production and you have the extension installed I get this error in chrome console

`Uncaught TypeError: Cannot set property 'liftedStore' of undefined`

I even get this if I totally remove any reference to redux-devtools in my code.

And it totally breaks my site. Only way to fix is to uninstall the extension. Which is very worrying. Surely the extensio

[2016-10-18 15:30] zalmoxisus commented on #231
Could you please share the store config code?

[2016-10-18 15:41] andykenward commented on #231
Yes, it is here [`store.js`](https://github.com/andykenward/bob/blob/903f3a6d5b53476e7ed51a778c635f107f74f41c/app/store.js).

It is an old implementation using `window.devToolsExtension` instead of the new `window.__REDUX_DEVTOOLS_EXTENSION__`.

But I have tried implementing most the examples from the latest [`README.md`](https://github.com/zalmoxisus/redux-devtools-extension/blob/3bbee506d39fa48d

[2016-10-18 15:45] zalmoxisus commented on #231
Thanks for the details. As I see, [you're getting `undefined` from your `configureStore` function](https://github.com/andykenward/bob/blob/44c9365b3414bfd15f1d7522740f4c7cebe5c423/app/app.js#L31) then [trying to update the extension's store with `undefined`](https://github.com/andykenward/bob/blob/44c9365b3414bfd15f1d7522740f4c7cebe5c423/app/app.js#L39).

[2016-10-18 15:49] andykenward commented on #231
argh. I am an idiot. Thank you for getting back to me so quickly.

removing [this](https://github.com/andykenward/bob/blob/44c9365b3414bfd15f1d7522740f4c7cebe5c423/app/app.js#L39) in production solved it.

[2016-10-18 15:49] #231 closed

[2016-10-18 15:51] zalmoxisus commented on #231
@andykenward, no problems.

You cannot use [`window.devToolsExtension.updateStore` without the extension's enhancer](https://github.com/andykenward/bob/blob/44c9365b3414bfd15f1d7522740f4c7cebe5c423/app/app.js#L39).

However, `updateStore` is being deprecated, so you don't need that anymore, just use the new [`window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__`](https://github.com/zalmoxisus/redux-devtool

[2016-10-19 08:40] nicocrm commented on #227
@zalmoxisus For me the error happened when a native browser event was passed as payload to the action.  I had the action creator as such (because I used a generic function to generate the creators):

    action = x => { type: 'ACTION_TYPE', payload: x }

and in the JSX I had it bound as:

    <button onClick={action} />

*However* I was using Material-UI at the time.  I tried to do a simple repro

[2016-10-19 10:15] Hamatek commented on #230
@zalmoxisus I tried the code above unfortunetly jsan.serialize throw an error so i switch it to jsan.stringify.
When I disable the redux dev tool and reboot the page I get instantaneously  `Uncaught TypeError: Cannot read property 'getState' of undefined(…)`

but if enable the plugin, the whole chrome devtool freeze and CPU lock 100% on the chrome dev tool tab (not on the app tab, and im not openi

[2016-10-19 10:32] Hamatek commented on #230
I tried with this  setup but its the same result
[code]

[2016-10-19 10:57] zalmoxisus commented on #230
@Hamatek, sorry, I should've been checked that. Yes, it's `jsan.stringify`, and yes you should enable the extension to have `store.liftedStore` object created.

As you can see, stringifying is causing the CPU spike as the object is very complex, and most likely you have circular references there (you can check it by replacing `jsan.stringify` with `JSON.stringify` and see it it will work).

It doe

[2016-10-19 11:01] zalmoxisus commented on #230
I'm working on an another approach to send data to the extension via shared workers without serializing it.

For now you can just set a lower value for `Limit the action history` on the Options page.

Related to #159.

[2016-10-19 12:37] Hamatek commented on #230
@zalmoxisus thanks I tried JSON.strirngify as you mentioned but I do get `Uncaught TypeError: Converting circular structure to JSON`

Also when i look at my redux state I don't have any circular references nor a very complex store, it was working just fine till yesterday i'm really confused now I must have done something wrong and somehow it was on the same date as the addon update ,sorry :(

Ther

[2016-10-19 12:54] Hamatek commented on #230
I updated the redux-saga package and things are back to normal, not sure what was wrong.

[2016-10-19 13:03] zalmoxisus commented on #230
Thanks for the details. As I suspected, you had circular references, which take time to jsan to serialize. Glad you get rid of them. Then I'm closing it in favour of #159, which addresses the same issue, which I'll update when will have a solution for sending data without stringifying it.

If you have any other troubles feel free to file an issue.

[2016-10-19 13:03] #230 closed

[2016-10-20 11:41] RIAstar opened #232 "Filtering actions by predicate"
Currently we seem to have two options for filtering actions - `actionsWhitelist` and `actionsBlacklist` - which can handle globs and regular expressions.
This allows only for filtering on action types.

It would be very helpful to have a config option like [redux-logger's predicate](https://github.com/evgenyrodionov/redux-logger#log-everything-except-actions-with-certain-type) that allows for more

[2016-10-20 11:51] kevinlaw91 opened #233 "[Suggestion] Collapse chart node by default if children > 5"
This will make the chart easier to navigate and read. Better if we can set the threshold in devtools options too.

[2016-10-20 12:08] zalmoxisus commented on #232
@RIAstar, thanks for investigating this.

`actionsFilter` / `statesFilter` are wrong chosen names, which should be renamed to `actionSanitizer` / `stateSanitizer` as in [`redux-remotedev`](https://github.com/zalmoxisus/redux-remotedev#actionsanitizer).

A `predicate` option would be better indeed.

[2016-10-20 12:24] zalmoxisus commented on #233
@kevinlaw91, thanks for the suggestion. I see why you want this. [`map2tree`](https://github.com/romseguy/map2tree) gives us an array of children, so it wouldn't be difficult to implement it in [`d3-state-visualizer`](https://github.com/romseguy/d3-state-visualizer). The problem is t store which nodes were uncollapsed by the user when rendered the previous state as per https://github.com/romseguy/

[2016-10-20 12:25] RIAstar commented on #232
I imagine that, because this is a browser plugin which can be automatically updated, backwards compatibility is very important.
At best, I suppose you can create an alias and deprecate the old name.

[2016-10-20 12:25] zalmoxisus commented on #232
Yes, that's the plan.

[2016-10-20 12:58] zalmoxisus commented on #191
Hey @ccorcos,

I've published [a Slider Monitor of the ability to import reports](https://github.com/zalmoxisus/remotedev-slider) with [a simple example of integration](https://github.com/zalmoxisus/remotedev-slider/blob/master/examples/todomvc/containers/DevTools.js). I'm open to any improvements. An integration with elasticsearch would be more than welcome. Feel free to file any issues there.

H

[2016-10-20 12:58] #191 closed

[2016-10-20 16:25] zalmoxisus commented on #232
@RIAstar, I've implemented the `predicate` parameter and will publish a new version to Chrome Store tomorrow. Meanwhile, you can amend the changes (especially docs).

[2016-10-20 17:51] ccorcos commented on #191
@zalmoxisus this is amazing! I'll keep you posted on this. I think it might be easier for us to just download the data into a static build like you've done with the example -- that way we can pass the builds around...

[2016-10-21 07:17] RIAstar commented on #232
Cool! You're fast, man!

[2016-10-21 08:29] Machiaweliczny opened #234 "[Suggestion] Highlight recent action in inspector when using slider"
The only useful feature I could use from this redux-devtools is timeline(slider), which could allow me to debug flow of application, but it's not even highlighting which action I'm on when I move slider - which makes this slider feature unsuitable for debugging purposes. I suggest that actions we are currently on in slider is higlighted in inspector.

Another useful feature for debuging would be a

[2016-10-21 10:47] zalmoxisus commented on #234
Highlighting currently is only [implemented for Log Monitor](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.5.0). If youwant to submit a PR to [Inspector Monitor](https://github.com/alexkuz/redux-devtools-inspector), you can consider [mine](https://github.com/gaearon/redux-devtools-log-monitor/commit/5198c1bcd67e7cfbe9f8481625c97545737c8a7b) as an example of implementation.

[2016-10-21 10:53] zalmoxisus commented on #232
Implemented in `2.8.3`.

[2016-10-21 10:53] #232 closed

[2016-10-21 21:35] brianfegan commented on #208
I'm running v2.8.2.2 and am also seeing this.

[2016-10-22 08:22] zalmoxisus commented on #208
@brianfegan, could you please provide an example repo or jsfiddle to reproduce. You could fork [our examples](https://github.com/zalmoxisus/redux-devtools-extension/tree/master/examples).

I'm trying to modify [this action](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/examples/counter/actions/counter.js#L28-L34) to
[code]
and all 3 actions gets picked as expected.

[2016-10-23 05:26] brianfegan commented on #208
I'll work on putting together a jsFiddle, but here's some code that more clearly represents what I'm seeing. Its a bit different from what you put together.

There's a login fn that returns a fn (using thunk). That fn makes an async call that returns a promise. When that promise is fulfilled, I dispatch a LOGIN_SUCCESS action.
[code]

Meanwhile, there's another file to manage a modal that contains

[2016-10-23 19:41] zalmoxisus commented on #208
@brianfegan, thanks for the details, I can reproduce it. It's weird but seems to [be as expected](http://redux.js.org/docs/api/Store.html#subscribelistener):

In other words the extension's `subscribe` gets the last change (even though it's invoked 2 times) in case when `dispatch` is from inside a `store.subscribe`.

I managed to solve this by moving extension's subscribe from `setTimeout`, howeve

[2016-10-24 08:40] RIAstar commented on #232
Works like a charm.
Thank you.

[2016-10-24 15:14] JobLeonard opened #235 "TypedArrays are treated as plain objects"
Hey,

Thanks for making this tool, it works really well. However, `TypedArrays` are being displayed as plain objects! Maybe I'm the first to use them together with redux and notice this? It's just a cosmetic thing, so it doesn't matter much, but if you want to fix this: my money is on `Array.isArray` returning `false` for typed arrays; I had to create my own little helper function to deal with tha

[2016-10-24 15:22] brianfegan commented on #208
Thanks for the update, @zalmoxisus!

I'll also look into the suggestion you made. (But that CLOSE_LOGIN_MODAL will only fire if the redux store state has the modal as open and our used as authorized / logged in. So if I went backwards in state to a snapshot where the user isn't logged in, it wouldn't fire.)

Do you have any idea where the fix you committed^ will be pushed and available in the exte

[2016-10-24 17:13] jiayihu opened #236 "Add option to expand latest state"
After the latest release all states are collapsed by default, but I think that leaving the latest expanded is more helpful and time-saving. At least I would recommend an option to enable the expansion.

[2016-10-25 09:06] zalmoxisus commented on #236
I see. I also don't like this, but it was a workaround due to some changes in the latest `react-json-tree`.

Leaving the latest action expanded would be great indeed. What do you think should we expand the whole object or just the root as it was before?

[2016-10-25 09:11] jiayihu commented on #236
Just the root should be enough and requires less space when there is a huge state. Most of the time I expand the latest state looking for a specific property to see if an action is working as expected. I believe it's the most common usage.

[2016-10-25 11:34] zalmoxisus commented on #208
@brianfegan, should work now in `2.8.4`. Let me know if there are still any troubles there.

[2016-10-25 12:24] zalmoxisus commented on #200
In `2.8.4` it's possible now to serialize dates, regexes, undefined, error objects, and functions. Just set `serializeState` parameter to `true`. See [the release notes](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.8.4) for details.

[2016-10-25 12:24] #200 closed

[2016-10-25 12:37] zalmoxisus commented on #235
That's how `JSON.stringify` interpret typed arrays. So, for example,`JSON.stringify(new Int32Array([101, 102, 103]))` returns `{"0":101,"1":102,"2":103}`.

The extension's API allows you to specify a custom serialization function by using `serializeAction` and `serializeState` like so:
[code]

Just keep in mind that it will affect the performance significantly.

[2016-10-25 12:37] #235 closed

[2016-10-25 12:40] JobLeonard commented on #235
Ah ok, thank you for explaining!

I think I'll stick to being mindful of when "objects" might secretly be typed arrays, since my slow laptop is janky often enough already ;)

[2016-10-25 14:33] luisherranz commented on #200
Awesome, thank you!

[2016-10-25 16:51] brianfegan commented on #208
Confirmed as fixed on my end. Thanks, @zalmoxisus!

[2016-10-26 00:57] deini opened #238 "v2.8.4 partially broken for ngrx/store-devtools"
I believe `v2.8.4` is partially broken for `ngrx/store-devtools` it can display the state and actions, etc. However clicking on things like `commit` or `skip` on an action is not working.

Reverted to `v2.8.3` and works fine.

This is literally my first try trying `ngrx/store-devtools` and this extension so I might be totally wrong or this could be just my bad luck.

[2016-10-26 02:09] MikeRyan52 commented on #238
Fixed in v3.2.0 of @ngrx/store-devtools.

[2016-10-26 02:14] deini commented on #238
Thanks @MikeRyan52

[2016-10-26 02:14] #238 closed

[2016-10-26 02:18] MikeRyan52 commented on #238
@deini If you run into any trouble feel free to open an issue in ngrx/store-devtools

[2016-10-26 08:11] zalmoxisus commented on #238
@MikeRyan52, just curious what was the problem. There shouldn't be any breaking changes in the latest.

[2016-10-26 08:58] zivni opened #239 "[Suggestion] copy action to Dispatcher window"
Sometime you want to run the same action again with different payload. Currently you have to construct the action manually.

It would be great if you can move a selected action to the Dispatcher window.

You can add a "re-dispatch" button on the action, next to "skip" button. Pressing on it will open the Dispatcher window, if it isn't already open, and copy the action to it.

[2016-10-26 11:39] #142 closed

[2016-10-26 11:52] zalmoxisus commented on #142
Implemented in `v2.8.5`, just set `serializeAction` parameter to `true` and they will be serialized. Optionally `serializeState` could be set to `true` as well.

[2016-10-26 12:06] MikeRyan52 commented on #238
@zalmoxisus There was a legitimate bug on our end and just to be sure I went ahead and addressed zalmoxisus/redux-devtools-extension#220

[2016-10-26 12:13] zalmoxisus commented on #236
@jiayihu, I tried to implement this, but there are 2 problems on`react-json-tree` side:
- the previous objects aren't rerendered for performance reason;
- if you expand a state object to investigate it, you wouldn't want it to be collapsed when there's a new action recorded.

So, I just went out and restored the old behaviour - all objects root are expanded now. In case you figure how to address t

[2016-10-26 12:13] #236 closed

[2016-10-26 12:14] zalmoxisus commented on #239
Thanks for the suggestion. Yes, it's something we want to have here.

[2016-10-27 14:24] jadekler opened #240 "Out of date dependencies"
[code]

[2016-10-28 08:32] zalmoxisus commented on #240
Thanks for the heads-up! Would you like to submit a PR updating them and replacing jade with pug?

[2016-10-28 12:34] maxime1992 opened #241 ""Serialize the state" available in Firefox but not in Chrome"
Hi,

I'm usually developing my apps using Chrome.

I've seen that in order to use timetravel, undo, redo it's necessary to serialize the state.

In Firefox app, we do have the option :
![image](https://cloud.githubusercontent.com/assets/4950209/19806464/6a37757a-9d1b-11e6-9fab-a34a21dbabb5.png)

In Chrome this option is missing :
![image](https://cloud.githubusercontent.com/assets/4950209/19806491

[2016-10-28 14:41] zalmoxisus commented on #241
Hey @maxime1992,

There's just difference in versions, updates on Firefox comes with delay as they are reviewed about a week.

That options was confusing, it had nothing in common with `deserializeState` you want to pass (which should work without it). The purpose was to gain some performance by disabling serialization, but in practice it was even slower.

That said, now the state is always serial

[2016-10-28 14:55] maxime1992 commented on #241
Thanks for clarification! =)
Yes it's working on Firefox but not on chrome.

[2016-10-28 15:10] zalmoxisus commented on #241
@maxime1992, then it should be a regression on our side for sure. Related to #238. Will look into it.

[2016-10-28 17:19] #241 closed

[2016-10-28 17:19] zalmoxisus commented on #241
Fixed in `2.8.6`. It should be available on Chrome Store in about an hour.

[2016-10-28 21:14] mikedevita commented on #75
this is happening to me now, not sure why, im using immutable for global stores it just hangs randomly and crashes.. whats the work around ?

[2016-10-29 07:51] zalmoxisus commented on #75
@mikedevita, do you set any extension's parameters like `serializeAction` / `serializeState`? If so, please try without them.

What's specific about those cases? Are the state huge or actions dispatched often?

[2016-10-29 09:43] zalmoxisus commented on #238
This one should be fixed in `2.8.5` of the extension.

[2016-10-29 11:16] mikedevita commented on #75
I use davezuko's starter kit not 100% sure I don't have the code in front of me at the moment..

[2016-10-31 00:06] willdevelops opened #242 "2.8.5 not up on npmjs"
Latest version isn't up on npmjs .. is this intended?  (I ended up using the v2.8.5 off of github)

..only v1.0.0 shows up on npmjs
https://www.npmjs.com/package/redux-devtools-extension

[2016-10-31 02:43] SeanRoberts commented on #95
I was also looking for the Redux tab and couldn't find it after install.  Quitting and reopening Chrome did the trick for me.

[2016-10-31 07:47] zalmoxisus commented on #242
Hey @willdevelops,

Yes. I know it's confusing, but here you see the version of browser extension, while [npm package](https://github.com/zalmoxisus/redux-devtools-extension/tree/master/npm-package) is `1.0.0`, which is just a helper as described [here](https://github.com/zalmoxisus/redux-devtools-extension#13-use-redux-devtools-extension-package-from-npm).

I'll add a description there to avoid c

[2016-10-31 15:15] adailey14 opened #244 "State view word wrapping makes state harder to read"
I always use redux devtools in a "column" layout off the the side of the browser. For the last few releases, something changed the way state is displayed that caused the word wrapping behavior seen in this screenshot. It's much harder now to read the state tree.

See screenshot attached.

![screen shot 2016-10-31 at 10 11 51 am](https://cloud.githubusercontent.com/assets/1168689/19859215/80a64e24-

[2016-10-31 15:40] zalmoxisus commented on #244
@adailey14, adding this style [here](https://github.com/alexkuz/redux-devtools-inspector/blob/9ce7985f16af9205013bac0b87e0fbe9a62aef55/src/utils/createStylingFromTheme.js#L248) could be a solution.

Though showing only `[...]` / `{...}` when there's not enough space would be way better. It could be done by modifying [`getText` function](https://github.com/alexkuz/redux-devtools-inspector/blob/9ce7

[2016-10-31 15:56] adailey14 commented on #244
@zalmoxisus Sorry I'd like to help but no time at the moment - maybe somebody else can take it on.

[2016-10-31 19:37] #242 closed

[2016-10-31 22:11] derpoho opened #245 "Blacklisting breaks Action Listener"
Hey,

something is going wrong here, maybe it's because of redux-storage. The following breaks the Action Display after the First occurring action.

[code]

The Inspector Output stops at the first occurence of this Action Type. When i remove the blacklist, everything works fine.

I checked the console of the Extension, it displays an error after the first REDUX_STORAGE_SAVE and keeps popping up th

[2016-11-01 09:56] #245 closed

[2016-11-01 09:57] zalmoxisus commented on #245
@derpoho, thanks for the detailed report! Fixed in `2.9.0.1`, please update the extension from Chrome Store and confirm that.

[2016-11-01 13:00] zalmoxisus commented on #159
@mrdanimal the performance was increased significantly in `v2.9.0`. See [the release notes](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.9.0) for more details. If you're still experiencing this, feel free to reopen the issue.

[2016-11-01 13:00] #159 closed

[2016-11-01 13:54] #240 closed

[2016-11-01 13:54] zalmoxisus commented on #240
@jadekler, fixed, thanks for the detailed report!

[2016-11-01 13:55] zalmoxisus commented on #75
@mikedevita in `v2.9.0` the performance was improved significantly. Let me know if you're still experiencing this issue.

[2016-11-01 14:05] mikedevita commented on #75
Thanks it seems like the issue went away on its own.  Not sure if it's because of update or not.

Sent from my iPhone

[2016-11-01 16:21] tomxtobin opened #246 "stateSanitizer breaks when called from startingFrom"
[In `app/api/filters.js`, `startingFrom` calls `stateSanitizer` with the state wrapper, instead of the actual state object, so `stateSanitizer` ends up getting `{state: actual_state}`.](https://github.com/zalmoxisus/redux-devtools-extension/blob/cc9c889853e0febaab34655879e0160f6a10a5d2/src/app/api/filters.js#L127) This ends up breaking `stateSanitizer`.

The call to `stateSanitizer` should pass `c

[2016-11-01 16:42] zalmoxisus commented on #246
Yes, and `actionSanitizer` should take `currAction.action` as well (as for [predicate](https://github.com/zalmoxisus/redux-devtools-extension/blob/cc9c889853e0febaab34655879e0160f6a10a5d2/src/app/api/filters.js#L117)).

And yes we need better contribution guides to help with that. I'll publish a patch on Chrome store with the fix in a while.

[2016-11-01 16:50] derpoho commented on #245
Nice Job as always @zalmoxisus ! Thanks!

[2016-11-01 18:03] zalmoxisus commented on #246
Fixed in `2.9.0.2`. Thanks for the report and the solution!

[2016-11-01 18:03] #246 closed

[2016-11-02 16:26] willdevelops commented on #242
ah... thanks for the clarification.. my apologies!  👍

[2016-11-03 03:35] CameronFletcher92 commented on #142
We are having problems with this new API. Initially we tried setting both `serializeAction` and `serializeState` to `true`, end ended up with the following console error:

`VM55116:2 Uncaught TypeError: Cannot read property 'toJS' of null(…)`

Our action types just look like this:
[code]

So we then tried to manually serialize symbols by overriding both `serializeAction` and `serializeState` with

[2016-11-03 09:47] zalmoxisus commented on #142
@CameronFletcher92 thanks for the detailed report. Setting just `serializeAction` to `true` (without setting `serializeState`) should help.

Could you please provide an example or steps to reproduce those 2 bugs? I tried to replace [this line](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/examples/counter/actions/counter.js#L14) with `type: Symbol('SET_CONTEXT')` and in both c

[2016-11-03 10:55] zalmoxisus commented on #142
@CameronFletcher92 could you please provide the stack trace for the exception you've got, [it shouldn't happen when the value is null](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/app/api/index.js#L12)

[2016-11-03 16:09] gdaolewe opened #248 "Infinite recursion when used with redux-history-transitions"
[code]

This causes `Uncaught RangeError: Maximum call stack size exceeded` as redux-history-transitions' `dispatch` continually calls itself. This does not occur when not using the extension or when only using other enhancers such as `applyMiddleware` and not redux-history-transitions. This also does not occur when using redux-devtools without the extension.

[2016-11-03 20:10] zalmoxisus commented on #248
@gdaolewe, that's quite interesting, something related with how the `dispatch` is redefined there. I'll take a closer look tomorrow. Meanwhile, you can use our enhancer instead of  `window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__`:

[code]

[2016-11-03 20:17] StRibbon commented on #181
Hey. I've been trying to setup Redux devTools on server-side node in a variety of ways, nothing seems to work yet. Latest I tried your remote-redux-devtools approach. But also not working.

`import React from 'react';
import ReactDOMServer from 'react-dom/server';
import { Provider } from 'react-redux';
import { createStore, applyMiddleware } from 'redux';
import devTools from 'remote-redux-devtoo

[2016-11-03 20:22] zalmoxisus commented on #181
@StRibbon, [you need either set `NODE_ENV` to `development` or add `realtime` parameter set to `true`](https://github.com/zalmoxisus/remote-redux-devtools#important). [Here's an example](https://github.com/zalmoxisus/remote-redux-devtools/tree/master/examples/node-counter).

[2016-11-03 20:26] StRibbon commented on #181
Thanks so much for swift reply. Still not working.

`const composeEnhancers = composeWithDevTools({ realtime: true, port: 8000 });
const createStoreWithMiddleware = composeEnhancers(
  applyMiddleware(ReduxPromise, ReduxThunk)(createStore));`

[2016-11-04 10:25] zalmoxisus commented on #181
@StRibbon, if you set a port here, then you should also start `remotedev-server` and set that port in the extension as well. You could remove the port setting to check if it works. Also try [the example](https://github.com/zalmoxisus/remote-redux-devtools/tree/master/examples/node-counter). Make sure you're opening Remote DevTools:

<img width="310" alt="redux_devtools" src="https://cloud.githubus

[2016-11-04 13:55] #248 closed

[2016-11-04 13:59] zalmoxisus commented on #248
Should work in `2.9.1`.

[2016-11-04 14:20] lukebarton opened #249 "Redux Devtools Extension doesn't reflect the latest state"
Just updated to 2.9.1.0 from 2.8.5.x (I think) and there appears to be an issue with reflecting the current state. This was not an issue in 2.8.5.x.

For example, an action updates the state, however, the diff and state panes on Redux Devtools extension do not show the state being updated, despite seeing the result of the state being reflected in the app. Pressing the "Pause" button within Devtool

[2016-11-04 15:01] zalmoxisus commented on #249
@lukebarton, yes, it seems related to the introduced `latency` parameter and the timeouts in `2.9.0`. Could you please provide an example and steps to reproduce so I could figure it out?

Also, try to set `latency` parameter to `0` to see if it helps:
[code]

[2016-11-04 15:43] kanzelm3 commented on #249
@zalmoxisus setting the latency to 0 fixes the issue for me. I was seeing the same thing. I feel like 0 should probably be the default value for latency.

[2016-11-04 15:51] zalmoxisus commented on #249
@kanzelm3, it was. We want to guarantee that the extension is performant out of the box, so it will not freeze highly updated apps like in [the demo](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.9.0). Usually, we cannot percept more than an action in 500 ms (which is by default), so no need to waste the cpu.

However, missing the current state due to timeout is a bug we s

[2016-11-04 17:55] lukebarton commented on #249
Setting `latency` to `0` isn't fixing it for me.

I'm using redux-saga and these actions are dispatched in `fork`d sagas. If I do them sequentially with `call`, Devtools plays fine. But if I async `fork` them Devtools does not.

Initial
action A
action B -> Async
action C -> Async

When B resolves, it seems to forget the changes caused by action A and thinks that action B reverted whatever action

[2016-11-04 18:16] zalmoxisus commented on #249
@lukebarton could you please modify [our example with Redux Saga](https://github.com/zalmoxisus/redux-devtools-extension/tree/master/examples/saga-counter) to replicate that?

[2016-11-04 18:43] zalmoxisus commented on #249
@lukebarton, I modified the example as following and not getting the issue:
[code]

I'm dispatching `DECREMENT` and see `-1` > `0` > `1`. Am I missing anything?

[2016-11-05 15:43] Darkbladecr opened #250 "Angular 1 $apply()"
Great work with this extension, I have been using the original redux-devtools for some time and would like to migrate to this extension, but I have some issues with updating my view correctly.

Previously I was able to gather all actions from the `DockMonitor` directly and update the view accordingly:
[code]

However now I have a slight issue with connecting to the extension. I am using the `.subs

[2016-11-05 15:52] Darkbladecr commented on #250
If you would like to clone and try. You can use the eggly-redux repository, which mimics my redux setup.
https://github.com/simpulton/eggly-redux

[2016-11-05 16:06] zalmoxisus commented on #250
@Darkbladecr, it's not quite clear what you want to accomplish here.

[Redux DevTools](https://github.com/gaearon/redux-devtools) and the extension are different projects and you shouldn't mix them. So, no need to include monitors in your app as they are just React components.

I don't know what `$ngReduxProvider.createStoreWith` stands for, but the extension's enhancer should goes here.

`window.

[2016-11-05 16:16] Darkbladecr commented on #250
Sorry I didn't make myself clear. The 1st code block is my previous setup with [Redux-devtools](https://github.com/gaearon/redux-devtools). I am now trying to migrate to this great extension. So I have removed all the dependencies to react etc... and am now loading the `window.__REDUX_DEVTOOLS_EXTENSION__` as an enhancer.

The `$ngReduxProvider.createStoreWith()` is simply a wrapper for `redux.cre

[2016-11-05 16:27] Darkbladecr commented on #250
I have managed to get it to work with a bit of a hack:
`$ngRedux` is my redux store.
[code]

[2016-11-05 16:42] zalmoxisus commented on #250
Yes, but the problem is that `connect` estabilish a new connection (instance) you can see it clicking on that select with `Autoselect instances`. So, it is independent form the instance coming from the enhancer.

You could try to provide an `instanceId` parameter  with the same value to both the enhancer and connect, but not sure how it will work.

[2016-11-05 17:30] jrullmann opened #251 "Imports with remotedev_report do not show expected actions in ReduxDevTools"
I'm trying to test this extension with redux-devtools and having trouble.

To reproduce:

1. Install DevTools extension, configure the settings with the host and port of where remotedev-server is running
1. Add `redux-remotedev` to a redux app. Configure it to send a report to remotedev-server whenever a specific action is dispatched. I called mine `SEND_BUG_REPORT`
1. Dispatch some action. I call

[2016-11-05 17:47] zalmoxisus commented on #251
It seems to be a regression introduced in [`2.6.0`](https://github.com/zalmoxisus/redux-devtools-extension/releases?after=v2.6.1), so [`window.store.liftedStore.importState` function](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/background/logging.js#L17) doesn't exist anymore.

[2016-11-05 18:39] zalmoxisus commented on #251
@jrullmann, fixe in `v2.9.2`. It will be available on Chrome Store in about an hour.

I should have to check that before, sorry about that. Let me know if you have any other troubles with that.

[2016-11-05 20:13] valdemars commented on #249
I have the same problem, latency:0 isn't fixing
In my case:
When app load first - store data is empty, but in action payload data is not empty, and in DIFF tab - states are equal (but really store is updated in app, and states are not equal).
**But**, when I click on pause/start recording button - data appears in a store.
**Video:**
http://sendvid.com/3f82tyzg
https://www.dropbox.com/s/dhwyhpd67yp

[2016-11-05 20:33] zalmoxisus commented on #249
@valdemars, thanks for the details. Unfortunately, video doesn't help much. You can help us by providing a repo to replicate the issue. If you cannot share your project, [there are examples](https://github.com/zalmoxisus/redux-devtools-extension/tree/master/examples) you can change in order to reproduce this behaviour.

[2016-11-05 20:48] zalmoxisus commented on #249
Just to clarify, when you click `Pause` or dispatch any other monitor action, the whole history is sent to the extension, that's why there's no problem in that case. However, in other cases we're a sending to the extension only new changes (for performance reason).

Normally, the state is changed before our `store.subscribe` is invoked so there shouldn't be such behaviour like in those videos, but

[2016-11-05 23:45] jrullmann commented on #251
@zalmoxisus awesome! I don't see v2.9.2 in the Chrome Store yet - is it typical to take this long?

[2016-11-06 09:02] zalmoxisus commented on #251
@jrullmann, I'm sorry, there were a server error when uploading, and I didn't notice :-/
It's available now.

[2016-11-06 15:44] jrullmann commented on #251
Woot, it works!!

[2016-11-06 15:44] #251 closed

[2016-11-06 17:40] somghosh commented on #249
@zalmoxisus it seems like on my chrome this issue is fixed now. All the correct DIFFs in state are being shown. I am still scratching my head trying to understand what happened (i checked that you didn't release any new version)

[2016-11-07 18:54] zalmoxisus commented on #249
@somghosh in fact [there were `2.9.1` and `2.9.2` published these days](https://github.com/zalmoxisus/redux-devtools-extension/commits/master), just didn't add a release tag here as they are mostly blind patches :-/

[2016-11-08 05:24] oyeanuj commented on #220
@zalmoxisus I was a little confused while upgrading to the latest, around the usage of `window.devToolsExtension`. My code today looks like this:
[code]

Now with the new changes that you announced and deprecation of `window.devToolsExtension`, I changed my code to this:

[code]

but get the following error:
[code]

I assume this error is because I can't use `composeEnhancers` with `window.__REDUX

[2016-11-08 09:07] zalmoxisus commented on #220
@oyeanuj, yes you shouldn't use both. Best way would be:
[code]

New method, `window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__`, offers the ability to lock enhancers and middlewares (when the corresponding button is clicked) and to dispatch remote actions through other enhancers. See [the blog post](https://medium.com/@zalmoxis/improve-your-development-workflow-with-redux-devtools-extension-f0379227ff8

[2016-11-08 10:02] maxime1992 commented on #249
@zalmoxisus I think I do have the same problem and I can help you to reproduce :

[code]

Open your browser at : [http://localhost:4200/cockpit/workspaces](http://localhost:4200/cockpit/workspaces)

Now if we look at the state, we have something like :
![image](https://cloud.githubusercontent.com/assets/4950209/20094339/15b84c84-a5a1-11e6-9b31-f19eeaa1ec1a.png)

Then click on the + button :
![imag

[2016-11-08 10:51] zalmoxisus commented on #249
@maxime1992, thanks for the example.

However the current issue is Redux specific, while you're using the extension API directly via nrgx store devtools.

The issue you're having is related to Chart Monitor only, the same error as in https://github.com/romseguy/redux-devtools-chart-monitor/issues/11. I'll look into it.

[2016-11-08 12:00] maxime1992 commented on #249
Woops I misunderstood. Thanks for pointing the other issue and for looking into it.

[2016-11-08 23:11] oyeanuj commented on #220
@zalmoxisus great, thank you for the detailed answer!

[2016-11-10 11:03] luisherranz opened #253 "Problems displaying action objects"
We are having troubles reading our action objects from redux-dev-tools since a week or so.

Sometimes the action object is ok:
![screen shot 2016-11-02 at 17 11 14](https://cloud.githubusercontent.com/assets/3305402/20174211/19aa5efc-a73d-11e6-8c34-cca3c1020ad0.png)
But sometimes the action object is somehow displayed incorrectly:
![screen shot 2016-11-02 at 17 11 03](https://cloud.githubuserconte

[2016-11-10 11:18] zalmoxisus commented on #253
Yes, we are not showing circular references now by default, for performance reason. If you want to see circular structures in the extension's monitors (instead of the simplified path) just set `serializeState` parameter to `false`:

[code]

[2016-11-10 11:20] zalmoxisus commented on #253
In case you didn't intend to have circular references in your states and it happen accidentally, [here's how you can spot it](https://github.com/gaearon/redux-devtools/issues/323#issuecomment-258139062).

[2016-11-10 12:50] luisherranz commented on #253
Thanks for your answer @zalmoxisus.

We don't use `composeWithDevTools` and `thunk`. We use this:
[code]

I'll try to update our code to `composeWithDevTools` to see if that helps.

[2016-11-10 13:11] luisherranz commented on #253
It didn't work with either `composeWithDevTools` or `composeEnhancers`.

[2016-11-10 13:14] luisherranz commented on #253
The errors seems quite random:
![screen shot 2016-11-10 at 14 13 33](https://cloud.githubusercontent.com/assets/3305402/20178052/e8d2d260-a74f-11e6-89fc-91707dc8cb81.png)
![screen shot 2016-11-10 at 14 13 37](https://cloud.githubusercontent.com/assets/3305402/20178063/efb10980-a74f-11e6-8a84-4111eb412281.png)

The same actions sometimes are fine and sometimes they are not.

[2016-11-10 13:35] luisherranz commented on #253
Any other ideas on what to explore?

[2016-11-10 13:47] zalmoxisus commented on #253
@luisherranz, sorry, you should set `serializeState` to `true` not to `false`.

It appears random depending of what part of the history was sent to the extension.

Using the npm package is not mandatory. It could be use also as following:
[code]

[2016-11-10 14:05] luisherranz commented on #253
@zalmoxisus thanks.

If I set `serializeState` to true, my app doesn't connect to ReduxDevTools. There is no action or selection available. It's like ReduxDevTools doesn't see it anymore:
![screen shot 2016-11-10 at 15 04 42](https://cloud.githubusercontent.com/assets/3305402/20179561/08b89aea-a757-11e6-81c2-d15e18e69a32.png)

[2016-11-10 14:12] zalmoxisus commented on #253
@luisherranz, do you get any errors on the console?

[2016-11-10 14:32] zalmoxisus commented on #249
@maxime1992 it should work in `2.10.0`, [here](https://github.com/ngrx/store-devtools/issues/38#issuecomment-259704023) are more details why that was happening. Thanks again  for the example!

[2016-11-10 14:34] zalmoxisus commented on #249
@lukebarton, @valdemars could you please check if you're still experiencing the issue in `2.10.0`. If yes, please amend [my example](https://github.com/zalmoxisus/redux-devtools-extension/issues/249#issuecomment-258515651) to reproduce that.

[2016-11-10 14:55] luisherranz commented on #253
Oh, sorry. Yes, I'm getting `Uncaught TypeError: Cannot read property 'toJS' of null` when I try to open ReduxDevTools.

[2016-11-10 15:03] zalmoxisus commented on #253
@luisherranz, could you please paste the fragment of code which throws? It [shouldn't happen as the value is checked before that](https://github.com/zalmoxisus/redux-devtools-extension/blob/6d5e65c457070efbf6ad6b00980c2158b986ecea/src/app/api/index.js#L12).

[2016-11-10 15:08] luisherranz commented on #253
Yeah, that's one of those funny things about JS.

[2016-11-10 15:10] luisherranz commented on #253
The error kicks in when I click on the ReduxDevTools icon to see the interface:

![screen shot 2016-11-10 at 16 09 01](https://cloud.githubusercontent.com/assets/3305402/20181841/08d1f810-a760-11e6-8207-1ba3624dcabb.png)

[2016-11-10 15:24] zalmoxisus commented on #253
It's fixed in `2.10.0.1` (should be available in maximum an hour on Chrome store). Also `{ serializeState: false }` works now, it takes care only of circular references, while setting it to `true` serialize all special types (being much slower).

[2016-11-10 15:35] luisherranz commented on #253
Awesome @zalmoxisus :)

I'll try updating Chrome within an hour and I'll let you know.

[2016-11-10 15:40] pmulac opened #254 "[Suggestion] Always show both slider arrow buttons"
The slider has two arrow buttons that are used to move forward and backward through state history ( `<` and `>`).  When the slider is at either end of the history stack, one of the arrows becomes hidden.  For example, when the slider is at the most recent state snapshot, the "forward" button is hidden.

This is frustrating because when I use the slider, my eyes are focused on the web application,

[2016-11-10 16:10] maxime1992 commented on #249
@zalmoxisus it's fixed, thanks a lot ! =)

[2016-11-10 16:40] zalmoxisus commented on #254
Thanks for the suggestion. Yes, I wanted to save some space, but noticed that annoying behaviour as well. I'll look into it later.

In case you have some time to contribute, [the slider component is in a separate lib](https://github.com/zalmoxisus/remotedev-slider), and have also [an example you can run](https://github.com/zalmoxisus/remotedev-slider/tree/master/examples/todomvc).

Basically, you

[2016-11-13 11:56] minedeljkovic opened #255 "Respect serialization parameters when doing export"
[New serialization options](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.8.4) are really helpful when actions and/or state contain not JSON.stringify-friendly values like dates and errors.

Could these parameters also affect serialization on export?
(I believe it is [here](https://github.com/zalmoxisus/remotedev-app/blob/16f9035c0da289680ce804cc1bc67cb4ea91ea36/src/app/co

[2016-11-13 19:31] zalmoxisus commented on #255
Good point. We just need to pass that parameter from the client part as we do for action creators.

[2016-11-14 10:02] minedeljkovic commented on #255
I tried to play with this and come up with a problem with `jsan.stringify`.

Checks with `instanceof` that are made [here](https://github.com/kolodny/jsan/blob/9b37cebc85c5a5cbca0b512764b3a8f5511a93b6/lib/cycle.js#L25) and [here](https://github.com/kolodny/jsan/blob/9b37cebc85c5a5cbca0b512764b3a8f5511a93b6/lib/cycle.js#L37), for example, give false negatives in this situation. I believe because of

[2016-11-14 10:23] zalmoxisus commented on #255
Another solution would be instead of [stringifying the liftedState](https://github.com/zalmoxisus/remotedev-app/blob/16f9035c0da289680ce804cc1bc67cb4ea91ea36/src/app/components/buttons/ExportButton.js#L22) from the extension part, to request it form the client side. The problem here is that we should keep [`handleExport`](https://github.com/zalmoxisus/remotedev-app/blob/16f9035c0da289680ce804cc1bc

[2016-11-14 21:22] agreco commented on #249
Hey, just stumbled upon this..

How do I add the latency param via `const composeEnhancers = window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__ || compose;`.

Thanks in advance.

[2016-11-15 08:54] zalmoxisus commented on #249
@agreco,
[code]

If you could provide a repo or an example to reproduce the problem, it would help.

[2016-11-15 09:04] agreco commented on #249
@zalmoxisus thanks! I was using the first approach and then spotted the `__COMPOSE__` method 👍

[2016-11-15 09:38] zalmoxisus commented on #249
@agreco did that help? I'm still unable to replicate this issue. Maybe you could provide more details?

[2016-11-15 09:45] agreco commented on #249
@zalmoxisus Oh sorry, there was no issue :) I can confirm that your suggestion works!

It was me just reimplementing the `window.__REDUX_DEVTOOLS_EXTENSION__ && window.__REDUX_DEVTOOLS_EXTENSION__()` to use `window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__`.

This was the first place I stumbled upon before reading the docs.

[2016-11-15 19:11] zalmoxisus commented on #255
@minedeljkovic, I implemented it in https://github.com/zalmoxisus/redux-devtools-extension/commit/a54c2bcb9a68ee61269340bc2b676725546c02c7 and https://github.com/zalmoxisus/remotedev-app/commit/551a10fdde8118d6e61b26626097504fb4d9438b.

It should work in just published `2.10.1`.

[2016-11-15 23:39] minedeljkovic commented on #255
This looks great!

I found one small issue.
It seems that `payload` and `preloadedState` values are [stringified](https://github.com/zalmoxisus/redux-devtools-extension/blob/70c28cd2246ebd726cb1126fe83ca64edd1b7dad/src/app/api/index.js#L39) [separately](https://github.com/zalmoxisus/redux-devtools-extension/blob/70c28cd2246ebd726cb1126fe83ca64edd1b7dad/src/app/api/index.js#L40), but [parsed togeth

[2016-11-16 10:03] zalmoxisus commented on #249
Closing this.

@lukebarton, @valdemars if you're still experiencing this issue with the latest please let me know.

[2016-11-16 10:05] zalmoxisus commented on #255
I see. Thanks a lot for the investigations! Fixed in `2.10.1.1`.

Feel free to reopen the issue if it still goes wrong.

[2016-11-16 10:05] #255 closed

[2016-11-16 10:06] zalmoxisus commented on #253
Should work. If not,  feel free to reopen the issue.

[2016-11-16 10:06] #253 closed

[2016-11-16 10:07] zalmoxisus commented on #244
Implemented in the latest. Thanks a lot for the pointing it out! Let me know if you're still experiencing any troubles with it.

[2016-11-16 10:07] #244 closed

[2016-11-16 10:18] luisherranz commented on #253
Yes, confirmed this is working fine again with 2.10.1! Sorry for the lack of feedback, I've been out of the office these days.

[2016-11-16 10:21] cloud-walker opened #257 "Option to disable alt+shift+arrow keybinding?"
Hi, I use the alt+shift+arrow keybinding for text selection purposes, but the redux devtool pops up instead, is very annoying, It is possible to disable this feature with an extension option for example?

Thanks in advance!

[2016-11-16 11:01] zalmoxisus commented on #257
Yes, those shortcuts are disabled by default since [`2.8.2`](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.8.2), but I guess you've installed the extension before that.

To set/change the keyboard shortcuts, click "Keyboard shortcuts" button on the bottom of the extensions page (`chrome://extensions/`).

[2016-11-16 11:18] cloud-walker commented on #257
![image](https://cloud.githubusercontent.com/assets/1144075/20345281/beb0691a-abf6-11e6-9af4-ff83b3d19c95.png)

Didnt know that! Thanks!

[2016-11-16 11:18] #257 closed

[2016-11-16 11:56] arjunu commented on #249
@zalmoxisus issue is still there in 2.10.1.1. I'm unable to reproduce it on a smaller project.

Also for some reason the slider is not at the end when i open it. Is that related to this? Nothing happens when I drag it till the end. If I click pause, state is updated.

<img width="570" alt="screen shot 2016-11-16 at 3 56 02 pm" src="https://cloud.githubusercontent.com/assets/4038217/20346409/db30e9

[2016-11-16 12:26] Pszek opened #258 "Breaking after update"
system: OSX 10.11.6
browser: Chrome 54.0.2840.98 (64-bit)
devtools: 2.10.1.1

stack trace:
[code]

[2016-11-16 13:39] zalmoxisus commented on #249
@arjunu, yes it should be related. Are you using any filter parameters?

[2016-11-16 13:49] zalmoxisus commented on #258
@Pszek thanks for the report. I see why it's happening and can revert removing the monitor state. But why do you need to render devtools components when using the extension? You shouldn't mix vanilla Redux DevTools with the extension.

[2016-11-16 15:10] arjunu commented on #249
@zalmoxisus  There are no exceptions. What do you mean by filter parameters? Is it the search box in Inspector?

[2016-11-16 15:13] zalmoxisus commented on #249
@arjunu I mean that you can filter actions whether specifying them on the extension setting page or by using `actionsWhitelist` / `actionsBlacklist` parameters. In other words are you specifying any parameters?

[2016-11-16 15:13] arjunu commented on #249
@zalmoxisus Nope.

[2016-11-16 15:18] Pszek commented on #258
I don't mix explicite. I use sth like that:
[code]

[2016-11-16 16:10] zalmoxisus commented on #258
@Pszek but somewhere you're still rendering `DevTools` component. You should prevent that as following:
[code]

[2016-11-16 16:51] Pszek commented on #258
@zalmoxisus Thanks that solved it. Thank you for that great extension!

[2016-11-16 16:51] #258 closed

[2016-11-16 17:53] zalmoxisus commented on #249
@arjunu I'm still stuck in reproducing that. Do you also use redux-saga? Does that happen when starting the app (like in @valdemars' video)? The slider's position isn't accurate everytime the state is altered? Maybe you can find something in [my example](https://github.com/zalmoxisus/redux-devtools-extension/issues/249#issuecomment-258515651) we can change to correspond to the behaviour of your ap

[2016-11-16 17:55] zalmoxisus commented on #258
No problems. I'm still thinking whether we should include an empty monitor state as before to prevent those cases or let the component throws to let users know that they included them.

[2016-11-16 18:48] arjunu commented on #249
@zalmoxisus Yes I use redux-saga. When my app loads a bunch of sync actions and async are dispatched. I use code splitting and async reducer injection. Until my chunk loads (I'm dispatching actions to show/hide loader for loading chunks as they're huge) the state is up to date in the inspector. Post that it's not updated. The diff section either shows "states are equal" or a previous action's diff

[2016-11-16 19:09] zalmoxisus commented on #249
Yes, we've changed the format of the exported file in the latest. Before it included a lot of unnecessary data. Anyway, it wouldn't help to debug as the data to export are requested from the client side again.

To inspect the extension's state:

1. Open `chrome://extensions/`, check `Developer mode` on the top of teh page, find the extension and click `background page` link.
2. In the console you

[2016-11-16 19:16] arjunu commented on #249
@zalmoxisus
you're correct
<img width="307" alt="screen shot 2016-11-17 at 12 46 27 am" src="https://cloud.githubusercontent.com/assets/4038217/20361910/54c72552-ac5f-11e6-9f94-532f17bda3e4.png">

[2016-11-16 19:18] zalmoxisus commented on #249
@arjunu did you dispatched 14 actions or 19? To understand whether the actions or sates were sent wrong.

[2016-11-16 19:20] arjunu commented on #249
@zalmoxisus 14. Once I click pause both arrays become 15 in length.

[2016-11-16 19:48] zalmoxisus commented on #249
Well, I added a tweak to prevent sending the same state history multiple times, though I still don't know why it is happening.  Published `2.10.1.2` which should appear on Chrome Store in about an hour. Please give it a try.

[2016-11-16 22:30] Pszek commented on #258
Maybe leaving it like now, but adding helpful console log message (if possible) redirecing to page showing example code (as aforementioned)?

[2016-11-17 05:19] arjunu commented on #249
@zalmoxisus Still the same with 2.10.1.2.

[2016-11-17 06:00] m-lautenbach opened #259 "Multiwindow support"
I tried to compare the Actions of two different windows of our app.
This doesn't seem to be supported, because the two windows seem to share the actions list.
Is this a bug or would that be an improvement or do I just use it wrong?

[2016-11-17 09:19] zalmoxisus commented on #259
I'm not sure I understand the problem. Every window has its instance. You should select it:
<img width="348" alt="redux_devtools" src="https://cloud.githubusercontent.com/assets/7957859/20383250/aaa3efd4-acb7-11e6-8032-45407a1a983c.png">

[2016-11-17 10:45] m-lautenbach commented on #259
Ok, when I manually select instances, it works.
So autoselect selects the instance from another window?

[2016-11-17 11:33] zalmoxisus commented on #249
@arjunu, could you please give a try to `2.10.1.3` I've just published? If that still doesn't help, then we need an example to reproduce.

[2016-11-17 11:41] arjunu commented on #249
@zalmoxisus Sorry, still the same.

[2016-11-17 12:38] DiMoNTD opened #260 "[Enhancement] Redux-saga monitor"
There is a new Redux-saga devtool, and I think this need to implement as part of redux-devtools-extension.
Here is the repository of Redux-saga monitor
https://github.com/yelouafi/redux-saga-devtools

@zalmoxisus, what do you think about it?

[2016-11-17 12:42] zalmoxisus commented on #260
@DiMoNTD, thanks for the heads-up! [We're investigating the away of implementing it](https://github.com/yelouafi/redux-saga-devtools/issues/4).

[2016-11-17 12:46] zalmoxisus commented on #259
`Autoselect` means that it will show the instance which dispatched an action (so you'll not miss any new actions). So, when you open the second window, the new instance is dispatching an action and it gets autoselected.

However, I agree that we should get the current window's instance selected by default, which works when opening the extension browser action popup, and used to work when opening f

[2016-11-18 04:59] m-lautenbach commented on #259
Thanks for the explanation.
I'd agree to your point, especially because both instances had the same name in my case.

[2016-11-18 04:59] #259 closed

[2016-11-18 09:17] zalmoxisus commented on #249
@arjunu is the same problem (of having more states than actions) when [`latency` is set to `0`](https://github.com/zalmoxisus/redux-devtools-extension/issues/249#issuecomment-258454885)?

[2016-11-18 10:35] zalmoxisus commented on #254
Implemented in the latest. Thanks for the suggestion!

[2016-11-18 10:35] #254 closed

[2016-11-18 18:36] tomxtobin commented on #249
Is anyone else experiencing this issue using `actionsBlacklist`, by any chance?

I noticed missing actions after switching my async over to redux-saga. While trying to figure out what was going on, I also noticed that my `actionsBlacklist` setting wasn't being respected; quite a few instances of the blacklisted actions were still coming through.

When I removed `actionsBlacklist` entirely, the mis

[2016-11-19 10:16] zalmoxisus commented on #249
@tomxtobin I guess the problem still occur without `actionsBlacklist`, but maybe not that frequently or isn't so obvious that the states don't correspond.

Most likely it is related to some weird behaviour of our subscribe, as [stated in the docs](http://redux.js.org/docs/api/Store.html#subscribe):

If I had a repro case, I'd play with it to find a solution.

Maybe someone could try to change [sag

[2016-11-19 19:14] zalmoxisus commented on #249
I did a complete rewrite of that part, and have just published `2.10.2`.

@tomxtobin, @arjunu, and others who was experiencing this issue, could you please give it a whirl with and without setting `latency`?

[2016-11-19 20:15] zalmoxisus commented on #259
It should select the instance for the current window now when opening devpanel. Thank you for the heads-up!

[2016-11-20 10:25] arjunu commented on #249
@zalmoxisus It's working now!

[2016-11-20 10:31] #227 closed

[2016-11-21 15:45] borisirota opened #261 "time travel isn't working when using the redux-batched-subscribe store enhancer"
Hi, any idea why the time travel isn't working when using the [redux-batched-subscribe](https://github.com/tappleby/redux-batched-subscribe) store enhancer ?

Thanks

[2016-11-21 16:41] zalmoxisus commented on #261
Hi. Could you please provide an example repo or jsfiddle? I'd look into it.

[2016-11-22 11:16] borisirota commented on #261
https://github.com/borisirota/redux-batched-subscribe-dev-tools-issue

Thanks !

[2016-11-22 11:55] zalmoxisus commented on #261
@borisirota, thanks for the example.

There's no problems with `redux-batched-subscribe`, just the orders of the enhancers matters. So, time travelling actually works, but `redux-batched-subscribe` is not aware of that action (and `react-redux` listener is not called). To get React updated with those changes you have to emit another action.

The solution is not to use `composeWithDevTools`, which

[2016-11-22 12:35] borisirota commented on #261
it works ! great ! thanks a lot !!! 👍

[2016-11-22 12:35] #261 closed

[2016-11-22 14:24] zalmoxisus commented on #261
You're welcome. Added a note about it in [Troubleshooting](https://github.com/zalmoxisus/redux-devtools-extension/commit/f8a6edcb442d962fdc8f7b58a4f7a920ce55f112).

[2016-11-22 14:27] zalmoxisus commented on #249
To clarify, before we were batching/sending actions via `setTimeout`, but now via lodash `throttle`, which sends the leading event in the same tick. Not sure we could get the same problem as before with the trailing event.

If someone is still experiencing this issue please let me know.

[2016-11-22 14:27] #249 closed

[2016-11-22 15:00] zalmoxisus commented on #250
@Darkbladecr are you still experiencing any troubles with this? Should we add to the API a way to hook into already connected instances to deal with such cases?

[2016-11-22 17:53] tomxtobin commented on #249
It's working for me now, too (even with `actionsBlacklist`). Thanks!

[2016-11-22 18:18] Darkbladecr commented on #250
I don't have any trouble as the above example works for me, we can close this.

[2016-11-22 18:57] #250 closed

[2016-11-23 14:42] mwlpeeters opened #262 "Version 2.10.3 is no longer able to import state"
Import of a state does not work in 2.10.3 but is does in 2.10.2

I've tested this on a separate machine with 2.10.2 and on my own machine by loading the 2.10.2 version from disk.

[2016-11-23 19:38] zalmoxisus commented on #262
Thanks a lot for the report! Fixed in https://github.com/zalmoxisus/remotedev-app/commit/957a4b75b20b8630901b25f8dd39410833cd9cfb.

Published `2.10.3.1`, which should be available in about an hour on Chrome Store.

[2016-11-24 09:45] mwlpeeters commented on #262
Thanks a lot, just installed the latest version of the extension and it now works correctly again.

[2016-11-24 09:45] #262 closed

[2016-11-24 14:31] sarink commented on #51
Is there any way to perform this import programmatically?

[2016-11-24 15:08] zalmoxisus commented on #51
@sarink, yes, you can do `store.liftedStore.dispatch({ type: 'IMPORT_STATE', nextLiftedState: nextLiftedState  })` right from your app. `nextLiftedState` is the history object you want to import. See [`redux-devtools-instrument`](https://github.com/zalmoxisus/redux-devtools-instrument/blob/master/src/instrument.js) for more details.

A even handier solution would be to use it with [`remotedev-serv

[2016-11-24 17:20] sarink commented on #51
@zalmoxisus Works perfect, thanks!

[2016-11-25 20:25] zalmoxisus commented on #204
Now the serialization is way faster. In case you're still experiencing signifiant delays, feel free to reopen the issue, and we'll investigate it further.

[2016-11-25 20:25] #204 closed

[2016-11-26 10:00] jombie opened #263 "Not able to scroll the State pane"
The State>Tree pane is not scrollbable, so not able to see complete state.
![redux-dev-tools](https://cloud.githubusercontent.com/assets/2740421/20639557/42e571a0-b3ed-11e6-8ac5-66f56d31d3b0.png)

[2016-11-26 10:04] zalmoxisus commented on #263
It was just fixed by @jhen0409 in https://github.com/zalmoxisus/remotedev-monitor-components/pull/1. The patch be available on Chrome Store in about an hour.

Thanks for the report!

[2016-11-26 11:13] zalmoxisus commented on #263
Available in `2.11.0.2`. Feel free to reopen the issue if it still goes wrong.

[2016-11-26 11:13] #263 closed

[2016-11-26 11:17] zalmoxisus commented on #233
Now it's possible to navigate only a subtree (see [the release notes](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.11.0)). However, setting a threshold would be still useful. If you want to fix that issue in `redux-devtools-chart-monitor` let me know, I'd help with it and would add the option here.

[2016-11-26 11:21] zalmoxisus commented on #172
Now we take into account the window's width, and, when it's in wide mode, there's more data. Also there's a `Raw` view with all the data. See [the release notes](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v2.11.0) for more details.

If you think it can be done better, feel free to reopen the issue.

[2016-11-26 11:21] #172 closed

[2016-11-26 14:36] jombie commented on #263
Still not working for me, Here are the screenshots let me know if i need to change something

![redux-3](https://cloud.githubusercontent.com/assets/2740421/20640978/b2824198-b413-11e6-9fc4-90ae8632f6e3.png)
![redux-2](https://cloud.githubusercontent.com/assets/2740421/20640979/b2847d1e-b413-11e6-82dc-9e90e0fdd71f.png)

[2016-11-26 14:40] zalmoxisus commented on #263
@jombie you can check the installed version on `chrome://extensions` page (or click on the extension `Settings` button and you'll get there). It should be `2.11.0.2`.

[2016-11-26 17:53] jasondonnette commented on #263
@zalmoxisus I'm on 2.11.0.3 and it still seems broken on OSX and Chrome 54.0.2840.98

[2016-11-26 18:56] zalmoxisus commented on #263
Weird, indeed I didn't updated that. Just uploaded `2.11.0.4`. It will be available in about an hour on Chrome store. Sorry for the troubles 😕

[2016-11-27 08:25] mojim opened #264 "No store found on chrome 54"
Hi

Thanks for this great tool

Unfortunately, In Chrome 54 I get this error

No store found. Make sure to follow the instructions.

Everything is just fine without any error but don't know how to fix this

Best regards

[2016-11-27 09:24] zalmoxisus commented on #264
HI. I am using Chrome 54 as well without any problems. Please share your store config.

[2016-11-28 18:00] firatsarlar opened #265 "provide an option to disable context ( right click ) menu"

[2016-11-28 20:15] jpdelatorre opened #266 "No vertical scrolling for State view - Tree tab"
The version 2.11.0 in Chrome v54.0.2840.98 (64-bit) Mac, doesn't allow you to scroll vertically

[2016-11-28 21:12] jasongonzales23 commented on #266
+1

The right hand panel of the screenshot below is not scrollable. Just need to set overflow: scroll on the appropriate container. Should be a fast fix. I'd be happy to jump in and contribute later today if it would help.

![image](https://cloud.githubusercontent.com/assets/243861/20686127/38dd422a-b56c-11e6-9da1-64452b29ba3e.png)

[2016-11-29 09:48] zalmoxisus commented on #266
Should be fixed in `2.11.0.4` (https://github.com/zalmoxisus/remotedev-monitor-components/pull/1), which was published on Saturday. Please check if you have the latest version. I cannot reproduce the issue on Mac.

[2016-11-29 15:56] mAAdhaTTah commented on #208
This is definitely resolved with the latest version. I will also mentioned, in reviewing the code, there was a mutation in the reducer, so the same array was being returned, rather than a new one, which (maybe?) caused some issues as well, in case anyone else has this issue.

[2016-11-29 15:58] jasongonzales23 commented on #266
To get the update I uninstalled the extension and reinstalled it, then the issue was fixed. Is there another mechanism for forcing an update?

[2016-11-29 16:24] zalmoxisus commented on #266
@jasongonzales23 Chrome autoupdates the extension automatically, but the extension could be in use (due to some pages using it), so restarting the Chrome should help in this case. Another option is to enable developer mode on `chrome://extensions`, then there will be a new button `Update extensions now`.

Will try to bring an option to update the extension explecitely. Thanks for the reports!

[2016-11-29 16:24] #266 closed

[2016-11-29 16:54] jasongonzales23 commented on #266
I "rebooted" chrome and it didn't update (I use the beta channel, so that *may* have something to do with it?), but thanks for the reminder about developer mode!

[2016-12-02 14:04] zalmoxisus commented on #264
Any updates on this?

[2016-12-03 08:16] igorsantos07 commented on #116
I'm getting a similar issue in my setup... Every once in a while the DevTools tab works fine, but in most cases it just flicks for a brief second and then shows the "no store found" message. It works just fine from the toolbar button, for instance.
Just to be safe, I verified third-party site data: it's enabled as expected.

How could I help debug that?
Should I open a new issue instead, or you wo

[2016-12-03 09:46] mojim commented on #264
Dear zalmoxisus,
My store configuration was wrong
It's work
Thanks

[2016-12-03 09:46] #264 closed

[2016-12-03 10:01] zalmoxisus commented on #116
@igorsantos07, according the current issue, the devpanel page was blank due to an exception. In your case the data is not sent to the extension. As it flicks, most likely the url is changed.

Could you please share an example to reproduce the problem (a github repo or jsfiddle snippet)?

[2016-12-12 04:16] jumbosushi opened #267 "[Suggestion] Make actionList div horizontally resizable"
I usually use chrome dev tools in full screen mode, and sometimes I want to be able to shrink the size of actionList to be able to view actionPreview more fully.