[2015-10-27 11:18] timnew opened #1 "Use `pageAction` instead of `browserAction`?"
@zalmoxisus Do you think it would be nicer it the extension is registered as `pageAction` instead of `browserAction`. Since we only use it in particular pages instead of every one.

Before the extension can recognize the redux store, we can use it as a permanent page action(displayed on every page)?

[2015-10-27 11:24] zalmoxisus commented on #1
Yes, good suggestion. Will implement this when we'll have an option page as well, where we may indicate for which pages to use it.

[2015-10-27 11:35] timnew commented on #1
I have a suggestion, how about this:

1. We disable the `page action` by default.
2. We can inject the `devToolsExtension` to `window` object with content script on every page.
3. Then we can when the devToolExtension is invoked, then we can send a message to backend script via `sendMessage`
4. When the backend script received the message, then it enable the pageAction for the tab that sent the me

[2015-10-27 11:40] timnew commented on #1
I check the code, I think the only block is that the store is a singleton in the extension.
So it might be a problem if we are debugging multiple tabs with the extension simultaneously.
But I think it can be fixed, if we monitor the tab lifecycle events?!

[2015-10-27 11:48] zalmoxisus commented on #1
Yes, it is a good solution, but we also need to enable/disable specific urls explicitly, for example in production (instead of disabling/enabling the extension).

[2015-10-27 11:59] timnew commented on #1
Hmm, sorry I missed this part.

I imagine that we could use Dan's [multiple file solution](https://github.com/gaearon/redux-devtools/issues/166#issuecomment-150049338).

But anyway,  we restrict the behavior against specific url, then we can avoid to inject content script to every tab. Instead, we use [`declarative web request`](https://developer.chrome.com/extensions/declarativeWebRequest) to inj

[2015-10-27 17:52] #1 closed

[2015-10-27 17:52] arqex opened #2 "Use with freezer-js"
Hi @zalmoxisus

Thanks for this great extension, will it be in the extension store soon?

I have created a [binding to use redux-devtools with a freezer-js](https://github.com/arqex/freezer-redux-devtools) app and I think this extension would be much better for freezer developers than including all redux libraries needed in order to make the devtools work.

So I am trying to build a binding to you

[2015-10-27 18:00] zalmoxisus commented on #1
Thanks, @timnew! It is much better with a pageAction.

If you want to test it before the next release, just run `npm run build:extension`.

About debugging multiple tabs, it's the same as for the browserAction. The popup/window's store is updated if you open/refresh the page or dispatch an action, otherwise you have their the devtools for the last active tab (as in demo). I'm not sure whether it i

[2015-10-27 18:19] zalmoxisus commented on #2
Hey, @arqex.

Actually, it's not my liftedStore :) The new Redux DevTools (3.0.0-beta-3) uses it, and there are a lot of breaking changes there. So, if your app will work with Redux DevTools 3.0.0, it will work with the extension as well.

We may use different versions of the Redux DevTools in the extension, but it make it too complex so I want to be sure that people need it.

Thanks for the kind

[2015-10-27 18:34] zalmoxisus commented on #2
The code is in the `./src/app` and `./src/browser/extension`.
Use `npm start` (after the `npm install`) to start in the dev mode, and load the `./dev` folder instead of `./build/extension`.
Or you may build it with `npm build:extension`. I should add it to the readme.

[2015-10-27 20:15] zalmoxisus commented on #1
Fixed the issue with multiple tabs in https://github.com/zalmoxisus/redux-devtools-extension/commit/49b52988b82047fa833a7b760fb0343f0c1e60dd.

[2015-10-28 04:21] timnew commented on #1
awesome, I was thinking maybe I can provide a pull request later today.

I'll try latest release today!

Cheers,
Tim

Sent from my Galaxy Note 3
On Oct 28, 2015 4:15 AM, "Mihail Diordiev" <notifications@github.com> wrote:

[2015-10-28 07:44] zalmoxisus opened #3 "Option page"
We need an [option page](https://developer.chrome.com/extensions/optionsV2) to configure the extension. At least, it would be possible to enable the extension only for the specific urls. So it would be easy to enable/disable DevTools in production.

If you want something more to be configurable, leave your suggestions here.

[2015-10-28 07:46] zalmoxisus commented on #1
Feel free to reopen the issue if something goes wrong.
Opened another issue for the option page: #3.

[2015-10-28 07:56] timnew commented on #1
Got it. Do you have any idea about how to build options page? Redux + React?

Actually, the stuff I'm building with redux and react is the option page for a chrome extension. :joy:

[2015-10-28 08:01] zalmoxisus commented on #1
It's as easy as an browser/page action page. I do not see nothing special. Just would be great to choose a React lib for the forms' UI. And of course, we need to save the configuration to chrome.storage.sync and read it from the content script or receive it from the background script. The latter would be preferable (though more complicated) as to be compatible with Firefox (because firefox extensi

[2015-10-28 08:13] zalmoxisus commented on #1
If you found something different in the option page, we may add it in [our boilerplate](https://github.com/zalmoxisus/browser-redux).

[2015-10-28 08:29] timnew commented on #1
Sure!

I might need to get familiar with FF `web extension` first. I have no experience about it before. As you mentioned, there is some minor differences might impact on the implementation.

[2015-10-28 08:41] arqex commented on #2
Thanks for the prompt reply.

No problem I will adapt the library to support the new version of redux-devtools, it shouldn't be difficult with you instructions. Don't worry about supporting other redux versions, I think your app would work well with any of them, it is my library that hacks redux a bit, the one to adapt.

I will give it a try this afternoong and let you know.

[2015-10-28 09:27] peteruithoven opened #4 "White popup. Add example?"
I've followed the instructions from the readme, but when I visit my project and open the extension it shows a white popup. Probably a javascript error. But I've never made a Chrome extension and I don't know how to debug it.
It would be great if there was a live example (todo?) website that I could visit to check if it was something in my project (not using `window.devToolsExtension` correctly).

[2015-10-28 09:48] peteruithoven commented on #4
Following the instructions from https://github.com/zalmoxisus/redux-devtools-extension/issues/2#issuecomment-151603334 I build the dev folder and loaded that as extension and suddenly the location of the exention icon changes and it does show the debugger.
Extension from: `build/extension`:
![screen shot 2015-10-28 at 10 44 52](https://cloud.githubusercontent.com/assets/523210/10784963/3a143c8c-7d

[2015-10-28 09:58] zalmoxisus commented on #4
Yes, in `./build/extension` we have the previous released version, when you do `npm start` you get the upcoming release, which will be released today ;)
I will add the `./buld` to the .gitignore to avoid the confusions.
The main differences are described in #1.
So, the upcoming release works well?

[2015-10-28 10:02] adamscybot opened #5 ""Failed to retrieve persisted state from storage" or "Uncaught DataCloneError: Failed to execute 'postMessage' on 'Window': An object could not be cloned.""
Having trouble getting this to work. Here is my setup:

[code]

This gives me:

[code]

If I insert the ```DevTools.instrument()``` in compose (do we need this?) like so:

[code]

I get:

[code]

and

[code]

I can get rid of the first error by removing my persistState (redux-localstorage) plugin. But the second error persists.

[2015-10-28 10:12] peteruithoven commented on #4
Ah, thanks that clarifies that, sounds like a great improvement.

But the new (dev) version doesn't fully work I'm getting the following error in my console:
[code]
The debugger only shows the `@@init` action.
Using Redux version `3.0.4`. Are there other versions relevant?

[2015-10-28 10:17] zalmoxisus commented on #5
Hey, @adamscybot. Just released `0.1.0`, please sync the git, reload the extension and try again without persistState.

No, you don't need `DevTools.instrument()`, and even don't need to import `redux-devtools`, the extension does this for you.

persistState is imported from `redux-devtools` or from `redux-persist`?

[2015-10-28 10:20] zalmoxisus commented on #4
We have the same issue in #5, but I cannot reproduce it. I just released 0.1.0. Could you please sync the git and try again with `./build/extension`?

[2015-10-28 10:22] zalmoxisus commented on #4
To check you may just use counter or mvc examples from `./examples`, just do `npm i` and `npm start there`. It should run on port 4001 and 4002.

[2015-10-28 10:24] peteruithoven commented on #4
I'll check with that example. I'll report issues relating to that `postMessage` in #5.
If you think it's a good idea this issue could serve as a todo to make a example website.

[2015-10-28 10:26] zalmoxisus commented on #4
Good suggestion, especially when we'll have the extension on Chrome WebStore.

[2015-10-28 10:32] peteruithoven commented on #5
I'm also getting the postMessage error, with the latest build/extension from git.
Full error:
[code]
Using Redux version 3.0.4.
Using the following initialization:
[code]
So no other store enhancers, like persistState or redux-devtools.

[2015-10-28 10:42] zalmoxisus commented on #5
Googling a bit, I found that the exception is caused by the browser's implementation of the [structured cloning algorithm](https://developer.mozilla.org/en-US/docs/Web/Guide/API/DOM/The_structured_clone_algorithm), which Window.postMessage uses to clone objects. The implementation of the cloning algorithm causes an error to be thrown when attempting to clone error, function, and DOM node objects.

[2015-10-28 10:53] peteruithoven commented on #5
I've checked, both examples with fine.

I'm in the process of adapting an existing app to Redux, which means I still have some data objects that are instances of a class and THREE.Vector2's.
Is this issue specific for the extension or Redux devtools in general?

[2015-10-28 10:56] zalmoxisus commented on #5
I guess it's specific for the extension and serializing the data should solve it. Strange that I cannot reproduce it.

What version of Chrome do you use?

[2015-10-28 10:57] peteruithoven opened #6 "Add hint on how to open as window?"
I was having problems finding how to open the extension as a separate window (instead of a automatically closing popup).
It was possible by right clicking on the extension icon and selecting the second Redux DevTools.
Is there a way we can make this easier to find? Maybe add it to the Readme?

[2015-10-28 11:15] zalmoxisus commented on #5
Just pushed a new commit, which serialize the data from page script.
@peteruithoven, could you try it out as indicated [here](https://github.com/zalmoxisus/redux-devtools-extension/issues/2#issuecomment-151603334)?

It should help with sending the data to the DevTools, but I am also wandering whether we need to serialize the data coming back in case of redoing/undoing actions. But do not want to d

[2015-10-28 11:26] zalmoxisus commented on #6
Thanks for the suggestion! It could be a solution to just specify it in the README, but I expect that the most of users will download the extension from Chrome WebStore and they will not read the description.

It would be great to extend the DevTools, adding there a button for opening it in a new window and maybe for the option page (settings).

BTW, any reasons you find having the DevTools in a n

[2015-10-28 11:59] peteruithoven commented on #6
That would be much clearer indeed.
Changing the name in the right click menu would also help slightly.

Well imagine having the regular Chrome developer tools behind a popup... Would be kind of a drag to keep reopening it right? I'm not saying that the panel doesn't have a purpose, it probably does.

Why wasn't it added as a developer tools tab btw?

[2015-10-28 12:36] zalmoxisus commented on #6
I see. I intend to extend it, so our extension will have other tabs.

[2015-10-28 12:53] peteruithoven commented on #5
Tried it, I'm afraid there is another place that needs to be serialized
[code]

[2015-10-28 12:58] zalmoxisus commented on #5
So, those data cannot be even passed to `JSON.stringify`.
Could you add an example to github? So I will be able which data we have to clone.

[2015-10-28 12:59] zalmoxisus commented on #5
Or I will try an existing solution: https://github.com/isaacs/json-stringify-safe

[2015-10-28 14:11] peteruithoven commented on #5
I've tried to make an example. I'm not sure where the problem lies in our store, so I've tried a couple of things, but nothing broke it. So I've added a very basic circular dependency (`this.me = this`) in a piece of data.
https://github.com/peteruithoven/redux-devtools-extension-issue-example

You can run this by simply starting a webserver in the folder. SystemJS (JSPM) should take care of the r

[2015-10-28 14:17] peteruithoven commented on #5
Is it possible to log more debug info, so that I can more easily figure out what in my state causes this?

[2015-10-28 15:14] andrew-codes opened #7 "Chrome extension package is invalid"
![2015-10-28 11_13_35-redux devtools - chrome web store](https://cloud.githubusercontent.com/assets/1578436/10792897/03c2a408-7d65-11e5-8982-8f0f83565449.png)

[2015-10-28 16:53] zalmoxisus commented on #7
Sorry about that. Uploaded the next version to Chrome Store, but it is still publishing.
If you want to test it now, just run run `npm i & npm build` and [load the extension's folder](https://developer.chrome.com/extensions/getstarted#unpacked) `./build/extension`.

Thanks a lot for reporting it!

[2015-10-28 17:01] zalmoxisus commented on #5
Actually, we do not need more data. You may even by yourself try to do
[code]
and you should get the same error.

Could you please briefly explain how to run that? Sorry, never used jspm before.

[2015-10-28 17:25] zalmoxisus commented on #5
Could you please explain briefly how to run the example (how to start the server)? Never worked with jspm.

[2015-10-28 18:45] zalmoxisus commented on #7
Fixed. Thanks again for the report!

[2015-10-28 18:45] #7 closed

[2015-10-28 19:00] #5 closed

[2015-10-28 19:05] zalmoxisus commented on #5
@adamscybot, @peteruithoven, thanks a lot for helping with this! I solved it by using [json-stringify-safe](https://github.com/isaacs/json-stringify-safe), which serialize all complex data instead of  `JSON.stringify`.

Please try it out by running `npm i & npm run build:extension` and reloading the extension.

As I mention before, I added serialization only for sending data from the page script.

[2015-10-28 19:24] zalmoxisus commented on #5
UPD: Instead of building the extension you may download it from [Chrome WebStore](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd) it should work as well. Please let me know if it does.

[2015-10-29 00:24] peteruithoven commented on #5
It works! Awesome work!
(Installed from the WebStore)

[2015-10-29 08:54] #4 closed

[2015-10-30 08:42] zalmoxisus opened #8 "DevTools' persist state"
Implemented DevTools' persistState in https://github.com/zalmoxisus/redux-devtools-extension/commit/f99e2035250354b23895f9f62751f14c16fa728e.

Not in WebStore so far. To test it, clone the repository, run `npm i & npm run build:extension` and [load the extension's folder](https://developer.chrome.com/extensions/getstarted#unpacked) `./build/extension`.

As usually, add `?debug_session=<session_nam

[2015-10-30 09:59] zalmoxisus opened #9 "Firefox extension"
We're supporting firefox with all the features except running from Firefox DevTools panel (which will come as soon as it [will be implemented](https://bugzilla.mozilla.org/show_bug.cgi?id=1211859)). Minimal required version is Firefox 48, which should be released soon. For now use Firefox Nightly or Developer Edition.

To build the extension run `npm i && npm run build:firefox` and [load the exten

[2015-10-30 16:53] ohana54 commented on #8
What about custom serialize/deserialize functions?
Do you have any creative idea how to supply the custom functions as "configuration"?
I would be happy to help with development but I don't know where to start.

BTW, this chrome extension is the best thing ever!! Really awesome!

[2015-10-30 19:09] zalmoxisus commented on #8
Thanks, @ohana54, for your kind words.

Could you please provide more information about your user case, where you need custom serialize/deserialize functions?

I guess your custom function should be added as a middleware or as a store enhancement.  You may add more store enhancements as usually in your `configureStore` before `window.devToolsExtension`:
[code]

If you want to add some store enhanc

[2015-11-01 21:47] andrew-codes commented on #7
Sure, of course! Cool extension. I downloaded it and have used it for a few days. Great work!

[2015-11-03 16:51] arqex commented on #2
Finally I got the freezer app working with redux-devtools chrome extension!! :)

http://freezer-redux-devtools.divshot.io/

Runing the extension in dev mode helped a lot, thanks!!

[2015-11-03 16:59] arqex opened #10 "Window onMessage is throwing errors in the console"
Hi,

I have found an issue that is annoying. I see that redux-devtools-extension is using messages to interact with the page:

[code]

It assumes that, if the event.data is a string, it will by a stringified JSON object. But sometimes it isn't and an exception is thrown.

Freezer is using also messages to implement the `nextTick` function, and its message data is just the string `"nextTick"`, so t

[2015-11-03 17:20] #10 closed

[2015-11-03 17:23] zalmoxisus commented on #10
Thanks for reporting this!
Actually, we just add JSON here to fix issues with circular references as reported in #5.

[2015-11-03 17:24] zalmoxisus commented on #2
Awesome! It even works with persist state: http://freezer-redux-devtools.divshot.io/?debug_session=test (use the extension in dev, click then refresh and you will not lose the devtools' history).

[2015-11-03 18:11] zalmoxisus commented on #2
Added your implementation to the [README](https://github.com/zalmoxisus/redux-devtools-extension#implementation).

Feel free to open this ticket or open another one if something goes wrong.

[2015-11-03 18:11] #2 closed

[2015-11-04 18:44] farrrr opened #11 "Uncaught RangeError: Invalid string length"
When I try to upload image by React-Dropzone-Component,
the browser hanged, after 20secs console will throw errors.
![screen shot 2015-11-05 at 2 41 55 am](https://cloud.githubusercontent.com/assets/1716558/10948156/14fb9740-8367-11e5-88e3-5edbebd543da.png)

If I disabled the extension, everything is ok.

[2015-11-05 09:47] zalmoxisus commented on #11
Hey, @farrr. Thanks for reporting this!
I tried React-Dropzone-Component's example and it doesn't conflict with the extension. Anyway, the extension does nothing before you pass the store to it.

Could you please tell more about your user case? Do you store the images' blobs into states? What is the purpose of storing big data? Could you please provide an example project to run or [run the extensi

[2015-11-06 04:50] farrrr commented on #11
ok, I will make an reproducible example for it.

[2015-11-10 09:58] jhen0409 opened #13 "Not supported Electron"
The #12 is great work, but It still is not work in Electron. :\

Maybe related to [this doc](https://github.com/atom/electron/blob/master/docs/tutorial/devtools-extension.md#background-pages).
"Currently Electron doesn't support the background pages feature in Chrome extensions"

[2015-11-10 13:36] zalmoxisus commented on #13
Hey, @jhen0409.

Thanks for the report! I didn't test with Electron, will do next days.
Despite that restriction, I think the script from electron apps should send messages. The problem could be that the extension is not allowed to receive them.

[2015-11-11 18:54] zalmoxisus commented on #13
Unfortunately, it will not be possible to get it work.
Electron supports Chrome extensions, but [doesn't support background pages feature](http://electron.atom.io/docs/latest/tutorial/devtools-extension/#background-pages).
Due to Chrome extension limitations, the script from devpanel cannot communicate with the content script (it can only do eval), so we communicate via background script.

[2015-11-11 18:59] #13 closed

[2015-11-16 09:59] #11 closed

[2015-11-16 10:01] zalmoxisus commented on #11
Should be fixed in https://github.com/zalmoxisus/redux-devtools-extension/commit/1eb618f0139144e9e2401ac04f9a04652fca8832. Please confirm if it is. The new version (0.3.1) will be available on Chrome Store in several hours, but you may build it from the repo.

[2015-11-16 13:05] ondrejbartas opened #14 "Lots of actions makes browser to freeze"
Hi in my project we are dispatching action after every key stroke in text field which generates tens of actions.

It is impossible to work, because you need to commit changes after few second of using, when you commit them application works as expected.

I had same problem with Redux devtools which was show on page.

When I hide redux devtools  panel it was working perfectly fine. But With your ex

[2015-11-16 13:17] ondrejbartas commented on #14
Sorry maybe it is not problem with number of actions but with size of store. Because every action is showing full store tree.

[2015-11-16 16:17] zalmoxisus commented on #14
Hi! Yes, the problem should be that every time an action is dispatched, the lifted store data (`store.liftedStore.getState()`) is serialized and sent to the background, then there is parsed to an object again. It was made in order to solve the issue #5. The lifted store, except all your states, contains also the whole history, so it is big enough. I'll try to make an workaround to catch only new s

[2015-11-16 16:39] zalmoxisus commented on #14
Also, it would be useful to add the ability to disable serialization, so if you do not have circular references, you may boost the performance.

[2015-11-16 17:38] gaearon commented on #14
Which version? There are big perf improvements in 3.0 beta compared to 2.x. Maybe you'd want to check it out.

[2015-11-17 07:28] ondrejbartas commented on #14
I am using 3.1. I had same issue with normal devtools I injected to page, It was slow only when devtools were opened (shown) if they were hidden, It was working perfectly fine.

Is possible to just don't render devtools when popup is not shown?

[2015-11-17 08:45] zalmoxisus commented on #14
Hey, @ondrejbartas. I guess @gaearon asked about the version of "normal devtools" you used. The current extension version is 0.3.1.

The action page (popup) is frozen when it is hidden. When you click to the button it is reloaded by Chrome.

The problem here is that due to Chrome extension limitations, neither action page nor Chrome devtools "(from devpanel) cannot communicate with your page direc

[2015-11-17 17:06] #8 closed

[2015-11-17 17:06] #6 closed

[2015-11-17 17:07] #3 closed

[2015-11-17 20:43] zalmoxisus commented on #14
To make it better, we'll go further and limit the number of last actions to be shown in devtools. Otherwise, sooner or later it will be impossible to process a huge amount of data. I don't think it makes lots of sense to have the history of thousands of actions. Does it? Having, let's say, only the last 100 actions should be ok, but of course it will be configurable in the options page.

[2015-11-18 20:24] zalmoxisus commented on #14
Hey,
The new version is on Chrome store. The instruction on how to better customize it can be found in [README](https://github.com/zalmoxisus/redux-devtools-extension#how-to-make-it-faster). Let me know whether it works for you.

[2015-11-18 23:16] yanivtal opened #15 "Latest version crashes our app"
JS error
```Uncaught DataCloneError: Failed to execute 'postMessage' on 'Window': An object could not be cloned.```
Somewhere around window.postMessage({payload:o.serialize?a["default"](n)

We have to uninstall the extension until this is fixed.

[2015-11-19 08:42] zalmoxisus commented on #15
Thanks for the report. We made serialization optional in the new version. It is enabled by default, but it seems that the options values come later than the first "@@INIT" action. I will fix it ASAP.

BTW, instead of uninstalling it, you may just disable the extension or exclude your url from being injected in the options page.

[2015-11-19 09:42] yanivtal commented on #15
Cool thanks. I tried turning off the serialization setting but my app till crashed. Thanks for looking into it. I really love using this!

[2015-11-19 10:03] zalmoxisus commented on #15
Yes, in your case, you need the serialization to be turned on. It should be fixed now in 0.4.1. It will be available on Chrome store in few minutes.

Thanks a lot for your feedback! Feel free to reopen the ticket if something goes wrong.

[2015-11-19 10:03] #15 closed

[2015-11-19 11:49] erikras opened #16 "A way to open it programmatically?"
I'd love to be able to do this:
[code]

[2015-11-19 11:54] zalmoxisus commented on #16
Hey, @erikras. You mean open it in a new window? As neither action page (popup) nor Chrome devtools panel is allowed to be opened programmatically.

If yes, it can be easily implemented.

[2015-11-19 11:55] erikras commented on #16
Sure, in a window.

[2015-11-19 12:07] zalmoxisus commented on #16
OK.

BTW, in case you intend to use the extension with `redux-form`, just a disclaimer. Chrome extensions are not allowed to communicate with web pages directly (it's more about the chrome extensions architecture than a security case). Because of that, we relay all the lifted store changes to the extension background script all the time, and from there the extension can get actual states. If the s

[2015-11-19 12:10] erikras commented on #16
[Seems pretty good](http://erikras.github.io/redux-form/#/examples/simple).

[2015-11-19 12:14] zalmoxisus commented on #16
Great!

For some reason we lost the context menu there :-/. I'll look into it.

[2015-11-19 15:15] zalmoxisus commented on #16
Done in `0.4.2`. Chrome will autoupdate the extension in few hours. To get it now, just remove it and install again from Chrome store.

Also [added your example](https://github.com/zalmoxisus/redux-devtools-extension/commit/249c4252e795b6dc464c073a2099af2caeeaddab).

[2015-11-19 15:58] erikras commented on #16
Awesome. I updated my page to let you click to open it.

Thanks!

[2015-11-19 15:58] #16 closed

[2015-11-19 17:56] quicksnap opened #17 "Option for width/height"
I'd love to make the devtools popup larger. Will Chrome allow for that? I haven't worked in extension-land in a while.

If you can provide some pointers, I could maybe get some time for a PR.

Thanks!

[2015-11-19 18:17] zalmoxisus commented on #17
Hey, @quicksnap.

Yes, it's just css, set [here](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/views/window.jade).

Why only popup? The popup has 300px witdth, and the window 320px.

[2015-11-19 18:58] quicksnap commented on #17
Annnd now I see that you can open it as a window. And resize it.

Perhaps I should alter my PR to provide a link to open it as a window in the popup =)

[2015-11-19 18:58] quicksnap commented on #17
Also, this kicks ass.

[2015-11-19 19:04] yanivtal commented on #15
Awesome it works. Thanks!

[2015-11-19 19:07] zalmoxisus commented on #17
Yes, a maximize button in the popup would be amazing. I [planned it](https://github.com/zalmoxisus/redux-devtools-extension/issues/6), but ended just with adding the instruction in the README, as I'm not so good in design.

With today's release, it would be easy to implement. To open the window we may just call `window.devToolsExtension.open()`.

[2015-11-22 09:26] zalmoxisus commented on #14
Tested with a complex store with concurrent actions, and works smoothly now.

[2015-11-22 09:26] #14 closed

[2015-11-22 10:02] ondrejbartas commented on #14
good job, I have tested it too and i didn't get any problem with speed.

[2015-11-23 10:51] peteruithoven opened #18 "Wrong persistState session id?"
When using `...?debug_session=a` for persistant state, the state is stored under the following key in localStorage:
`redux-dev-session-?debug_session=a,a`
This is because the whole String.match() result is used, instead of a specific group, see:
https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/app/store/configureStore.js#L9-L11
When debug_session is available, the second arra

[2015-11-23 11:20] peteruithoven commented on #18
Also see: https://github.com/gaearon/redux-devtools/issues/191

[2015-11-23 11:20] zalmoxisus commented on #18
Hey @peteruithoven,

I thought it is the intended result, isn't it?
It's the same as in the docs and the [redux-devtools' example](https://github.com/gaearon/redux-devtools/blob/next/examples/counter/src/store/configureStore.dev.js#L11-L13) get the same key. I do not see as well why we double the id, but it is better to discuss it on the [redux-devtools repo](https://github.com/gaearon/redux-devto

[2015-11-23 11:28] peteruithoven commented on #18
We don't double it, `String.match()` just returns an array in which the first item is the whole match and in this case the second is the actual session id. I also opened an issue in the redux-devtools repo.

[2015-11-23 16:08] zalmoxisus commented on #18
Got it. I saw your solution. If you make a pull request here, I'd merge it.

[2015-11-24 11:43] zalmoxisus opened #20 "Extend persistState"
- **Mange sessions**: show all stored sessions, add, delete and select from the DevTools.
- **Share sessions with your team**: generate a special url to be copied and sent to another user. When opened, store the values in localStore.

[2015-11-24 11:56] zalmoxisus commented on #18
Thanks, @peteruithoven. I also removed `redux-devtools-dock-monitor`, so now we do not store unnecessary data like position, size and visibility. Probably, we could create a pull request to `redux-devtools-log-monitor` in order to make `monitorState` optional, so we could remove it at all from the stored object.

New version (`0.4.3`) should be updated automatically from Chrome store.

Also, I add

[2015-11-24 11:56] #18 closed

[2015-11-24 12:00] zalmoxisus commented on #17
Hey, @quicksnap. I extended popup width to `350px` in `0.4.3`. It should be enough the most of cases. Since the window is resizable, I figure we do not need it configurable.

I will add an 'expand' button to the action page (popup) in `0.5.0`. Till then, I'll keep this issue open.

[2015-11-24 19:55] quicksnap commented on #17
Cool! Yeah, I'm satisfied with it as-is for now, just knowing I can detach the window. More options are always cool, too =)

[2015-11-26 15:30] oskarer opened #21 "Support for Cordova apps"
I'm currently developing a Cordova app which I have to run the app in an emulator/phone all the time, due to database dependencies etc. I would then like to attach the developer tool (from chrome://inspect on my desktop) to the phone and see the Redux Devtools from there.

Obviously this doesn't work as of now since the Chrome extension injects properties to the window variable. However, wouldn't

[2015-11-26 20:45] zalmoxisus commented on #21
Hey @oskarer,

There is another problem, you cannot communicate with the extension from there. I tried to implement it before, but unfortunately Chrome extensions aren't ready for such communications yet using just the extension API.

It could be done by using [debugger-protocol](https://developer.chrome.com/devtools/docs/debugger-protocol), but it would be too hacky (we have to open chrome with a

[2015-11-27 08:07] oskarer commented on #21
Thanks for the info @zalmoxisus! Seems like it wasn't so easy I expected, closing.

[2015-11-27 08:07] #21 closed

[2015-11-28 14:42] zalmoxisus opened #22 "Extension's script is injected after the store is created"
Due to the version `0.4.1` changes, extension's script is injected after we get options from the chrome storage. Sometimes this operation is too slow (>100ms), and, as a result, our store enhancer is not present when store is created. Probably related to a [Chrome bug](https://code.google.com/p/chromium/issues/detail?id=374592).

Tried to get the options from the background instead of reading from

[2015-11-29 17:54] #22 closed

[2015-11-30 18:03] kolodny opened #23 "Usage with redux router spikes CPU to 100%"
I've narrowed my issue down to this triggering it:

[code]

[2015-12-01 07:53] zalmoxisus commented on #23
Hey @kolodny,

Tried [here](https://github.com/zalmoxisus/boilerplate) and don't see any problems, even without any delay. Could please provide more details, an example to test or try to compare it with my boilerplate?

[2015-12-01 16:38] kolodny commented on #23
Looking into it more, it appears that having HMR running causes a lot of communication with the module which seems expensive
![image](https://cloud.githubusercontent.com/assets/1187604/11507011/16ecf184-9820-11e5-954c-37809dafc3cf.png)

[2015-12-01 16:51] kolodny commented on #23
Looking into it, I profiled the page and it appears there's one function that seems to be the bottleneck:
![image](https://cloud.githubusercontent.com/assets/1187604/11507362/abd3d8de-9821-11e5-8190-cbba95dae32a.png)

which takes me here
![image](https://cloud.githubusercontent.com/assets/1187604/11507379/bd0799ec-9821-11e5-8fd4-a5c5e7b22bc4.png)

which looks like it's coming from here https://git

[2015-12-01 17:03] kolodny commented on #23
I haven't been able to show a proof of work, the code I have is pretty customized now

[2015-12-01 17:41] zalmoxisus commented on #23
Thanks for detailed info. That code is from [son-stringify-safe](https://github.com/isaacs/json-stringify-safe). Though it is not the problem, but just the consequence, you can try to disable the serialization, as described [here](https://github.com/zalmoxisus/redux-devtools-extension#how-to-make-it-faster), and see if the extension works. Also there in the Options page, you may add a bigger delay

[2015-12-03 18:40] mmahalwy opened #24 "keyboard shortcuts?"
Is there a shortcut to open and close it?

[2015-12-03 19:10] zalmoxisus commented on #24
Hey @mmahalwy,

I thought there's no need for that as it is in another window, but, actually, it is a good proposal and easy to implement.

[2015-12-04 05:17] mmahalwy commented on #24
Yes! It'd be awesome!

[2015-12-04 11:52] zalmoxisus commented on #23
Hey @kolodny,

Still wasn't able to replicate this issue, but I added the ability to filter actions in `v0.4.5 `, so you may hide (exclude from being processing) specific actions or catch the action causing an infinite loop by adding different actions in the "Actions to show" field.
<img width="422" alt="screen shot 2015-12-04 at 1 51 43 pm" src="https://cloud.githubusercontent.com/assets/7957859/

[2015-12-04 12:14] kolodny commented on #23
Nice, I'm gonna try to start binary adding my components to the boilerplate
to try to replicate
On Dec 4, 2015 6:52 AM, "Mihail Diordiev" <notifications@github.com> wrote:

[2015-12-07 20:12] mmahalwy commented on #24
I am really excited for this @zalmoxisus! When will 0.5.0 come out?

[2015-12-08 09:56] zalmoxisus commented on #24
There's [a lot of work](https://github.com/zalmoxisus/redux-devtools-extension/milestones/v0.5.0) in order to get 0.5.0 released.

I was thinking to have 5 shortcuts: 4 depending on the position of the window and another one for open it as [a chrome panel](https://github.com/zalmoxisus/redux-devtools-extension#how-to-keep-devtools-window-focused-all-the-time-in-a-chrome-panel).

Better, I'll add f

[2015-12-08 15:40] zalmoxisus commented on #24
Implemented in `0.4.6`. Chrome should autoupdate the extension in few hours. If you want to get it now, just remove and install it again from Chrome store.

Use Alt + Shift + Arrow left / right / bottom to show the window in the corresponding position or arrow up to open DevTools in Chrome panel.

I'll keep this issue open till I add the instruction about shortcuts in README.

[2015-12-08 17:52] huang47 commented on #24
I believe this cause a problem which suppress the default behavior(select a range a text) on mac

[2015-12-08 19:37] zalmoxisus commented on #24
Hey @huang47,

Thanks for the report. Actually, the extension's shortcuts are customizable ("Keyboard shortcuts" option is on the bottom of the `chrome://extensions/`), but if there're better keys to use as default, so they will not conflict with anything else and, at the same time, be easy to remember (as for now just to left, right, bottom), we may change them globally. The keys should be used w

[2015-12-08 20:32] mmahalwy commented on #24
You can do CMD + CTRL + SHIFT?

[2015-12-08 21:07] wesbos commented on #24
Just came here to say the same - `Alt` + `Shift` + `←` takes over the default select and jump by word shortcut on OSX. Can I turn this off?

[2015-12-09 05:04] zerkms opened #25 "Extension injects window.devToolsExtension on all pages irregardless of config"
Chrome: Version 47.0.2526.80 m

In config the "Inject in all pages" is not checked

The list of regexes contains these 2 expressions:

    ^https?://localhost|0\.0\.0\.0:\d+
    ^http://192\.168\..*

but still the `window.devToolsExtension` is injected to literally every page.

Additionally to that the address bar icon only appears on first page load: that is, only the very first page ever opened

[2015-12-09 07:32] zalmoxisus commented on #24
@mmahalwy, sure, good suggestion. Maybe just  CMD + CTRL + Arrows for Mac? And ALT + SHIFT + Arrows for other OS.

[2015-12-09 07:34] zalmoxisus commented on #24
@wesbos,  sure, the extension's shortcuts are customizable ("Keyboard shortcuts" option is on the bottom of the `chrome://extensions/`), you may change them or turn specific shortcuts off. As for my above comment, I'll change default shortcuts for mac today.

Thanks, guys, for the heads up!

[2015-12-09 08:32] zalmoxisus commented on #25
Hey @zerkms,

Thanks for you report! Regarding page reload, It seems I broke it yesterday in https://github.com/zalmoxisus/redux-devtools-extension/commit/5821cf656a47a62e47424e1ccac33ccc473c104f, will fix ASAP.

About injecting `window.devToolsExtension` even if it is exclude in options, it is intended, added to fix #22. When it is called, we check whether it is allowed or not.

[2015-12-09 08:34] zerkms commented on #25
@zalmoxisus sorry I didn't provide any technical details - I reported few minutes before I left the office. Tomorrow I'll try to make even a small research.

[2015-12-09 08:36] zalmoxisus commented on #25
@zerkms, ok. Anyway, thanks a lot for pointing me out with the issue with page reload. I've fixed it already. Will push it today in `v0.4.7`.

[2015-12-09 09:21] zalmoxisus commented on #24
Fixed in `v0.4.7`. Chrome should autoupdate the extension in few hours. If you want to get it now, just remove and install it again from Chrome store.

If still something goes wrong, feel free to reopen the issue.

[2015-12-09 09:21] #24 closed

[2015-12-09 13:32] wesbos commented on #24
Thanks @zalmoxisus :) Great extension

[2015-12-09 18:39] bd opened #26 "App failing to load-- VM135:1 Uncaught DataCloneError:"
The full error: `VM135:1 Uncaught DataCloneError: Failed to execute 'postMessage' on 'Window': An object could not be cloned.`

Clicking the search/url bar icon, I see that it has the correct initial state of the app in the redux-devtools-extension-window, though the route change actions I expect are not there.

This happens on my actual in-development app, running in a Windows 8 VM, if that's rel

[2015-12-09 19:15] zalmoxisus commented on #26
Hey @bd,

The serialization should be enabled in your case as it is required for circular dependencies (probably from redux-router), otherwise javascript cannot send the states via `postMessage` as discussed in #5.

About the issue with crashing and hanging, we have a similar issue in #23, but I wasn't able to replicate it. If you could help me to reproduce it, you publish an example project, I'd

[2015-12-09 21:15] bd commented on #26
hi @zalmoxisus,

I appreciate your rapid response. I looked over #23, which does appear to be a similar issue. I'd love to help reproduce it, but I'm not exactly sure where to begin. The project is in a client's private repo, and I can't share the code in general. Closed source is a bummer.

If you give me a general idea of where the issue might be, I could try and construct the minimum example to

[2015-12-10 07:35] zalmoxisus commented on #26
I see. You could fork and clone [my boilerplate](https://github.com/zalmoxisus/boilerplate) and see if it happens there (it also include redux router and hmr). If not, then try to make some similar changes to your states structure.

[2015-12-11 12:40] deathmood opened #27 "Notify if there are any javascript errors on the page"
When enabled both redux-devtools chrome extension and [javascript error notifier](https://chrome.google.com/webstore/detail/javascript-errors-notifie/jafmfknfnkoekkdocjiaipcnmkklaajd?hl=en) or [this error notifier](https://chrome.google.com/webstore/detail/javascript-error-notifier/fkkmnicjnabnlplcamfdbbjkcbgdjffm?hl=en)  - notifiers just do not work.

Can it be that redux-devtools somehow block t

[2015-12-11 13:32] zalmoxisus commented on #27
Doesn't that work only for the app that includes devtools or for all sites?

[2015-12-11 14:07] deathmood commented on #27
I've tested it on localhost. If I run app that does not use redux [javascript error notifier](https://chrome.google.com/webstore/detail/javascript-errors-notifie/jafmfknfnkoekkdocjiaipcnmkklaajd?hl=en) works and shows errors - even if redux extension is enabled.

But if I run app that uses redux -   javascript error notifier does not work

[2015-12-11 14:18] zalmoxisus commented on #27
I see, then the problem is related not to our extension itself, but to the fact that Redux DevTools [capture errors](https://github.com/gaearon/redux-devtools/blob/0a1458cdbd50ea2a345fb8d913f7e0d1c763f42b/src/devTools.js#L44).

We may add the ability to disable it on the options page, but don't think it would be so essential as showing errors directly in DevTools is one of the core feature.

Maybe

[2015-12-11 14:35] deathmood commented on #27
Actually it would be very nice to have error notifying in devtools - at least something like "red counter" on top of redux extension icon that shows number of errors. Pop up notifications would be even better.

[2015-12-11 14:38] deathmood commented on #27
I mean smth like this
![image](https://cloud.githubusercontent.com/assets/2758540/11746224/9d34c76e-a025-11e5-9cdd-463c7f299494.png)

[2015-12-12 09:04] #25 closed

[2015-12-16 10:12] zalmoxisus commented on #27
Implemented in `v0.4.8`. It is not possible to add badges ("red counter") to the page action (only for the browser action), nevertheless we'll not have more than one error there. So, we show a notification and make the icon red when an error occurs.

[2015-12-16 10:47] zalmoxisus commented on #26
Hey @bd,

Did you try Redux DevTools without the extension? Does the performance issue appear there as well? Just wondering if it could be an issue of Redux Router, if so, better to switch to `redux-simple-router` as @gaeron [recommended](https://github.com/gaearon/redux-devtools/issues/187#issuecomment-164321131).

And please give a try to `v0.4.8`.

[2015-12-16 15:26] deathmood commented on #27
updated to 0.4.8 - but it does not seem to work for me(((  At least reference errors are not caught. What kind of errors should be displayed?

![image](https://cloud.githubusercontent.com/assets/2758540/11844906/e60f093e-a419-11e5-8d8f-07bd2871e6e5.png)

[2015-12-16 16:10] zalmoxisus commented on #27
I see. I didn't look in depth, it seems that Redux DevTools catch only the errors in reducers.

BTW, just checked [javascript error notifier](https://chrome.google.com/webstore/detail/javascript-errors-notifie/jafmfknfnkoekkdocjiaipcnmkklaajd?hl=en), you referred to, it catches other errors than those from reducers. They should fit well together. The problem is only with the source map loosing the

[2015-12-16 16:51] bd commented on #26
I use Redux DevTools, and don't see the issue there. I've made some changes
in the app since, and haven't had the bandwidth to investigate much since,
so it's possible that my problem was coming from a combinatorial explosion
of jQuery selectors that has since been fixed... I'll look into it and
report back as soon as I'm able. Thanks for your help!

On Wed, Dec 16, 2015 at 2:47 AM Mihail Diordiev

[2015-12-17 15:15] zalmoxisus commented on #27
Implemented in `v.0.4.9`. Should notify on non-reducer errors as well.

[2015-12-17 15:18] zalmoxisus commented on #26
Should work in `v0.4.9` (at least the issue described in the title is fixed). Please let me know whether you still experience performance issues. If yes, let's continue the investigation in #23.

[2015-12-17 15:18] #26 closed

[2015-12-17 15:22] zalmoxisus commented on #23
I hope the issue was related to `json-stringify-safe` (as seen in logs), if so, it should be solved in `v.0.4.9` using `circular-json` as described [there](https://github.com/WebReflection/circular-json#why-not-the-izs-one).

Please let me know if it still occurs. There's a similar issue with persistStore (even in the regular Redux DevTools). If we manage to solve this one, the latter could be sol

[2015-12-17 15:36] deathmood commented on #27
thanks much! works now

[2015-12-17 16:18] kolodny commented on #23
I'm seeing a huge CPU spike on page load in my app. I haven't really had
any time to investigate yet :(

On Thu, Dec 17, 2015 at 10:22 AM, Mihail Diordiev <notifications@github.com>
wrote:

[2015-12-17 16:49] cef62 opened #28 "Impossible install on latest Chrome Canary"
Hi @zalmoxisus, first of all thanks for this extension!

I've no problem with normal chrome but I'm not able to install it on Chrome Canary 49.0.2594.0 on OSX.
[Here](https://dl.dropboxusercontent.com/u/3162797/redux-devtools-chrome-canary.png) you can see a screenshot  of the error.

Do you have any suggestions?

[2015-12-17 19:13] zalmoxisus commented on #28
It seems that the manifest specs was changed a bit in new Chrome Canary. I've found the problem and will push tomorrow a new release.

Thanks a lot for the report!

[2015-12-17 23:36] cef62 commented on #28
Thanks to you!

[2015-12-18 15:02] zalmoxisus commented on #28
Should work now in `v0.4.10`. Thanks again for the heads-up!

[2015-12-18 15:02] #28 closed

[2015-12-18 15:29] cef62 commented on #28
Thanks!  Now I've been able to install it.

[2015-12-19 00:56] davidjnelson opened #29 "crashes about once a day"
I absolutely love your extension, it is amazing.  I rated it 5 stars.  Thanks so much for making it!

I don't know much about chrome plugin development.  How can I give you a helpful bug report?

What happens is I'll be using it fine, then about once a day the chrome developer tools window I have docked next to the extension will shrink to the window size I had the extension running at, and the ex

[2015-12-19 07:30] zalmoxisus commented on #29
Hey @davidjnelson,

Thanks for report this. It's probably related to #23. I added [a test which simulate a high activity](http://zalmoxisus.github.io/redux-devtools-extension/examples/router/). Select AutoTodo and check if it will crash the extension.

Also please try using the extension's window (open from the context menu or [using shortcuts](https://github.com/zalmoxisus/redux-devtools-extensio

[2015-12-19 08:30] zalmoxisus commented on #23
Thank you @kolodny for your reports, it was helpful a lot. It seems to me that there are no related bugs caused by  `json-stringify-safe` or `redux-router`, it's just about the serialization being expensive. The problem appears with Redux Router because it has circular references, without them we don't have to serialize anything.

I added [an example with Redux Router](http://zalmoxisus.github.io/

[2015-12-19 08:34] zalmoxisus commented on #27
You're welcome. Thanks to you for the suggestion!

[2015-12-19 08:34] #27 closed

[2015-12-19 16:12] gaearon commented on #23
I heard Redux Router puts components into state so this may be the problem.
This problem shouldn't exist with https://github.com/jlongster/redux-simple-router I think.

[2015-12-19 21:08] zalmoxisus commented on #23
@gaearon, yes, `redux-simple-router` has no circular references and we don't even need to serialize anything.

By the way, the same problem as here is with PersistStore (for regular Redux DevTools), it wouldn't work with Redux Router as JSON.stringify doesn't support circular dependencies (that Redux Router use). I was thinking to add a pull request to fixing the serialization, but it turns out th

[2015-12-23 17:08] CompuIves opened #30 "ImmutableJS compatability"
Hey,

I first would like to say that I really like your extension, especially the ignore option. I would like to comment on something though.
You decided to nuke the serialize option in release v0.4.9 (https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v0.4.9). This may work great in many cases, but ImmutableJS by Facebook doesn't throw an error when you try to use unserializable

[2015-12-23 17:50] zalmoxisus commented on #30
Thanks for the feedback!

OK, I'll bring it back if there's no way to detect it implicitly.

I'll do it by myself as there were a lot of changes in https://github.com/zalmoxisus/redux-devtools-extension/commit/3ab3724c5f8311adc320b357149c69b475697353 and I want to reassure that nothing is broke up.

[2015-12-25 08:24] zalmoxisus commented on #30
Implemented in `v0.4.11`. Thanks again for the proposal!

[2015-12-25 08:24] #30 closed

[2015-12-25 08:26] zalmoxisus commented on #29
Should be fixed in `v0.4.12`. Feel free to reopen the issue if it still happen.

[2015-12-25 08:26] #29 closed

[2015-12-25 08:30] zalmoxisus commented on #23
Now (in `v0.4.12`) we relay actions and the current state instead of the whole lifted store state (history tree). Tested the example above, and there's no signifiant cpu impact of the serialization anymore.

When you have some time to test it, please let me know whether it works well for you now. If still something goes wrong, feel free to reopen the issue.

[2015-12-25 08:30] #23 closed

[2015-12-25 09:00] zalmoxisus opened #31 "Umbrella 1.0"
- [x] Support for multiple tabs. Before we were detecting when the tab is reactivated, and relayed the whole history tree. It worked pretty well, except the cases when the app has background actions.
- [x] Use different monitors (wrapped into [FilterMonitor](https://github.com/zalmoxisus/redux-devtools-filter-actions)). Except the standard monitor, for now we'll add:
     - [redux-slider-monitor](

[2015-12-27 05:23] kolodny commented on #23
Just checked, it seems to work great now, Thanks!

[2015-12-28 14:22] kolodny commented on #23
btw I wrote a library for serializing and deserializing json that can have circular refs and is pretty performant, not sure if it matters anymore tho https://github.com/kolodny/jsan

[2015-12-29 13:45] zalmoxisus commented on #23
Of course it matters, there's also space for optimisations. The library is awesome! As states shouldn't be mutated, we will not have non-circular self references inside. Am I right, @kolodny? Could we rely on the default `jsan.stringify` or should we force it to handle those cases?

[2015-12-29 15:55] kolodny commented on #23
If the only types of references you will have are circular then jsan is what you're looking for. That's the exact use case that it really shines and here why:

The basic way it works is that there are two ways to call `stringify`, the regular way `jsan.stringify(obj)` and the forced traversal way `jsan.stringify(obj, null, null, true)`.

The regular way which is as fast as `JSON.stringify` for obj

[2015-12-29 16:36] zalmoxisus commented on #23
Thanks a lot for the detailed explanation! Will use it here and for `remote-redux-devtools` as well.

[2015-12-29 16:38] kolodny commented on #23
:+1:

[2015-12-31 15:11] CompuIves commented on #30
Ah super!! Thank you very much for the really fast response!

[2016-01-01 01:01] oyeanuj commented on #31
@zalmoxisus Thank you for this extension, it is most useful!

FWIW, I would want to add to the need for the first task in your list - support for other monitors. That is probably the only reason which makes me (and I am sure some others) still use the standard DevTools over this one.

[2016-01-02 18:06] neverfox opened #32 "Duplicate actions when starting up"
I have a couple of actions that fire when my app starts (via redux-simple-router and redux-responsive) and the Chrome extension version of devtools shows two copies of each action, if my developer tools window is already open when I refresh the app. Only one copy shows up (as expected) on the regular, in-window version of devtools, or if I open developer tools after refreshing the app. Furthermore

[2016-01-02 20:00] #32 closed

[2016-01-02 20:01] zalmoxisus commented on #32
Thanks for reporting this!

Fixed in `v0.4.13`. Chrome should update the extension in few hours. If you want to get it now, remove and install the extension again from Chrome store.

Feel free to reopen the issue or open another one if something goes wrong.

[2016-01-03 14:56] burtyish opened #33 "State always appears to have initial values"
I've been using (and enjoying!) the extension successfully on our app for a while.
After a recent (big) change I discovered that it displays the app state as if it is _always_ in the initial state.

I tried both `redux-logger` and `redux-devtools-log-monitor`. Both show the correct state, which leads me to believe it's an issue with the devtools chrome extension and something in the latest changes

[2016-01-03 17:03] zalmoxisus commented on #33
Hey @burtyish,

Do you use ImmutableJS? On the options page (find Redux DevTools on `chrome://extensions/` and click the Options link) check `States serialization`. It should help.

[2016-01-04 08:09] burtyish commented on #33
No, I'm not using ImmutableJS. I tried to check `States serialization` anyway but it didn't help.
Can you recommend a method for debugging the issue?

[2016-01-04 12:51] zalmoxisus commented on #33
That's strange. Are the states changed when you toggle an action on the monitor? If not, it's probably an issue of jsan, and we can fix it by [forcing serializing self references (non-circular)](https://github.com/kolodny/jsan#note).

Also, please check [our demos](https://github.com/zalmoxisus/redux-devtools-extension#examples) to see if this happen there.

[2016-01-04 14:24] burtyish commented on #33
The extension works fine with your demos as it does for other apps I've built.
Back on my problematic app, if I try to toggle an action, it fails with an exception: `Uncaught TypeError: Cannot read property 'action' of undefined`.
From debugging, I've found that the exception happens while dispatching the action with type `TOGGLE_ACTION`.

[2016-01-04 17:26] zalmoxisus commented on #33
@burtyish, that's interesting. Could you share your store configuration?

[2016-01-04 19:13] burtyish commented on #33
Sure, I don't mind sharing.
I'll note that a similar configuration is used successfully in a different app.
[code]

[2016-01-04 19:29] burtyish commented on #33
Here's where the error is triggered
[code]
`c` is `undefined`.
`a[0]` is `Object {type: "PERFORM_ACTION", action: Object, timestamp: 1451935154498}`

[2016-01-04 19:38] zalmoxisus commented on #33
Thanks! Could you also specify versions of `redux` and `redux-thunk`?

[2016-01-04 20:34] burtyish commented on #33
redux v 3.0.5
redux-thunk v 0.1.0 (wow, maybe it's time to upgrade)
I'll run the new version locally tomorrow and get back to you with the results.

Meanwhile, I just want to say thanks for the swift response and support. I really hope I can help get to the bottom of this issue so my team and I can continue using your awesome extension.

[2016-01-05 07:49] burtyish commented on #33
OK, here are my results.
1. I still have the same issue where the state always appears to have it's initial values (in redux-devtools-extension only).
2. Clicking on the last action to roll it back still triggers an error. Here's a description of the state that causes the error:
* `createStore.dispatch` is called with `currentState.currentStateIndex: 1` and `currentState.computedStates` that conta

[2016-01-05 08:02] zalmoxisus commented on #33
Thank you for the details, that clarifies a lot. It appears that actions aren't relayed at all.

Could you investigate it [here](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/inject/pageScript.js#L88) by commenting the conditions bellow, adding a `console.log` to see what it tries to relay? Just edit the file, and Webpack will update everything, you'll ha

[2016-01-05 08:14] burtyish commented on #33
`state` is always an empty object, it's default value.

[2016-01-05 08:28] zalmoxisus commented on #33
That's right, the `state` variable is the monitor's state, which, yes, is always `{}`.

I'm wondering if it goes through all the conditions and relay the store's state, which is transmitted from `relay('ACTION', store.getState(), action, actionsCount)`.

[2016-01-05 09:01] burtyish commented on #33
There first bunch of actions that happen when the app starts do not pass the [1st condition](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/inject/pageScript.js#L89) and are not relayed.

[2016-01-05 09:27] zalmoxisus commented on #33
Thanks. That clarifies everything. Could you remove that condition and check whether it fix the issue?

I added it few days ago to fix #32.

[2016-01-05 09:38] burtyish commented on #33
Mmmm not sure it clarifies everything 😕
I removed the `lastTime > action.timestamp` condition. All the actions are relayed but the state still appears to have initial values in the devtools and what I described [here](https://github.com/zalmoxisus/redux-devtools-extension/issues/33#issuecomment-168926864) is still true.

[2016-01-05 09:53] zalmoxisus commented on #33
OK, then the condition is good, and those actions should be already related.

A good point to find from where the issue comes would be to compare the extension's liftedStore (thet we construct by relying new actions) with the app's liftedStore.

To do that, open the extension's console as follows:
![extensions](https://cloud.githubusercontent.com/assets/7957859/12112023/67938bf0-b3a2-11e5-8b14-002

[2016-01-05 20:59] zalmoxisus commented on #33
Now on the bottom of the DevTools window you can find a `Sync` button. Click it and check if it helps. If yes, then we'll know that the problem isn't with serialization, but because somehow we miss a state. Additionally, if it helps try to dispatch more actions to see if the problems occur only initially.

[2016-01-06 15:08] dexwiz opened #34 "Scroll Window to the bottom"
Whenever I open up the action list, either in the pop up in the url bar, or in my dev tools tray, it defaults to showing the first action. When I open it, usually I am interested in the latest action, not the first. Can I get an option to auto scroll to the bottom?

[2016-01-07 16:39] zalmoxisus commented on #34
Good point! The default monitor for Redux DevTools was expected to be empty when it is mounted, that's why it invokes scrolling on [`componentDidUpdate`](https://github.com/gaearon/redux-devtools-log-monitor/blob/acd48a7d18e54775ed03b4c21166aa6a0df0c44b/src/LogMonitor.js#L124). In our case we need it also on `componentDidMount`. As we plan to support other monitors, I will look how they deal with

[2016-01-07 17:04] zalmoxisus commented on #21
Hey @oskarer,

I've implemented this in [remote-redux-devtools](https://github.com/zalmoxisus/remote-redux-devtools).

[2016-01-10 19:55] zalmoxisus commented on #33
An update: I delegated most of restoring lifted state functionality to [remotedev-app](https://github.com/zalmoxisus/remotedev-app). As a result, you may test the functionality just integrating [remote-redux-devtools](https://github.com/zalmoxisus/remote-redux-devtools) store enhancer in your app, which will be much easier to debug, as [the code is pretty simple](https://github.com/zalmoxisus/remo

[2016-01-10 20:46] burtyish commented on #33
Cool, I'll take a look as soon as I get the chance. Thanks for the update!
On Jan 10, 2016 21:55, "Mihail Diordiev" <notifications@github.com> wrote:

[2016-01-11 15:14] oskarer commented on #21
Wow, really impressive! Works really well.

One question, say you're several developers working on the same network with the same or different apps.. I guess that doesn't work as of now, but it would be possible if https://github.com/zalmoxisus/remote-redux-devtools/issues/2 is solved?

[2016-01-11 16:13] zalmoxisus commented on #21
Yes, it is not possible for now, as indicated [here](https://github.com/zalmoxisus/remote-redux-devtools#limitations).

There would be 2 options: to work separately or synchronously (so it would be possible to inspect some troubles together on the different machines).

[2016-01-13 14:22] burtyish commented on #33
I've spent some time trying to debug with no success so far.
As you can see below devTools' state is not affected by any actions after initialization, even though the actions are relayed.
![screen shot 2016-01-13 at 4 18 29 pm](https://cloud.githubusercontent.com/assets/4200728/12296588/5b7a7b4c-ba11-11e5-9483-7200395534ca.png)

[2016-01-14 01:38] garretto opened #35 "Doesn't work with Immutable.js"
Can't get it to work with Immutable.js. It just shows the raw immutable objects. Similar to this issue:
https://github.com/gaearon/redux-devtools/issues/51

[2016-01-14 07:53] zalmoxisus commented on #35
Enabling serialization on the options page should help. Find Redux DevTools on the extensions page (`chrome://extensions/`) and click the Options link to customize everything. Please let me know whether it solves the issue.

[2016-01-14 15:13] tow8ie commented on #35
Had the same problem and your solution worked. Thanks!

[2016-01-14 15:24] zalmoxisus commented on #33
I think I figured it out. Could you please try he extension again? Don't forgot to pull the changes from repository and do `npm i` (as `remotedev-app` was also updated).

[2016-01-14 15:28] zalmoxisus commented on #35
We'll better turn it on by default to avoid confusion. The point was to gain better performance where it is possible.

[2016-01-14 19:11] garretto commented on #35
Ah, that works thanks! I didn't expect this extension to have configurable options, so that's awesome!

[2016-01-14 19:15] #35 closed

[2016-01-15 01:12] garretto opened #36 "Prevents Hot Loader from Refreshing Page"
Found another issue. I'm using react-transform-hmr and this extension prevents the page from refreshing if a full refresh is required. For example, if I change code in my action creators. Instead of refreshing, I get a JavaScript TypeError saying e is not a function. Then I have to refresh the page manually.

Any ideas? Thanks!

[2016-01-15 08:37] zalmoxisus commented on #36
As far as I know, HMR works only with reducers ([if you enable it in your store](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/examples/counter/store/configureStore.js#L15)) as you can use `replaceReducer`. For action creators you do have to refresh the page manually. Does it work when you disable the extension?

About the "JavaScript TypeError saying e is not a function" cann

[2016-01-17 10:06] burtyish commented on #33
Yup, that did the trick. Works like a charm!
Thank you!

[2016-01-17 18:19] zalmoxisus commented on #35
From now it is on by default. In `1.0` the options page will be accessible from the extension window.

[2016-01-17 18:20] zalmoxisus commented on #33
Thank you for helping to figure it out! The changes should appear on Chrome store in few hours.

Feel free to reopen the issue if you notice any troubles there.

[2016-01-17 18:20] #33 closed

[2016-01-17 20:51] neverfox opened #37 "Extension causing reducer dispatch errors"
With 0.4.14, I eventually start getting several `Unhandled promise rejection Error: Reducers may not dispatch actions.` when the extension is enabled. For example, I'll be typing in a form field and suddenly everything stops and the errors appear on every action thereafter. Everything is fine without the extension and I'm definitely not dispatching actions in my own reducers.

[2016-01-17 21:40] tikotzky commented on #37
I am seeing this behavior on react v0.14.6 as well.

The action that is causing the error seems to be:
`{type: "COMMIT", timestamp: 1453066780832}`

[2016-01-17 21:42] neverfox commented on #37
Glad it's not just me. To be clear, the version number I was referring to is the version number of this extension.

[2016-01-17 21:48] tikotzky commented on #37
ah ok.
It seems like this error is triggered when the "maximum actions" is reached...

It looks like the call to `isLimit` on [this line](https://github.com/zalmoxisus/redux-devtools-extension/blob/bbfe9f676c69af40b1e8f56c0d5448f122ec355e/src/browser/extension/inject/pageScript.js#L115) triggers an action from the reducer

[2016-01-17 21:51] neverfox commented on #37
I was going to say that [this commit](https://github.com/zalmoxisus/redux-devtools-extension/commit/1e74e13b4bec1c628c4dd88ee4a0441d3a477519) was probably the culprit, which includes that line.

[2016-01-17 21:55] tikotzky commented on #37
I think all that needs to happen is [this line](https://github.com/zalmoxisus/redux-devtools-extension/blob/bbfe9f676c69af40b1e8f56c0d5448f122ec355e/src/browser/extension/inject/pageScript.js#L81) needs to get wrapped in a `setTimeout(fn , 0)`

[2016-01-17 23:31] hsrobflavorus commented on #37
Yep, 0.14.4 introduced this bug today. If you need to continue working, just build and load the extension in developer mode for now.

[2016-01-18 08:11] zalmoxisus commented on #37
Thanks, guys, for reporting this. Yes it is related to that commit and it happens when the limit of maximum actions is reached. Just set the limit to `0` (unlimited) for now.  Find Redux DevTools on the extensions page (chrome://extensions/) and click the Options link to customize everything.

I'll get to it today.

[2016-01-18 20:14] hsrobflavorus commented on #37
:+1: Thanks @zalmoxisus !

[2016-01-18 20:30] gaearon commented on #37
Any reason you're not using `store.subscribe`? This is where it's safe to trigger side effects.

[2016-01-18 21:04] zalmoxisus commented on #37
@gaearon, agree. I was planning to make `remote-redux-devtools` as a monitor, but it was a wrong direction, which influenced the extension as well. We'll certainly move to the `store.subscribe` on both projects. Thanks a lot for your help!

[2016-01-20 11:49] tuckerconnelly opened #38 "Reverse Order of Actions"
When I open up the DevTools, I'm only really interested in the _current_ state, not the first one.

Would be nice if the actions were reversed, so the latest one was up top.

If I get some time, I'll do a PR, but this should be super quick to do if ya'll agree :)

(BTW, this tool is freakin' awesome!!)

[2016-01-20 17:21] zalmoxisus commented on #38
Thanks for the feedback and the suggestion!

I think solving the issue #34 would be enough, isn't it?

[2016-01-20 17:26] tuckerconnelly commented on #38
I think reverse order would be better--

Say you're up looking at an action from 10 actions ago, then boom, an action comes in and it autoscrolls you back down. Could get annoying :P

Also having the latest action at the top matches most normal "feeds" around the web (facebook feed, twitter feed, etc. all have latest stuff at the top)

[2016-01-21 08:07] zalmoxisus commented on #38
Actually autoscrolling to the bottom works (the issue was only when you first open the window), and as you see it doesn't bother you when you scroll to a specific action (autoscrolling happens only when you are at the bottom).

I'm neither pro nor against this proposal, but it should be advocated and implemented on the [monitor side](https://github.com/gaearon/redux-devtools-log-monitor), otherwis

[2016-01-24 12:53] tko opened #39 "Show errors stops showing activity"
When show errors is enabled and an exception is thrown presumably while running reducers (https://github.com/gaearon/react-dnd/issues/360) the extension stops showing any further actions.

[2016-01-24 13:43] zalmoxisus commented on #39
Hey,

If you fix the error the lost actions reappear? If so, then it is intended, though maybe I am not right and can be discussed here.

[2016-01-24 14:09] tko commented on #39
When I change my code to not trigger that exception the code gets hot replaced and more actions get logged to console, but the extension doesn't show them. If I then disable the 'Show errors' in the settings the actions show up in the extension as well.

[2016-01-24 15:44] zalmoxisus commented on #39
It seems that our recent changes broke hot-reloading as our reducer isn't updated. We'll move to `store.subscribe` approach and will fix this issue as well. Thanks a lot for the report!

[2016-01-25 11:39] zalmoxisus commented on #39
Fixed in `0.4.16`. Chrome will autoupdate the extension in few hours. If you want to get the fixes now, just remove the extension and install again from [Chrome store](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd).

[2016-01-25 11:39] #37 closed

[2016-01-25 11:39] #39 closed

[2016-01-25 11:41] zalmoxisus commented on #36
Hey @garretto,

Though cannot reproduce, it should be fixed in `0.4.16`. Could you please give it a try?

[2016-01-29 08:30] asciidisco opened #40 "Question: Patterns for connecting to a store in a WebWorker"
Hello,
first of all, thank you for your work. This is a perfect solution for us, who are using redux, but do not run a React based application :)

I still do have a problem though, which is related to the special setup I have: I´m running the complete Redux stack in a WebWorker, including the vDOM diffing part. so the only information my WebWorker is sending back to the main thread are the vDOM pa

[2016-01-29 09:00] zalmoxisus commented on #40
Hey @asciidisco,

Thanks for the feedback. I don't think it would be possible (at least for now) to inject the extension's script in the page's WebWorker and communicate with it from there. But we have a solution for this case - [Remote Redux DevTools](https://github.com/zalmoxisus/remote-redux-devtools). In `v1.0.0` the extension will have "remote monitoring", and will be able to communicate with

[2016-01-29 09:02] asciidisco commented on #40
@zalmoxisus Thank you for the quick answer. That is exactly what I´m looking for :)

[2016-01-29 09:02] #40 closed

[2016-01-29 09:11] zalmoxisus commented on #40
You're welcome. Someone reported there that he has some issues with sockets from WebWorker's script. Though I wasn't able to reproduce that, we could add long polling as an alternative if that is really an issue.

[2016-01-29 11:49] zalmoxisus commented on #17
Implemented in `v1.0.0-beta1`.

[2016-01-29 11:49] #17 closed

[2016-01-29 12:41] zalmoxisus commented on #31
Hey @oyeanuj,

Added `redux-devtools-diff-monitor` as well in `v1.0.0-beta1`. Thanks for the suggestion!

[2016-01-29 13:58] tanepiper opened #41 "Extension error: Uncaught TypeError"
Whenever I try load this extension, I get a notification error with:

`Uncaught TypeError: Cannot read property 'initialScrollTop' of undefined.`

It seems to cause the window to fail sizing correctly, this is all I'm able to see:

![untitled](https://cloud.githubusercontent.com/assets/376930/12677369/61569ce0-c690-11e5-87d3-d5a03c7fb98f.png)

[2016-01-29 14:01] tanepiper commented on #41
Ahh, just after I posted this I think I found the issue.  I still have `<DevTools />` in my Provider JSX, as soon as I removed that it seemed to work correctly - so I suspect there is a conflict happening

[2016-01-29 14:48] zalmoxisus commented on #41
Setting `preserveScrollTop` to `false` in `redux-devtools-log-monitor` should help.

A good example of using the extension together with embedded DevTools is [Redux Form example](http://erikras.github.io/redux-form/#/examples/simple?_k=x31mb3) (it uses the extension only if it is installed).

[2016-01-29 15:11] #41 closed

[2016-01-29 16:43] gaearon commented on #36
To be fair action creators should be reloaded if you use React Hot Loader. They don't with React Transform—we'll fix that eventually but not very soon.

[2016-01-29 16:44] gaearon commented on #38
The log monitor [should already autoscroll](https://github.com/gaearon/redux-devtools-log-monitor/blob/fbee23d4600bf864524ed5bc9c3e9e2ec0497794/src/LogMonitor.js#L107-L135) if you didn't scroll up manually.

[2016-01-29 16:48] zalmoxisus commented on #38
@gaearon, yes. The issue is about the initial rendering when having already a history tree in the liftedStore. We should have trigger that also for `componentDidMount`.

[2016-01-29 17:29] garretto commented on #36
@zalmoxisus I tried with the new version and no dice. Something in the plugin prevents a full page reload. Also for editing reducers actually. Ended up just installing redux-dev-tools into my project and it works fine there.

Also should have mentioned I'm using react-transform-hmre @gaearon not react-hot-loader. Thanks for creating both of those by the way. :)

[2016-01-29 17:30] garretto commented on #36
If I get some time I'll try to reproduce with the counter example.

[2016-01-29 17:39] born2net opened #42 "In Angular2 does not auto refresh UI"
ignore

[2016-01-29 17:46] #42 closed

[2016-01-29 17:58] born2net opened #43 "In Angular2 often the UI does not get refreshed"
When using this plugin with ng2, often the UI does update,,,
The underline store gets updated, but I have to manually click on a button to force a change detection for the UI to re-render... it happens about 70% of the time...

regards

Sean

[2016-01-29 18:00] gaearon commented on #38
Ah right. I'm happy to accept a PR that scroll to bottom in `componentDidMount()` if the scrollTop received via props is `0`.

[2016-01-29 18:04] gaearon commented on #43
Does this happen only with the extension, or can you reproduce this with vanilla Redux DevTools too?

[2016-01-29 18:09] born2net commented on #43
Sorry let me explain better... when I disable different store snapshots in the extension, I expect the UI to update, but it doesn't... but if I click on a button to force a change in the store and thus a re-rendering in ng2 via prop bindings, the state of the UI at that point will match my store

[2016-01-29 19:16] zalmoxisus commented on #43
@born2net, if you try to switch from "Autoselect instances" to that instance, does that help? Could you please share an example with Angular? So I would be able to reproduce it and also test when implementing new features? It could be a pull request to our examples or a separate branch.

[2016-01-29 19:26] born2net commented on #43
it didn't help... and sure, here is a small project you can use:
https://github.com/InfomediaLtd/angular2-redux-example
try add something to cart, next time travel and the UI will not change...

regards

[2016-01-29 20:05] zalmoxisus commented on #43
Just tried that example, I'm getting all changes instantly even when hovering the users. Did you try that example? Maybe in your case you have something different?

[2016-01-29 20:07] zalmoxisus commented on #36
That's strange, just tried `babel-preset-react-hmre` and don't see any difference. [As I see](https://github.com/danmartinez101/babel-preset-react-hmre/blob/master/index.js), it also includes `react-transform-hmr`. A PR to the counter example to reproduce that, would be welcome.

[2016-01-29 20:07] born2net commented on #43
let me explain, yes all changes register fine, but now try and time travel OR try and disable different store items in the DevTool widget's UI, and these changes do not update the UI

[2016-01-29 20:13] zalmoxisus commented on #43
I see, toggling actions has no effect there. Will investigate this tomorrow. Thanks for the report!

[2016-01-29 20:14] born2net commented on #43
let me add that 7 out of 10 times it will not work... BUT once in a while it will ... must be racing condition...

[2016-01-29 20:19] zalmoxisus commented on #43
Could you please try it also with [vanilla Redux DevTools](https://github.com/gaearon/redux-devtools) to see if the problem is related only to the extension?

[2016-01-29 20:22] born2net commented on #43
this will work with ng2? and hot loading as well for ng2?

[2016-01-29 20:45] zalmoxisus commented on #43
It would've been possible to open it in a new window, which is rendered by React as in [the example](https://github.com/gaearon/redux-devtools#showdevtoolsjs), but it's not that simple. I'll look into it tomorrow.

[2016-01-29 20:50] born2net commented on #43
got it, tx!

[2016-01-30 08:06] nirrek commented on #36
The `.babelrc` of the [react-transform-boilerplate](https://github.com/gaearon/react-transform-boilerplate) looks like this:

[code]

Whereas the `.babelrc` of the counter example looks like this:
[code]

If you remove the `add-modules-exports` plugin from the counter example's `.babelrc`, you will see the error @garretto refers to. Namely: `TypeError: e is not a function` will be printed inside t

[2016-01-30 09:52] zalmoxisus commented on #36
@nirrek, thanks for the explanation. In the unbuild (unuglified) extension `TypeError: e is not a function` becomes `TypeError: reducer is not a function`. Without the extension (and DevTools at all) I also get this error as `TypeError: currentReducer is not a function` and hmr doesn't work. While changing [`const nextReducer = require('../reducers');`](https://github.com/zalmoxisus/redux-devtools

[2016-01-30 10:36] gaearon commented on #36
FYI we added an explicit error message in Redux 3.1.5 for this.
https://github.com/rackt/redux/pull/1321

[2016-01-30 10:53] zalmoxisus commented on #36
@gaearon, unfortunately, this doesn't help in our case as `replaceReducer` doesn't get the `nextReducer` directly, but through `liftReducer`. Could I add that exception also in [`liftReducer`'s function](https://github.com/gaearon/redux-devtools/blob/c64b4c616d71db55d9745f7c088ef860f1d1931d/src/instrument.js#L338)?

[2016-01-30 11:17] gaearon commented on #36
Oh, good point. Want to make a PR?

[2016-01-30 12:26] zalmoxisus commented on #43
Hey @born2net,

Yes, it's the same with vanilla Redux DevTools, and actually, as you reported, everything works but the app's UI is updated only when you dispatch an action, even though the data is intact to the lifted state. You should make the UI react to the `store.subscribe` as the data already does, not to dispatching actions.

If you don't have time to fix the example with [angular2-redux](h

[2016-01-30 12:26] #43 closed

[2016-01-30 13:14] zalmoxisus commented on #36
@gaearon, gladly :)

[2016-01-30 14:01] zalmoxisus commented on #38
@gaearon, I'm afraid it could be a problem for when using `persistState`. Let's say, I scrolled to the top, refreshed the page and the monitor autoscrolled to the bottom, which wouldn't be the expected result. So, we have to autoscroll on mounting only when `preserveScrollTop` is `false`. We don't need `preserveScrollTop` in the extension, but I have to figure out how to set monitors props dependi

[2016-01-30 18:10] born2net commented on #43
tx for looking into this, but with Angular2 you can bypass the subscription and bind the directly to the store via Getters, as in:
[code]

but in any case in that sample I do use:
[code]
and if I add a breakpoint, any time I use the DevTools time travel it does get to the subscribe method, so like you said, the store model functionality is working, but I am not sure why Angular2 is not re-renderin

[2016-01-30 18:31] born2net opened #44 "Force a zone refresh on Angular2 when time traveling..."
In reference to closed: https://github.com/zalmoxisus/redux-devtools-extension/issues/43#issuecomment-177165443

so with Angular 2 when using the extension, doing time travel will change the underline store but WILL NOT re-render the view.

The solution:
force zone.run() to push updates on the UI:

[code]

maybe something like this can be added to devtool when in dev mode only, so we can use it wi

[2016-01-30 18:52] zalmoxisus commented on #44
Thanks for the details. I think it would be great to send a pull request to [that boilerplate you use](https://github.com/InfomediaLtd/angular2-redux-example), so others will not have to go though this issue.

We can add a `onUpdate` parameter to the `devToolsExtension` API, where you may pass this, but:

1. You don't have that class's `this` when creating the store.
2. Usually you don't want to u

[2016-01-30 19:17] gaearon commented on #44
Is this specific to DevTools in any way? If you subscribe to the store and update the view, the same code should work with DevTools because it calls listeners on changes, just like a normal store update does.

[2016-01-30 19:32] born2net commented on #44
for me I added it to my root app so it auto applies to the entire application (so didnt need per component)

2
down vote
unaccept
Rendering is part of change detection. To force change detection, here are some options:

ApplicationRef.tick() - similar to Angular 1's $rootScope.$digest() -- i.e., check the full component tree

NgZone.run(callback) - similar to $rootScope.$apply(callback) -- i.e., e

[2016-01-30 19:53] born2net commented on #44
Here is final code:

[code]

[2016-01-31 06:56] rubyboy commented on #44
I don't think this is a devTools nor Redux problem. The problem is the bootstrapping of the dev tools. It should be inside the Angular2 zone.

When Angular2 bootstraps it creates a new zone, thus anything that runs afterwards is a child zone. This way Angular can update the UI whenever anything happens within these child zones. That means any code that updates UI needs to run inside these zones. T

[2016-01-31 07:00] rubyboy commented on #43
I've updated the [angular2-redux-example](https://github.com/InfomediaLtd/angular2-redux-example) to create the app store inside a factory (instead of doing that statically before Angular bootstraps) and now it properly updates the UI.
Check out my comment in the other issue you've created: [Force a zone refresh on Angular2 when time traveling... #44](https://github.com/zalmoxisus/redux-devtools-e

[2016-01-31 15:55] zalmoxisus commented on #44
Hey @rubyboy,

I don't know much about Angular 2, but it works as intended now. Thanks for the fixes and the feedback!

[2016-01-31 15:55] #44 closed

[2016-01-31 16:07] born2net commented on #44
Great job on finding the fix Ruby, issue closed!!!!!

[2016-01-31 16:47] born2net commented on #43
Great work Ruby!

[2016-02-01 09:58] zalmoxisus commented on #40
FYI [it can be used now also with the extension](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v1.0.0-beta2).

[2016-02-01 09:59] asciidisco commented on #40
Awesome! Thanks again.

[2016-02-01 14:42] x1a0 opened #45 "Does action filter accept regex?"
It seems using action name as-is works. But regex does not work.

For example I want to filter out all redux-form actions. What I've tried:

- `redux-form/.*`
- `redux-form/*`
- `redux-form\/.*`

[2016-02-01 15:32] zalmoxisus commented on #45
It does not, but it's a good feature request I want implement.

[2016-02-02 10:58] aoshi321 opened #46 "No store found issue"
Hi

Ive installed the extension and modified my store config as follows:

export default function configureStore(initialState) {

  const store = createStore(
    rootReducer,
    initialState,
    applyMiddleware(syncHistory(browserHistory)),
    window.devToolsExtension ? window.devToolsExtension() : f => function() {}
  );

  return store;
}

No when i run the application I get a   'No store fo

[2016-02-02 11:03] #46 closed

[2016-02-02 15:01] grimen opened #47 "Uncaught TypeError: Cannot read property 'state' of undefined"
Stacktrace:

[code]

![Web Inspector Screenshot](https://www.evernote.com/shard/s3/sh/eed9d3f2-95f5-4441-89d0-ac0493ecb532/4bdd9772c118e05c/res/2cee5165-34ac-4deb-af9a-76e4c8ce0f10/skitch.png?resizeSmall&width=832)

![Redux Store Source Code Screenshot](https://www.evernote.com/shard/s3/sh/76e22e36-b8ac-4da1-91af-ef738f9a9391/6fc84558ba832ecb/res/89ebaf1b-0714-49e4-9ead-b3604a6584ac/skitch.png?res

[2016-02-02 15:44] zalmoxisus commented on #47
Thanks for the report. That's a good suggestion to add a warning, but we have to do that in the Redux DevTools not in the extension. You can run into that also by adding `DevTools.instrument()` store enhancer twice, which actually happens here.

Just FYI, if you want to use a fallback to the vanilla Redux DevTools, use it as follows:
[code]
But you cannot have both at once as it invokes having two

[2016-02-02 18:07] grimen commented on #47
@zalmoxisus Yes, I changed it to that already - but took me a while to notice my mistake, so maybe it would make sense to handle that error with a warning in the console.

[2016-02-02 18:13] zalmoxisus commented on #47
@grimen, I know, we have similar issues before. Hopefully, few seconds ago @gaeron released Redux DevTools 3.1.0 with [a descriptive warning in the console](https://github.com/gaearon/redux-devtools/blob/master/src/instrument.js#L363-L364). Thanks for the suggestion!

[2016-02-02 19:18] zalmoxisus commented on #47
Implemented in `v1.0.0-beta3`.

[2016-02-02 19:18] #47 closed

[2016-02-02 19:23] zalmoxisus commented on #36
Should be fixed in `v1.0.0-beta3` with more descriptive error. Thanks, @gaearon, the provided explanation for the error is great!

@garretto, if you still have that error and have time to provide an example or to add some hints on how to reproduce it, please reopen the issue.

[2016-02-02 19:23] #36 closed

[2016-02-02 19:25] zalmoxisus commented on #34
Should work in `v1.0.0-beta3`, but I'll keep the issue open till we have it merged in [`redux-devtools-log-monitor`](https://github.com/gaearon/redux-devtools-log-monitor/pull/32).

[2016-02-02 19:33] zalmoxisus commented on #38
Should work in `v1.0.0-beta3`, but I'll keep the issue open till we have it merged in [`redux-devtools-log-monitor`](https://github.com/gaearon/redux-devtools-log-monitor/pull/32).

Also the idea of reversed actions for the notifications is good and, actually, implemented in `Diff Monitor`. We could add this for the popup page to make the actions look as notifications (with what was changed) and t

[2016-02-02 20:12] grimen commented on #47
+1

[2016-02-03 12:14] gaearon commented on #34
Log Monitor 1.0.4 includes this.

[2016-02-03 15:41] c089 opened #48 "Log monitor does not update when hot reloading a reducer"
Steps to reproduce:

1. trigger some actions
2. replace a reducer function

Expected: All actions are replayed, putting the app in the right state and replacing the intermediate states in the log.

Actual: All actions are replayed and the app is in the right state, but the log monitor is not updated.

Note that this only happens in the extension, but not when I include LogMonitor in the app myself

[2016-02-03 17:50] zalmoxisus commented on #48
The new actions should be ok, the problem is only with the history which was stored before the hot-reloading happens. A way to update the history is to toggle an action.

I do not know how to catch hot-reloading from the extension as there's no event to bind to.  We'll probably add a function (let's say `window.devToolsExtension.update()`), which can be added in `module.hot.accept('../reducers', (

[2016-02-03 18:46] zalmoxisus commented on #48
I found a way to catch reducers replacement. In `1.0.0.4` the log monitor should be updated on hot reloading.

[2016-02-03 19:34] c089 commented on #48
Awesome! Works like a charm, thanks for that :sparkling_heart:

[2016-02-03 20:17] #48 closed

[2016-02-03 20:18] zalmoxisus commented on #48
Thank you for the report!

[2016-02-04 08:33] dahei opened #49 "Uncaught TypeError. Cannot read property 'split' of undefined"
When using the extension I get sometimes (not always) an error while initializing my redux/react app.

When disabling the redux-devtools-extension the error does not appear, so it seems to be related.

![image](https://cloud.githubusercontent.com/assets/2070820/12809714/9685def4-cb21-11e5-9934-2d2d26967ab4.png)

As you can see, the exception is thrown in the `isAllowed()` function, which is part o

[2016-02-04 08:46] zalmoxisus commented on #49
Do you use the default configuration or changed something in settings (on the option page)?

[2016-02-04 08:49] dahei commented on #49
I would say, I use it "out of the box". Here are my settings (have to split it in 2 shots):

![image](https://cloud.githubusercontent.com/assets/2070820/12810141/8383389e-cb24-11e5-89bc-1d77928a04b0.png)

![image](https://cloud.githubusercontent.com/assets/2070820/12810153/92de7c40-cb24-11e5-978c-5c804e257c2f.png)

[2016-02-04 09:00] zalmoxisus commented on #49
Wasn't able to reproduce, but yes, if `chrome.storage.sync` has a delay it will throw there. I'll publish the fixes to Chrome storage a bit later. Thanks for the report!

[2016-02-04 09:02] dahei commented on #49
Thank's for the fix! :+1:

[2016-02-04 14:34] cmmartti commented on #49
Yes, thank you. I was just about to create a new issue for this error.

If I don't wait a few seconds before refreshing the page it gives this exact error. To be sure, I tested it in one of the [example pages](http://zalmoxisus.github.io/redux-devtools-extension/examples/counter/), which exhibits the same behaviour.

[2016-02-05 13:19] pirelenito opened #50 "Add iframe support"
We have a Redux application that needs to run inside an iframe, but the `window.devToolsExtension` is not being populated in its context. Apparently that is only available at the main window.

[2016-02-05 13:25] jhen0409 commented on #50
You can refer to the Chrome app/extension approaches, it's the same: https://github.com/zalmoxisus/redux-devtools-extension#how-to-include-it-in-chrome-apps-and-extensions

[2016-02-05 14:51] zalmoxisus commented on #50
Yes, it's almost the same approach, but, due to Chrome restrictions, a web-page cannot communicate with the extension directly without specifying the page url in the manifest. I will investigate this.

[2016-02-05 17:12] wmertens opened #51 "Saving serialized state?"
I'm playing with the idea of saving state and using that to create screenshots of the app in phantomcss.

That way you could make tests of your app by setting up the correct state, saving it and automatically creating screenshots, which then get diffed when your app changes.

To be able to do that, it would be great if the devtools allowed storing the state in a file (and possibly even restoring i

[2016-02-05 17:38] zalmoxisus commented on #51
I plan to add the ability to import/export the state history from the monitor, but I guess you want to do it programmatically not by clicking a button. So, should we add some functions like `window.devToolsExtension.import` / `window.devToolsExtension.import`?

[2016-02-05 18:09] wmertens commented on #51
With a button is fine actually, since you need to prepare the state and then save it in the appropriate location.Loading the state would probably be with the initialstate argument of createstore…

[2016-02-05 20:14] chrbala opened #52 "Remote devtools pushed to devtools extension?"
It seems like the extension on the Chrome store got mixed up and now uses Remote devtools, which doesn't seem to work for browser apps.

[2016-02-05 20:43] zalmoxisus commented on #52
Hey @chrbala,

Just checked, the extension works as expected. You may test it with [our counter example](http://zalmoxisus.github.io/redux-devtools-extension/examples/counter/).

Probably you use the shortcut corresponding to [Remote devtools](https://github.com/zalmoxisus/redux-devtools-extension#keyboard-shortcuts)?

[2016-02-05 20:47] chrbala commented on #52
Ah, it looks like Redux Devtools is there and can be accessed with the shortcut. But when I open it like this...
1. Right click on icon in URL bar
2. Open in panel

It defaults to the remote tools and is not clear on how to switch back to the normal devtools. The default used to be the normal devtools, and I don't see a way of easily opening the panel to the normal devtools anymore.

[2016-02-05 20:53] zalmoxisus commented on #52
Yes, I just forgot to rename it in the menu. I noticed that there wasn't much interest using the panel and since it is experimental feature of Chrome, decided to nuke it. But if you found it useful, I may bring it back to the context menu.

[2016-02-05 20:53] chrbala commented on #52
Ah, yes, that's the way I preferred to use the extension. Thanks!

[2016-02-05 20:55] zalmoxisus commented on #52
OK, will get it back then. It's a neat feature, sadly it remains just experimental.

[2016-02-05 20:56] chrbala commented on #52
Yeah. That was always the one big benefit of Firefox - they had a lot more customization options as far as panels go.

[2016-02-06 11:23] zalmoxisus commented on #52
Added back in `v1.0.0.5`.

[2016-02-06 11:23] #52 closed

[2016-02-06 11:24] zalmoxisus commented on #49
Fixed in `v1.0.0.5`.

[2016-02-06 11:24] #49 closed

[2016-02-06 11:24] #34 closed

[2016-02-06 11:25] zalmoxisus commented on #45
Implemented in `v1.0.0.5`.

[2016-02-06 11:25] #45 closed

[2016-02-08 13:36] zivni opened #53 "debug_session with immutable.js"
It seems that after the[ immutable.js fix 35](https://github.com/zalmoxisus/redux-devtools-extension/issues/35) every thing get serialized  to plain JS. but now when using ?debug_session=ds, it doesn't deserialized back to immutable.js and i'm getting `.get is not a function`.

Is there a way to tell the extension to deserialize back to immutable.js, and still keep the state in the panes plain JS?

[2016-02-08 14:51] zalmoxisus commented on #53
The extension shouldn't send back anything, it just gets changes from the lifted store, and dispatch actions to the lifted store in order to change anything. Default serialization introduced in #35, can be disabled in settings, but that problem you described comes not from the extension's serializations, but from [`persistState`'s](https://github.com/gaearon/redux-devtools/blob/master/src/persistS

[2016-02-12 23:37] SeriousM commented on #44
Hey @rubyboy, thank you for fixing this issue.
@zalmoxisus, would you please update the [README.md](../blob/master/README.md) so that other angular2 user see this solution? I can do that as well, should I send you a PR for that?

[2016-02-13 09:44] zalmoxisus commented on #44
@SeriousM, the issue was with that boilerplate, but, yes,  a PR to add the link to it would be welcome, so we'll have an example of using the extension with Angular 2.

[2016-02-15 19:22] jessedijkstra commented on #50
@pirelenito zalmoxisus just merged a PR enabling the Redux DevTools for iFrames, not sure when he'll release it to the Chrome Web Sote.

[2016-02-15 19:51] zalmoxisus commented on #50
Just published `1.0.0.6` to Chrome store, should be available in about an hour and Chrome should autoupdate the extension in few hours. Feel free to reopen the issue if something doesn't work as expected. Thanks again, @jessedijkstra, for the fix!

[2016-02-15 19:51] #50 closed

[2016-02-16 09:23] pirelenito commented on #50
It works flawlessly! Thanks!

[2016-02-19 05:47] guocheng opened #57 "Uncaught TypeError: Cannot read property 'initialScrollTop' of undefined"
I got this error:

[code]

The code that is causing this error is in `LogMonitor.js` at line 120:

[code]

I have tested the same code without using devtools-extension (using devtools instead )and there is no error. so I don't know if this is LogMonitor's error or an incompatibility issue with devtools-extension.

[2016-02-19 10:03] zalmoxisus commented on #57
It should be an extension issue as LogMonitor doesn't receive any props. Do you use the extension from Chrome store? Any changes you made in settings? Can you reproduce it if you test [our examples](https://github.com/zalmoxisus/redux-devtools-extension#examples)? Can you share an example to reproduce it?

[2016-02-19 13:27] guocheng commented on #57
Yes.

No.

Will try it next Monday. It's on my work machine.

Thanks for the extension BTW, love it :+1:

[2016-02-19 15:42] ashwinvandijk commented on #57
Same issue here. Can't reproduce with the examples on the site, so my guess is that it has something to do with the different (newer) versions of some libraries i'm using. I'm using react-redux 4.4.0, while the examples use 4.0.0. Tried installing that version but that didn't fix the issue for me. Also tried redux 3.1.5. from the examples while I had 3.3.1, which also didn't fix it...

[2016-02-19 15:47] zalmoxisus commented on #57
@ashwinvandijk, could you please share your store configuration?

[2016-02-19 15:56] ashwinvandijk commented on #57
Sure, here is my complete file:

[code]

I found out that I rendered my DevTools somewhere, which means it should get displayed in my browser window. I changed this line to ```{!window.devToolsExtension ? <DevTools /> : null }``` which fixed it for me.

[2016-02-19 16:38] zalmoxisus commented on #57
Thanks for clarifying this. We don't include logmonitor in the app's page (it is included only on the extension's page). BTW, you also don't need to include `persistState` in your enhancer as the extension already include it (though it should'n lead to any errors, just the changes will be persisted twice).

@guocheng, could you confirm that you also tried to render DevTools?

[2016-02-19 17:12] guocheng commented on #57
@zalmoxisus Yes, I did rendered the DevTools.

[2016-02-19 17:18] zalmoxisus commented on #57
Actually, even if we include the monitor from the extension, it wouldn't be rendered in that component. Anyway this error doesn't stop the extension to work properly, but it would be better to have a warning only.

[2016-02-21 09:23] ganmor commented on #53
I got it working by passing down the following deserialisation function to persistState

[code]

for now I am running the extension locally but maybe we could do something like this:

[code]
where devToolDeserialiseFunc have to be in the window otherwise persist state would just use identity like it does now

`persistState(sessionId, deserializeState = identity, deserializeAction = identity) {`

[2016-02-21 11:54] zalmoxisus commented on #53
I think we could pass the deserialisation function to the extension like so:
[code]
This function can be used not only for the `persistState` but also when importing state history from a file (after implementing #51).

Another option would be to have this function inside the extension (avoiding boilerplate) and pass a flag which will require it as
[code]

[2016-02-23 11:49] alexkuz opened #60 "Support non-JSON values"
The extension serializes state with `jsan`, losing values like `undefined` or `function`.

The way to fix this is to use `node-stringify` / `eval`, instead of `jsan.stringify` / `jsan.parse`.
(there is probably a better option than `eval`, I'm not sure) :)

[2016-02-23 12:21] zalmoxisus commented on #60
I guess `node-stringify` will not support circular references. Before `jsan` we als used `circular-json` and `json-stringify-safe`, but `jsan` seems to be faster than competitors.

I think we better fix that in `jsan` as @kolodny [already uses our extension](https://github.com/zalmoxisus/redux-devtools-extension/issues/23) and will accept a PR.

[2016-02-23 15:53] alexkuz commented on #60
Oh, that seems better, indeed.

[2016-02-24 21:57] kolodny commented on #60
@zalmoxisus @alexkuz I wrote a helper function to do this, let me know if it solves your use case

https://github.com/kolodny/jsan/issues/1#issuecomment-188349049

[2016-02-24 22:22] TimNN opened #61 "Redux script injected into every website"
When this extension is enabled, a `<script>` tag is injected into **all** webpages, even with "Inject in all pages" disabled and the regex set to a non-sensical one:

<img width="356" alt="screen shot 2016-02-24 at 23 12 53" src="https://cloud.githubusercontent.com/assets/1178249/13303013/20f15e8e-db4d-11e5-985f-163030ccaac1.png">

I also experimentally used an invalid regex (`(?:`), which did not

[2016-02-25 00:26] shadowii opened #62 "After running my page, popped out windows don't update, toggling instance throws error"
I tested the tool on the counter and todomvc pages, and it works. But after I start my site and try the extension on it, the extension stops working. Popped out windows don't seem to reflect changes to the state and when I try to change instances with the drop down, I get:
[code]

Closing my page tab won't restore functionality to the plugin. I have to restart chrome. Not sure what's the cause.

I

[2016-02-25 09:20] zalmoxisus commented on #61
It is intended behaviour, the script is injected but [not executed](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/inject/pageScript.js#L141). The problem is that we often get options (settings) after the page is loaded as described in #22, so we don't know whether the script should be injected or not and of course don't want to delay loading of every page

[2016-02-25 09:27] zalmoxisus commented on #62
Could you share an example to reproduce it or at least copy here your store configuration?

[2016-02-25 09:41] TimNN commented on #61
Alright, thanks for the explanation although I can't say I'm comfortable the script being injected into every website I visit, so I'm going to leave this extension disabled for now. Nevertheless, thank you for providing the extension!

My best idea would be to name the option something like "run on all pages" and add a note that "the script is injected in all pages regardless of this option", idea

[2016-02-25 09:46] TimNN opened #63 "script injected into non-html pages"
To reproduce visit a non-html website such as a styled xml document (example: https://whois.nic.swiss/feed/atom.xml)

Result:

<img width="1273" alt="screen shot 2016-02-25 at 10 45 26" src="https://cloud.githubusercontent.com/assets/1178249/13315735/efc42a3e-dbac-11e5-8fa4-8634547ed302.png">

[2016-02-25 09:50] iamakulov commented on #61
Yep, looks like this. Will look into it later.

[2016-02-25 11:16] zalmoxisus commented on #61
@TimNN, yes, enable the extension when you use it. If you have another solution, I'd be happy to implement.

[2016-02-25 15:46] shadowii commented on #62
Definitely. I realize the uselessness of my logs, but that's all the error messaging I've got to work with, and my configuration didn't look particularly special:

[code]

I've eliminated hmr so it's not that. Though when I deleted initial state, the extension seemed to work. But I'm not sure why. I'll keep poking around there.

[2016-02-25 15:57] ganmor commented on #53
If you want to package the function with the extension you'd have to package immutable too, I am not sure it's a good option.
I think the first solution is better.

I'd be happy to submit a PR including:
- The proposed change to window.devToolsExtension
- An example of the function in the README

Also it would be great to output a warning refering to the readme if we try to serialize immutable dat

[2016-02-25 16:48] zalmoxisus commented on #53
Agree, we don't want to package and inject Immutable.js in every page. Growing the injected script size would lead to a latency in loading and the store will be created before the `window.devToolsExtension` is injected.

Using the extension as `window.devToolsExtension({ deserialize:  state =>  Immutable.fromJS(state) })` would be pretty neat. The PR would be welcome. Also the parameter should be

[2016-02-25 17:00] zalmoxisus commented on #62
It should be something in the `initialState` then which is causing the error. I would like to investigate this if you provide an example. To get more helpful errors (so you'll see what exactly throws and where), you should [run the extension in dev mode](https://github.com/zalmoxisus/redux-devtools-extension#1-get-the-extension).

[2016-02-25 17:25] zalmoxisus commented on #63
That doesn't happen in dev mode as we remove the script after being executed. I will fix the production version.

[2016-02-25 18:09] zalmoxisus commented on #63
Fixed in `1.0.0.7`.

[2016-02-25 18:09] #57 closed

[2016-02-25 18:09] #63 closed

[2016-02-25 18:45] shadowii commented on #62
I'll have to put this on the backburner for the moment, but I will definitely revisit. Thanks for the heads up on dev mode.

[2016-02-29 03:24] oyeanuj opened #66 "Unable to load DiffMonitor"
Hi @zalmoxisus, thanks for your work on this extension!

As per your comment in #31, I tried using DiffMonitor with the chrome extension but it was still showing only the LogMonitor. Not sure if this is a noob error but here are the relevant bits:

[code]

In the extension option, I have set both left and right monitors to Diff Monitor. Any pointers on what I might be doing wrong?

[2016-02-29 08:26] zalmoxisus commented on #66
Hey @oyeanuj,

To open left or right monitor, click the corresponding button or do right click on the page to select it from the context menu. Additionally you can [use keyboard shortcuts](https://github.com/zalmoxisus/redux-devtools-extension#keyboard-shortcuts). Please let me know whether it was the issue.

Also you shouldn't include `persistState` enhancer as it is already including by the exte

[2016-03-01 00:56] rbvea commented on #9
+1

[2016-03-01 09:48] zalmoxisus commented on #53
Implemented in #65. Should work in `1.0.0.8`, thanks to @minedeljkovic.

Please see [the API section](https://github.com/zalmoxisus/redux-devtools-extension#api) and give it a try.

[2016-03-01 09:50] zalmoxisus commented on #60
@alexkuz, you can try it in `1.0.0.8`. Also added `redux-devtools-inspector` monitor in #64.

[2016-03-01 15:47] camwest opened #67 "1.0.0.8 broke serialize state setting"
See screenshot:
![screenshot 2016-03-01 07 45 49](https://cloud.githubusercontent.com/assets/22905/13432274/b356c15a-df81-11e5-969a-5425e586c6fd.png)

I still have states serialization selected:
![screenshot 2016-03-01 07 46 44](https://cloud.githubusercontent.com/assets/22905/13432293/c7cd608a-df81-11e5-837a-7a303cc65c27.png)

Since window.devToolsExtension now takes deserializeState as an option

[2016-03-01 16:16] zalmoxisus commented on #67
Due to changes in #60, the immutable data is broken on serialization. I reverted it and just published `1.0.0.9`, it will be available on Chrome Store in about an hour. Thanks for the report!

I'll keep this issue open till we get a solution.

[2016-03-01 16:38] kolodny commented on #67
hmm, can you give me a minimal case that breaks in jsan that I can try to work with? thanks

[2016-03-01 16:52] zalmoxisus commented on #67
@kolodny,
[code]

Actually the result `{"size":0,"_origin":0,"_capacity":0,"_level":5,"_root":{"$jsan":"u"},"_tail":{"$jsan":"u"},"__ownerID":{"$jsan":"u"},"__hash":{"$jsan":"u"},"__altered":false}}},"error":{"$jsan":"u"}}` is almost the same as we see in console for `console.log(immutable.List())`, and it is still a mystery how `JSON.stringify` serialize it to `[]`.

[2016-03-01 17:02] zalmoxisus commented on #67
I see, thanks for the explanation. I guess it wouldn't be so easy for nested data like `immutable.Map({ someList:  immutable.List(), someMap: immutable.Map() })`.

[2016-03-01 17:44] alexkuz commented on #60
@zalmoxisus thank you!

[2016-03-01 17:52] kolodny commented on #67
This is pretty doable by offloading `toJSON()` to whatever is being serialized, however you lose the advantage of working with functions and other types. I would advise checking for a `.toJS` method and then using that for `stringify`, something like

[code]

I'll still patch jsan to properly handle an object with a `toJSON()`, however I still think this solution is better in this instance

[2016-03-01 17:56] zalmoxisus commented on #67
It wouldn't be possible to use `. toJS` in this case as usually only a part of the object is Immutable, which comes from reducers. As in https://github.com/kolodny/jsan/issues/4.

[2016-03-01 18:26] zalmoxisus commented on #60
@alexkuz, unfortunately, I've temporally reverted it due to #67.

[2016-03-01 18:39] rhalff commented on #67
I've also started to experience the `root:` properties today, not the weird serialization of the immutable objects though, I'm using [seamless-immutable](https://github.com/rtfeldman/seamless-immutable) maybe that's why.

Anyway, I found a recent change in [react-json-tree](https://github.com/chibicode/react-json-tree) is probably related.
I've tested the 0.5.3 version and version 0.5.6, something

[2016-03-01 18:45] zalmoxisus commented on #67
@rhalff, it's related to https://github.com/gaearon/redux-devtools-log-monitor/issues/39. I'll revert this as well. Thanks for the report.

[2016-03-01 20:58] kolodny commented on #67
I just pushed `3.1.1` which should fix this, in particualr to use it with immutable you would do the same as this test does https://github.com/kolodny/jsan/blob/master/test/end-to-end.js#L107-L125 lines 119-120 are where the replacer function that you would need is. Let me know if this fixes it for you

[2016-03-01 22:03] rhalff commented on #67
.10 works like a charm again, thanks.

[2016-03-02 03:40] oyeanuj commented on #66
Ah, that worked. I was looking at the 'Redux' tab in the DevTools for this to show up. This might be a totally noob question but is that controlled by the extension as well. If yes, how do I get it to show up there given the code below?

[code]

Got it, thank you!

[2016-03-02 08:31] zalmoxisus commented on #66
I don't get the question. Do you want to have a docked monitor, not in a new window?

[2016-03-02 08:39] zalmoxisus commented on #67
@kolodny, thanks for the changes! I like the idea of nested `.toJS`.

Is this processing suppose to be slower than just `jsan.stringify(obj)`? If so, I will let users to choose which type of serialization to use (say "Regular" or "Deep").

[2016-03-02 18:38] kolodny commented on #67
yeah this puts it in the same performance class as the other options, as opposed to without where it's ~ 3x faster for most use cases. Putting it behind a flag would make the most sense

[2016-03-02 19:37] zalmoxisus commented on #67
Thanks a lot, @kolodny, for all the work and detailed explanation!

I published  `1.0.0.11` reflecting  this changes. Will keep this by default, so more users can test it. When we finish the options page, will add the ability to select between: "No serialization", "Regular serialization", "Deep serialization".

[2016-03-02 19:37] #67 closed

[2016-03-03 14:39] montogeek opened #69 "Close instances"
Hi!

It would be cool to close the current window when you select another position :)

[2016-03-03 14:42] #69 closed

[2016-03-03 18:29] zalmoxisus commented on #69
We had this behaviour before. Now we don't do this in order to support multiple monitors simultaneously.

[2016-03-03 18:45] zalmoxisus commented on #60
Should work well now. Thanks to everybody working on this!

[2016-03-03 18:45] #60 closed

[2016-03-04 02:09] timothyjlaurent opened #70 "Getting error when applying the devtools"
`e.apply isn't a function .`

If I un-minify the source with the `{}` button I get an error on line 1703

![image](https://cloud.githubusercontent.com/assets/2000204/13516007/fc7720c4-e16a-11e5-877e-a8e102fba151.png)

Not sure what is going on.

[2016-03-04 08:53] zalmoxisus commented on #70
Please [run the extension in dev mode](https://github.com/zalmoxisus/redux-devtools-extension#1-get-the-extension) to see more meaningful error messages.

[2016-03-04 16:47] isaacl opened #71 "jsan exception translator is causing crash"
Pull request to fix: kolodny/jsan#5

[2016-03-04 20:48] zalmoxisus commented on #71
Updated in `v1.0.0.13`. It should become available on Chrome store in about an hour.
Thanks a lot for the fix!

[2016-03-05 07:45] timothyjlaurent commented on #70
Thanks,

So it looks like this is happening here:

![image](https://cloud.githubusercontent.com/assets/2000204/13546435/0bf3a3da-e263-11e5-9315-c29707f56d63.png)

It is downstream from applyMiddleware's compose.
![image](https://cloud.githubusercontent.com/assets/2000204/13546439/214b8932-e263-11e5-93e7-fc0bcdba7809.png)

[2016-03-05 08:20] zalmoxisus commented on #70
The extension should be applied as a store enhancer not a middleware. So it should be:
[code]
As indicated [here](https://github.com/zalmoxisus/redux-devtools-extension#2-use-with-your-favorite-flux-implementation). Just don't forget to also import `{ compose }` from `redux`;

[2016-03-07 21:49] timothyjlaurent commented on #70
Thanks for the help
On Sat, Mar 5, 2016 at 12:20 AM Mihail Diordiev <notifications@github.com>
wrote:

[2016-03-09 10:16] #71 closed

[2016-03-09 10:16] #70 closed

[2016-03-09 10:17] #53 closed

[2016-03-12 15:16] jcblw opened #73 "onbeforeunload handle throws error"
I have been getting errors every time I try to navigate to the another page because of this code.

[code]

The error is

[code]

I was going to patch this myself but could not find the code in the codebase, that was creating the error. Maybe it was deployed without pushing it to github?

[2016-03-12 15:18] zalmoxisus commented on #73
Yes, it was removed in https://github.com/zalmoxisus/redux-devtools-extension/commit/297850f1405317a26091075d0fa8225bfd7810de, but not published to Chrome store yet. This exception doesn't affect the functionality, right?

[2016-03-12 15:22] jcblw commented on #73
no it does, not but i have pause on exception on for my own codebase, and its been persistently reminding me that this is here. I just thought I would float this out here. I can install via the version in the repo for now.

Thanks for the extension btw :beers:

[2016-03-12 15:27] zalmoxisus commented on #73
In [new scenario](https://github.com/zalmoxisus/redux-devtools-extension/pull/72), we don't open any connections before it is required. I will add few other minor changes and will publish a new version with these fixes by tomorrow. Thanks for the report!

[2016-03-12 15:28] jcblw commented on #73
awesome thanks!

[2016-03-12 15:28] #73 closed

[2016-03-16 06:51] anyong opened #74 "Can I change the monitor shown in the Chrome developer tools?"
The Chrome Developer Tools window Redux tab shows the log monitor, so I always need to keep the inspector monitor open in a new window. Can I change the Redux tab to display the inspector monitor? Thanks!

[2016-03-16 08:48] zalmoxisus commented on #74
Will implement this after we get #54 as I don't want to have conflicts there. Thanks for the suggestion!

[2016-03-16 08:49] anyong commented on #74
Great, thanks!

[2016-03-17 00:47] bobmonteverde opened #75 "Freezes when using chrome extension"
In the past few weeks I have been having serious issues when using the devTools extension on one of my projects.  The strange thing is, I have 2 projects using the dev tools in the exact same manor, one works one does not (though it did previously work).  The one that doesn't work is a much larger project with A LOT of data in the state, beyond that I can't identify any other major differences.

A

[2016-03-17 08:14] zalmoxisus commented on #75
Thanks for the report. More likely it should be related to the serialization that we introduced in #60 and #67. I disabled it in `1.0.0.16`, which should appear on Chrome store in about an hour. Please give it a try. Alternatively, if you don't use Immutable.js and don't have circular references, try to disable serialization at all on the settings page.

[2016-03-17 21:56] bobmonteverde commented on #75
Yes, that fixed it.

And to give a little more detail, I was using Immutable for my state (well the top level isa normal JS object, but each reducer is an Immutable Map and contained Maps, Sets, and Lists.  On top of that, I had a few very large lists... between 5k and 100k records (with about 10 keys of strings/numbers each)... between 2 and 4 of these sets in my state.

[2016-03-18 21:01] zalmoxisus commented on #75
Thanks for the details! That's really a lot of processing when doing deep serializing. Great that simple serialization works smoothly with such amount of data, so we'll keep it as default.

[2016-03-18 21:01] #75 closed

[2016-03-19 05:15] wkw opened #76 "Position of panels in chrome debugger"
This isn't an issue with the project, but relevant.

When I'm working with a react/redux project, my OCD dictates that I move the react and redux Chrome dev panels to the left because those two, tend to be the ones I'm looking at mostly, followed by Elements  and Network panels. Yet extension debugger panels seem to be relegated to the end of the queue. Thus the query:
I suppose I should add: it's

[2016-03-19 08:55] zalmoxisus commented on #76
Yes, Just checked in Chrome 49, and it keep the order of the panels after you drag and drop clicking the React/Redux title of the panel.

Anyway, I highly recommend to use windows instead of devtools panel, as it works faster (no need to relay data to the chrome devtools script), and usually you want to have the console (or Elements/React inspecting panel) there.

[2016-03-23 14:27] mildful opened #77 "Any plans about compatibility with @ngrx/store ?"
Hi.

I'm using [@ngrx/store](https://github.com/ngrx/store) to manage my Angular 2 application which is inspired by Redux.

I would like to know if redux-devtools-extension could be compatible with it ? I'm working on it but if someone already knows something about that and can help, it would be fine.

Thanks for this awesome tool :-)

[2016-03-23 14:52] zalmoxisus commented on #77
Hey,

As it doesn't support store enhancers, only middlewares (and those aren't compatible with redux), it wouldn't be possible to use with Redux DevTools directly.

You could create a bind as [for freezer](https://github.com/arqex/freezer-redux-devtools) or use [remotedev](https://github.com/zalmoxisus/remotedev).

In case you release a solution please let me know so I will add it to the README.

[2016-03-23 15:24] mildful commented on #77
This tool already exists :
https://github.com/ngrx/devtools
https://twitter.com/robwormald/status/708907973796495360

[2016-03-23 15:59] zalmoxisus commented on #77
Thanks for the info! Is there any example with Devtools ([the official example](https://github.com/ngrx/angular2-store-example) seems not to include it) so I could investigate it?

[2016-03-24 08:37] mildful commented on #77
You can see an implementation of it here : https://plnkr.co/edit/46Sutu999iJ9SNN9xhyC?p=preview :-)

[2016-03-24 09:48] zalmoxisus commented on #77
@mildful, thanks for the demo. The good news is that it uses the same data structure as Redux Devtools stores in `store.liftedStore` (you can get it from `this.store._backend.liftedState.value`), but `@ngrx/store` API is completely different from the Redux one.

I'm not too familiar with observables, if you want to try it to implement it, all you have to do is to replicate [the script the the exte

[2016-03-24 13:12] veggiemonk commented on #9
@zalmoxisus @rbvea
It just becomes easier to write cross browser extension: https://developer.mozilla.org/en-US/Add-ons/WebExtensions

[2016-03-24 13:33] mildful commented on #77
@zalmoxisus thanks a lot.
I'll try to do as soon as possible.

[2016-03-24 13:34] wkw commented on #76
OK, good advice. thanks

[2016-03-24 13:34] #76 closed

[2016-03-24 13:39] zalmoxisus commented on #9
@veggiemonk, yes we rely on WebExtensions (as well as in [crossbruilder boilerplate](https://github.com/zalmoxisus/crossbuilder), but as you see [the issues above](https://github.com/zalmoxisus/redux-devtools-extension/issues/9#issue-114236914) aren't fixed yet.

[2016-03-24 17:22] nevir opened #78 "Autodetect remote devtools hosts"
I'm unsure if this is possible (but seems likely?)

I'd prefer to have a setup where:

* I'm doing react native development, both in simulator _and on device_ (over wifi)
* I'm running my own `remotedev` server locally
  * Run like `remotedev --hostname=MY_LOCAL_IP --port=8000` so that actual (iOS) devices can connect to it
* I have "Debug in Chrome" enabled in the app

Ideally, the Redux devtools

[2016-03-24 17:43] zalmoxisus commented on #78
Thanks for the suggestion. Unfortunately, React Native Debugger knows nothing about this and don't expose anything globally (so the extension can catch it).

Actually, you can just open `localhost:8000` in another tab and will have the monitor configured with your host and port.

[2016-03-27 20:09] Anahkiasen opened #80 "Blacklist not working?"
Maybe I'm doing it wrong, I instrument the extension like this:

[code]

But I still see those actions in the devtools:

![screen shot 2016-03-27 at 22 09 20](https://cloud.githubusercontent.com/assets/1321596/14067620/95e80150-f468-11e5-8d45-1fa2d886b39d.png)

Tried blacklisting those actions in the extension's options but same thing. Does the devtools call need to be at a certain position in the

[2016-03-28 09:40] zalmoxisus commented on #80
Thanks for the report!

In the first case you're doing everything right, this feature was just [added 2 days ago](https://github.com/zalmoxisus/redux-devtools-extension/pull/79), it is not on Chrome store yet.

When you was trying to blacklist the actions in the extension's options, you probably forget to apply the checkbox as well.

Just published `1.0.0.17`, it should be available in few hours.

[2016-03-28 11:44] Anahkiasen commented on #80
Works fine now, thanks!

[2016-03-28 11:45] #80 closed

[2016-03-29 16:03] ianks opened #81 "State not being serialized correctly?"
After upgrading to redux 3.3.1, the extension shows all of my state ass looking something like this:

`$jsan:"$.actionsById.5.action.payload.props.children[0]._owner._renderedComponent._renderedComponent._renderedChildren[".0"]._renderedComponent._instance.state.storeState"`

Any idea why this is happening?

[2016-03-29 16:12] zalmoxisus commented on #81
Our examples also [use redux@3.3.1](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/examples/counter/package.json#L23). You can [give it a try](http://zalmoxisus.github.io/redux-devtools-extension/examples/counter/). Is it the same there?

Could you please provide more details? In which monitor do you see this?

[2016-03-29 16:21] ianks commented on #81
That example works fine.

The issue is reproducible in all monitors.

[2016-03-29 18:27] zalmoxisus commented on #81
Thanks for the details. For some reason [jsan](https://github.com/kolodny/jsan) fails to serialize the object.

You could of course disable the serialization in the extension's settings, and that should solve the issue, but it would be welcome to get a test to replicate this and be able to fix `jsan`.

Could you please paste the plain object which should be serialized from `store.liftedStore.getSt

[2016-03-30 23:25] msafi opened #83 "Security risk when enabled in production"
Thanks for creating this extension. It's really cool!

We were discussing whether we should enable this extension in production and some team members raised the concern that calling `window.devToolsExtension()` would allow even a malicious Chrome extension to spoof this function and add itself to store configuration.

What do you think?

[2016-03-31 05:55] zalmoxisus commented on #83
Yes, that's a good idea to use the extension in production as it will not affect the performance for regular users (who don't have the extension installed). And, yes, you are right, it would be easy for a malicious extension to get access to you store, but on the other hand it's even easier for it to execute some bad scripts directly and to steal passwords / tokens by watching forms or network req

[2016-03-31 15:10] weslleyaraujo commented on #51
importing/exporting state would be an amazing feature, let me know if I can help with anything on that 👍

[2016-04-03 09:11] zalmoxisus opened #84 "Use `maxAge` option instead of auto commiting"
As introduced in https://github.com/gaearon/redux-devtools/pull/241.

[2016-04-03 10:48] zalmoxisus commented on #51
It's implemented in https://github.com/gaearon/redux-devtools-log-monitor/pull/46 and will come to the extension with the ability to use files.

[2016-04-03 11:10] shubhamsizzles opened #85 "Add an option to copy states to clipboard"
Would be nice if the UI allowed one to easily copy data from a single/multiple reducers.

[2016-04-03 13:30] zalmoxisus commented on #85
Thanks for the suggestion. It is certainly something great to have, but it should be implemented in one of the monitors. I'd suggest to implement this on [`redux-devtools-inspector`](https://github.com/alexkuz/redux-devtools-inspector) as it has a nice way of actions/states traversing. Something similar for the [`log-monitor`](https://github.com/gaearon/redux-devtools-log-monitor) was suggested [h

[2016-04-03 13:30] #85 closed

[2016-04-03 21:22] max-mykhailenko opened #86 "What about side effects?"
Maybe it's question not about extensions only. I can remove action in devtools, but I have side effect to browser hash and I can't imagine how I can revert url to the previous state. Maybe you have thoughts about it.
Thanks!

[2016-04-04 11:04] zalmoxisus opened #87 "Support monitors reducers"
Due to Chrome restrictions, an extension cannot communicate directly with the page script, so the only thing the injecting script does is adding instrument enhancer and relaying all the changes to the extension's background script, where we have all the orchestration.

Before we open a monitor window, no data are relayed to the extension and no monitors are rendered. In this way the extension woul

[2016-04-04 11:11] zalmoxisus commented on #86
Thanks for opening this issue. It something that concerns me as well, but it is not something that could be solved on the extension or monitor side (as described in https://github.com/zalmoxisus/redux-devtools-filter-actions/issues/3). A possible solution was suggested in https://github.com/gaearon/redux-devtools/pull/263.

[2016-04-04 11:17] zalmoxisus commented on #66
Closing as I don't see what we could do here. If you have any suggestions or experience any issues related to this, feel free to reopen.

[2016-04-04 11:17] #66 closed

[2016-04-04 11:19] zalmoxisus commented on #62
Since https://github.com/zalmoxisus/redux-devtools-extension/pull/72 a lot of functionality was changed, so this should be fixed. Please give it try and we have time and if the issue persists, please reopen the issue with the details.

[2016-04-04 11:19] #62 closed

[2016-04-06 07:08] max-mykhailenko commented on #86
@gaearon maybe we can log all side effects in redux and then downgrade them like database migrations?

[2016-04-08 17:32] ianks commented on #81
Here is the raw object copy and pasted from dev tools.
[code]

After running `jsan.parse(jsan.stringify(obj))`, the resulting object is missing a few keys:

[code]

[2016-04-09 00:13] davidhtien opened #88 "Extension is blank when using redux-form, having nested objects in state and no errors showing"
my state object looks something like this
[code]

when I open the extension it's just blank and there's no error so I can't figure out why it's not working

[2016-04-09 07:21] khankuan commented on #87
Hmm, do you mean that because the monitor may not be launched at the start of the app, the monitor reducer might not work as expected?

[2016-04-09 08:12] zalmoxisus commented on #88
Thanks for the report. An example to reproduce this would be welcome.

You can try [the example of redux-form](http://redux-form.com/5.0.1/#/examples/simple), which works with the extension.

To have more meaningful errors, [run the extension in dev mode](https://github.com/zalmoxisus/redux-devtools-extension#1-get-the-extension).

[2016-04-09 08:19] zalmoxisus commented on #87
@khankuan, we don't render monitors inside the user's app, so they are not present there at all. Applying all available monitors and hiding them just to access their reducers wouldn't be a reasonable solution I think.

[2016-04-09 08:25] khankuan commented on #87
Hmm not sure if I got the flow correct. Could we use monitor reducers the same way as the current reducer?

[2016-04-09 09:12] zalmoxisus commented on #87
Actually, I looked into shift toggle implementation, and you don't need any reducers applied on the user's app side, everything should be done on the remote side monitor. We should just allow sending the changes from there to the app, which should be an easy fix in [`remotedev-app`](https://github.com/zalmoxisus/remotedev-app). I'll look into it.

The current issue is related only to [`filterable-

[2016-04-09 21:46] davidhtien commented on #88
It started working today... not really sure what fixed it

[2016-04-10 08:18] zalmoxisus commented on #88
@davidhtien, do you use the default log monitor?

[2016-04-10 08:27] zalmoxisus commented on #81
@kolodny, any idea what could be the problem here? Is it related to `jsan`?

[2016-04-10 12:38] kolodny commented on #81
jsan works in one of two modes, there's the slower fuller featured mode which walks the object and marks functions, self references and other non-JSON types, the other mode is the fast mode which it tries first be default. Doing `jsan.parse(jsan.stringify(obj))` does the fast way first and if it doesn't fail, which it looks like it didn't, happily returns that. That drops functions and any other n

[2016-04-10 19:41] zalmoxisus commented on #81
@ianks, you provided the store object, we need the object which is the result of `store.liftedStore.getState()`. It should be something similar to what you provided in the first message:
`$jsan:"$.actionsById.5.action.payload.props.children[0]._owner._renderedComponent._renderedComponent._renderedChildren[".0"]._renderedComponent._instance.state.storeState"`

[2016-04-11 04:59] khankuan commented on #87
Hmm, i checked out [filterable-log-monitor](https://github.com/bvaughn/redux-devtools-filterable-log-monitor/). Which part of it required code on user's app side?

Cheers

[2016-04-12 09:46] zalmoxisus commented on #87
@khankuan, sorry for the late response.

[`actionIdToDatumMap`](https://github.com/bvaughn/redux-devtools-filterable-log-monitor/blob/master/source/reducers.js#L56) should be generated on the user's app side and sent with the liftedState. We could include its monitor as well to get it work, the issue is only to do it only when needed, which can be addressed later if we decide to support this monit

[2016-04-12 09:48] #87 closed

[2016-04-12 15:33] #84 closed

[2016-04-12 19:22] zalmoxisus commented on #81
@ianks any updates on this? Could you please also try to disable serialization on the option page (in case you don't use Immutable.js and have no circular references) and see weather it helps.

[2016-04-12 20:57] chrisblossom opened #89 "maxAge console spam"
Is anyone else suddenly seeing this in their chrome console? Am I doing something wrong or is this expected?

[code]

[2016-04-12 21:11] MalcolmDwyer commented on #89
Confirming... I started seeing it too as of an hour ago.
Version: 1.0.0.18
Updated: April 12, 2016

[2016-04-12 21:29] arnerjohn commented on #89
I'm just making a guess but it looks like the root of the problem may be due to a change here https://github.com/gaearon/redux-devtools/blob/master/src/createDevTools.js#L20-L23 from a recent PR that was merged into `redux-devtools`.

[2016-04-12 22:49] andreigabreanu commented on #89
Confirm I am seeing it also

[2016-04-13 02:17] Calvein commented on #89
Same problem here, in the meantime, I've just added this script to prevent them:

[code]

[2016-04-13 03:13] cjke commented on #89
Another temporary options is switch on console Regex (if using Chrome) and add the following filter:
`^maxAge`

Mega quick and dirty until the problem is fixed

[2016-04-13 03:16] cjke commented on #89
Quick regex snippet for the Chrome console filter (with regex turned on):
^(?!maxAge).*$

Mega dirty, but temporary until root issue is fixed
![screenshot 2016-04-13 12 15 58](https://cloud.githubusercontent.com/assets/884065/14481813/84ac0b00-0171-11e6-99de-22f0f2cceb0b.png)

[2016-04-13 05:46] khankuan commented on #87
@zalmoxisus hmm, I updated to the latest version but it seems like `this.props.dispatch` does not dispatch actions with type `@...`

[2016-04-13 07:55] zalmoxisus commented on #89
Oh, sorry, just forgot to remove the console. Fill fix ASAP.

[2016-04-13 08:15] zalmoxisus commented on #87
@khankuan make sure to update `remotedev-app` as well, it should be at least `0.3.1` ([as specified on `package.json`](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/package.json#L70)) to support [this change](https://github.com/zalmoxisus/remotedev-app/commit/e9f14eda10a80bb0a64965c4511a857c5529f9f6).

[2016-04-13 15:04] khankuan commented on #87
I'm running on master and also tried updating to 0.3.2 but seems the same :/

[2016-04-13 15:56] zalmoxisus commented on #87
@khankuan, strange. Just checked, replaced `redux-devtools-log-montor` lib with that generated from your fork, and it works well except for [the error I described above](https://github.com/gaearon/redux-devtools-log-monitor/pull/47/commits/552b04ae5d13167f19f9e7e6cb59bb806f8832e7#diff-64b38bb681a18e1ecd4f8f8279ff3684R164) that makes it to work only first time.

[2016-04-13 16:01] khankuan commented on #87
I've fix the issue you've described here :)
https://github.com/gaearon/redux-devtools-log-monitor/pull/47/commits/5b0c7bbedd87a1ddf1ba3e087dfcddcd2e859256

[2016-04-13 16:16] born2net commented on #89
+1 tx for fixing

[2016-04-13 16:37] zalmoxisus commented on #87
:+1: Tested and it works now without any issues.

Check inside `node_modules/remotedev-app` whether [this change is present](https://github.com/zalmoxisus/remotedev-app/commit/e9f14eda10a80bb0a64965c4511a857c5529f9f6) and to log what is being dispatched. Also check if [the extension receives this and dispatch inside the app](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/br

[2016-04-13 17:12] #89 closed

[2016-04-13 18:05] mondaychen opened #90 "Why does it need hard-coded extension ID and key?"
I'm new to chrome extension development. While reading the source code, I noticed that in [`src/browser/extension/inject/index.js#L4`](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/inject/index.js#L4) there's a hard-coded `window.devToolsExtensionID`, and in [`src/browser/extension/manifest.json`](https://github.com/zalmoxisus/redux-devtools-extension/blo

[2016-04-13 18:22] zalmoxisus commented on #90
It's necessary to inspect not only web pages, but also [Chrome apps and extensions](https://github.com/zalmoxisus/redux-devtools-extension#how-to-include-it-in-chrome-apps-and-extensions).  So, an inspected app or extension can [connect to our extension to send and receive data](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/inject/contentScript.js#L10).

[2016-04-13 18:38] mondaychen commented on #90
Thanks for the answer!

[2016-04-13 20:05] ianks commented on #81
I upgraded to the new version of redux. This seems to have fixed my issue.

[2016-04-14 04:05] johnhamm commented on #77
Any progress on this?  Although I have ngrx devtools working with my ng2 project, I would much rather use the extension for the awesome monitor capabilities and the ability to use with production builds.

[2016-04-14 08:09] zalmoxisus commented on #77
We should first ask @MikeRyan52 if he would be interested to support the extension, otherwise any effort here will be broken with [new API changes in `ngrx/devtools`](https://github.com/gaearon/redux-devtools/pull/243#issuecomment-202218034).

[2016-04-14 08:31] mildful commented on #77
Currently, I have a lot of work and I have not tried. Sorry !

[2016-04-14 13:00] MikeRyan52 commented on #77
@zalmoxisus I'm certainly interested in seeing if it is possible to add @ngrx/store support, but as you've already discovered the way the store is instrumented is very different from redux. The general problem is that we expose our store as an observable, so simply lifting the store's API doesn't really work.

With that being said, since the underlying wrapped state interface is the exact same it

[2016-04-14 15:43] zalmoxisus commented on #77
@MikeRyan52, thanks for the details. Actually, the extension is quite agnostic about the client's store. Redux Devtools with the monitors is on the background page. We just need to modify the injected script to relay the changes from `@ngrx/store` (with the same structure as for the liftedState) to the background script and have the ability to dispatch actions received from the background script i

[2016-04-14 16:41] ianks commented on #81
So I re-opened this issue, but this time I have more information. This bug only appears if I open the Developer Tools console *after* the page has loaded. If Developer Tools is open as I load the page, every thing works perfectly.

[2016-04-14 18:23] zalmoxisus commented on #81
@ianks, if you have the monitor already opened, we send only the changes one by one, thus in first case we send the whole `store.liftedStore.getState()`. It would be useful to paste here the object returned from that operation (as [described above](https://github.com/zalmoxisus/redux-devtools-extension/issues/81#issuecomment-203039027)), so we could check whether the problem is in serialization.

[2016-04-14 20:14] ianks commented on #81
store.liftedStore.getState() looks entirely normal. All of the actions look OK. All of the state is correct.

[code]

Attempting to call `jsan.stringify(store.liftedStore.getState())` freezes my dev tools console.

[2016-04-15 08:28] zalmoxisus commented on #81
@ianks, thanks for the information. Yes, the object structure is correct, but I still don't know what is inside.

Could you please provide also `store.liftedStore.getState().computedStates` and `store.liftedStore.getState().actionsById`? Optionally you can try to stringify these objects as well.

[2016-04-15 08:51] pke opened #91 "Possible to insert my own monitor to the tools?"
I wonder if its possible to insert my own monitor to the extension.
Could the extension be given a set of monitors in its options?

[2016-04-15 09:26] zalmoxisus commented on #91
@pke, that's a good suggestion, I was thinking about. Unfortunately for Chrome extensions and apps it is not possible to implement a plugin system (as we'd do for an Electron app), though there are some workarounds, but they are not allowed and a lot of Chrome apps were banned on web store because of that.

Passing the monitor react component rendered to string via `react-dom/server` to the extens

[2016-04-15 09:32] pke commented on #91
Cool, I'll write my monitor for `react-ab-test` to select the active variants. Not really `redux` related but I like to have all those monitors in one place. Maybe `redux-devtools` should be renamed `react-devtools` eventually :)

At the moment I am struggling with an `Uncaught Invariant Violation: Must be mounted to trap events` when using the `DevTools.instrument()` call.

[2016-04-15 09:32] #91 closed

[2016-04-15 19:03] ianks commented on #81
I do not feel comfortable posting the whole state here, but I can confirm this:

`store.liftedStore.getState().computedStates` returns the state, and it is entirely correct.

`store.liftedStore.getState().actionsById` contains a circular reference which causes jsan.serialize to freeze.

[2016-04-15 21:16] mondaychen opened #92 "Diff Monitor and Chart Monitor not working?"
With the extension installed I tried it with [the todomvc example](http://zalmoxisus.github.io/redux-devtools-extension/examples/todomvc/). The Log Monitor and Slider Monitor both work very well. However the Chart Monitor is all blank and Diff Monitor does not show any diff.

Not sure if it only happens to me.

My environment:

[code]

[2016-04-15 22:18] truckingsim commented on #92
Also having the exact same issues.

[code]

package.json important bits, anything relating to redux (just in case):
[code]

[2016-04-16 09:38] zalmoxisus commented on #81
@ianks, thanks a lot! Knowing that a circular reference is the reason is sufficient. I'm able to reproduce it [here](http://zalmoxisus.github.io/redux-devtools-extension/examples/router/). The problem was that we have an older version of `jsan` in `remotedev-app`, so we were serializing with one version and parsing with another one.

Fixed in `v1.0.0.20`, please give it a try when you have time.

[2016-04-16 09:38] #81 closed

[2016-04-16 10:10] zalmoxisus commented on #92
@mondaychen, @truckingsim, thanks for the report! Downgrading versions of those monitors fixes the issue. I will investigate what changes there caused the problem.

BTW are there any advantages of supporting `Diff Monitor` since `Inspector Monitor` also shows diffs?

[2016-04-16 14:24] zalmoxisus commented on #88
There were some monitors that wasn't able deal with an empty liftedState. Fixed in `v1.0.0.21`. Please give it a try and feel free to reopen the issue if the problem still appears.

[2016-04-16 14:24] #88 closed

[2016-04-16 14:41] zalmoxisus commented on #92
Fixed in `v1.0.0.21`. Please give it a try and feel free to reopen the issue if the problem still appears.

[2016-04-16 14:41] #92 closed

[2016-04-16 14:45] truckingsim commented on #92
@zalmoxisus Looks fixed.  Thanks!

[2016-04-17 17:52] clubdesign opened #93 "No Actions when Store is composed with redux-replicate."
Hey,

great work on this tool, but i am experiencing problems when the store is composed with redux-replicate before created, i don`t know where the root of the problem is, the only thin i know is: I deactivate the Replication, all actions are displayed correctly. I activate it the DevTools just get the init action and no more after that. The State shown by the init function is still updated thoug

[2016-04-17 18:16] zalmoxisus commented on #93
Hey @clubdesign,

Don't know if that is the reason, but you're mixing old redux api with the new one.

So if you use an old version of redux, it will be:
[code]

Or for the new one:
[code]

[2016-04-17 18:34] clubdesign commented on #93
Hey @zalmoxisus ,

thanks for the suggest, but it still isn`t working, the above example is directly from redux-replicate, in my code i am doping it like this:

[code]

[2016-04-17 18:37] zalmoxisus commented on #93
That seems right. Don't you get any warnings/errors in the console? Does it work with vanilla Redux Devtools?

[2016-04-17 18:39] clubdesign commented on #93
Yes it works with Vanilla, and no Errors or anything elese, just the @INIT State. As said, the State keeps updating, but the dispatched action are not shown, see here:

http://d.pr/i/1811t/15oqmzJQ

[2016-04-17 18:44] zalmoxisus commented on #93
I guess you mean redux logger middleware. By vanilla Redux DevTools I mean https://github.com/gaearon/redux-devtools. Please try to implement that instead of the extension, if that steal doesn't work, then more likely the problem is somewhere in `redux-replicate`. Usually, the described behaviour appears when the state is mutated.

[2016-04-17 18:46] clubdesign commented on #93
Nono, i mean the normal tools, i had them running correctly before i tried the extension. Everything is working.
Just as a hint: When i remove the replication, it is working normal and correctly, so maybe it`s something within redux-replicate what does not comly with the extension?

[2016-04-17 18:47] zalmoxisus commented on #93
That's interesting. I will try it.

[2016-04-17 18:49] clubdesign commented on #93
See: http://d.pr/i/13lXR/4PboxiX3

Is just replace everything back to Vanilla DevTools:

[code]

[2016-04-17 19:04] zalmoxisus commented on #93
Could you please try to add
[code]
and check if you get the new value every time? If not then the problem should be investigated inside `redux-replicate`.

[2016-04-17 19:06] clubdesign commented on #93
Yes,  the state is logged with every action when subscribed.

[2016-04-17 19:11] zalmoxisus commented on #93
@clubdesign, thanks for confirming that. Then it is certainly a bug there, and that explains why we get only the first change, because the others are the same. When the subscription will work, the extension should work as well.

[2016-04-17 19:12] zalmoxisus commented on #93
@clubdesign, you are getting different values? because I got the same every time?

[2016-04-17 19:14] clubdesign commented on #93
Yes, the state in the console is updated correctly.

[2016-04-17 19:29] zalmoxisus commented on #93
Thanks for the details. Yes, due to the fact that [it replaces the reducer](https://github.com/loggur/redux-replicate/blob/master/src/index.js#L199) the extension don't get the new store. I'll investigate it.

[2016-04-17 19:30] clubdesign commented on #93
Ok, thanks @zalmoxisus !

[2016-04-17 19:32] zalmoxisus commented on #93
@clubdesign, actually not, I was wrong.
Using it like that
[code]
(change the order in the compose) should solve the issue. Please confirm.

I will add the information to the README.

[2016-04-17 19:47] clubdesign commented on #93
Sorry @zalmoxisus , i tried that already, but then the replication fails completly. But i can confirm, that the DevTools Work with this setup. But it doesn't help as the replcation is failing ;)

[2016-04-18 09:57] zalmoxisus commented on #93
Well, the problem is that `redux-replicate` creates the store twice (first time in [L180](https://github.com/loggur/redux-replicate/blob/master/src/index.js#L180) and the second one in [L133](https://github.com/loggur/redux-replicate/blob/master/src/index.js#L133)). Looks a a bit weird, but anyway fixed in https://github.com/zalmoxisus/redux-devtools-extension/commit/97eb9d320d3604bc97259e7c6845b2

[2016-04-18 09:57] #93 closed

[2016-04-18 10:14] clubdesign commented on #93
Thx @zalmoxisus, will try it

[2016-04-18 10:44] clubdesign commented on #93
Can confirm it works with the current latest version @zalmoxisus.
Thanks!

[2016-04-18 15:04] #61 closed

[2016-04-18 15:52] zalmoxisus commented on #31
Released 🎉

[2016-04-18 15:52] #31 closed

[2016-04-23 00:15] calebmer opened #95 "Developer tools panel"
Is there a way to give Redux a developer panel in the chrome developer tools? React developer tools has its own panel, is it possible for Redux to get one as well?

[2016-04-23 09:27] zalmoxisus commented on #95
Thanks for the suggestion! It's easy to implement and I've even tested it before. But I'm not sure it would be right to have Redux DevTools there, as the `Elements` tab is intended to be used for DOM investigation, so React DevTools does.

I know it's not convenient to switch between `Elements` and `Redux` tab, but actually you can open Redux DevTools in a new window. Wouldn't this be easier to us

[2016-04-23 11:10] calebmer commented on #95
The developer tools has network investigation, performance profiling, security, and a code editor. I think a Redux tab would make sense 😊

It's more ergonomic for me to keep dev tools in the same window. For one that's how the tool designed (to be in the same window), and second on a Mac in fullscreen mode I can't have two windows on my monitor at once. It also allows me to use keyboard shortcuts

[2016-04-23 11:17] zalmoxisus commented on #95
This should work:
![redux_router_with_autotodo_example_and_developer_tools_-_chrome-extension___lmhkpmbekcpmknklioeibfkpmmfibljd_background_html](https://cloud.githubusercontent.com/assets/7957859/14761065/daab14a8-095d-11e6-9b74-d5167f740924.jpg)

Don't you have the `Redux` tab?
I thought you want to have it inside the `Elements` tab, so you'll not have to switch between tabs.

[2016-04-23 12:19] calebmer commented on #95
Yeah that's what I meant. And no I do not have that.

I'm on OSX with Chrome Beta (49.0.2623.112 (Official Build) beta (64-bit)) and Redux DevTools v1.0.1.

[2016-04-23 14:10] zalmoxisus commented on #95
That's strange. I was thinking the problem is with the version from Chrome store, but tried it too and the tab is present. Could you please try to update Chrome? I'm using Chrome 50 on OSX, but on 49 it was working as well.

[2016-04-23 15:05] calebmer commented on #95
Yep, upgraded to Chrome 51 and it works. A couple of other quick questions, is there a way to switch dev tools to a light theme, and is there a way to remove it from right clicks (or at least right clicks on non-activated pages)?

[2016-04-23 15:41] zalmoxisus commented on #51
Implemented in `v1.1.0`
![import-export](https://cloud.githubusercontent.com/assets/7957859/14762431/b3dcfcae-0982-11e6-977b-0cbbd8920eb4.jpg)

Didn't use the PR above as we want it directly in the extension regardless of which monitor we use.

Sorry for taking it so long. I was focused first to make the extension stable then to add new features.

[2016-04-23 15:41] #51 closed

[2016-04-23 15:42] weslleyaraujo commented on #51
awesome!

[2016-04-23 15:58] zalmoxisus opened #96 "Theming: light / dark"
We're using `redux-devtools-themes` for the extensions buttons as well as some monitors do. So, it wouldn't be difficult to implement theming. Anyway we need the following:

- [ ] create a PR for a light theme to [`redux-devtools-themes`](https://github.com/gaearon/redux-devtools-themes) similarly to [`nicinabox`](https://github.com/gaearon/redux-devtools-themes/blob/master/src/nicinabox.js).
- [

[2016-04-23 16:01] zalmoxisus commented on #95
Except having a bug in Chrome beta, the only reason could be that you used a custom theme which tried to use the tabs icon. So, just in case I've added it.

That's a good idea. If you're interested in it, I've created [a separate issue](https://github.com/zalmoxisus/redux-devtools-extension/issues/96).

It was working like this in some older versions, but now we need the context menu also to open

[2016-04-23 16:01] #95 closed

[2016-04-23 16:10] zalmoxisus opened #97 "Remove Diff monitor"
Are there any advantages of using Diff Monitor since we now have Diff functionality in the Inspector Monitor?

There are some issues there [solved](https://github.com/whetstone/redux-devtools-diff-monitor/pulls) by @jhen0409, but not sure how maintained the project is. To support it in future we'll also need to support theming there as suggested in #96.

[2016-04-23 16:15] calebmer commented on #95
Thanks so much for your help 😀

[2016-04-24 05:25] tatyshev opened #98 "Actions must be plain objects. Use custom middleware for async actions."
After update on v1.1.0. Upon attempt to toggle some action, I get the following error:

`
Uncaught Error: Actions must be plain objects. Use custom middleware for async actions.
`

This error is reproduced only when redux devtools opened inside chrome devtools. In other cases, it works as before.

[2016-04-24 08:15] zalmoxisus commented on #98
Sorry, forgot about chrome devtools in https://github.com/zalmoxisus/redux-devtools-extension/commit/1dc59e97a5362e900155c52902fe3f63d1a36294. Will fix ASAP.

[2016-04-24 08:53] #98 closed

[2016-04-24 08:53] zalmoxisus commented on #98
Fixed in `v1.1.1`, should appear on Chrome store in about an hour. Thanks for the report!

[2016-04-24 14:10] tatyshev commented on #98
Good job. Thank you!

[2016-04-25 02:22] Koleok commented on #97
I don't think the diff monitor has enough to offer to really justify itself in light of the inspector

[2016-04-25 10:38] jhen0409 commented on #97
The Inspector has not yet implement some features, like https://github.com/alexkuz/redux-devtools-inspector/issues/19 https://github.com/alexkuz/redux-devtools-inspector/issues/20.

But I agree removing Diff monitor, I don't know they whether or not to continue to maintain project, if they don't fix these problems, it's not conducive to self-build for extension.

[2016-04-25 10:46] zalmoxisus commented on #97
@jhen0409, while these features are present in the Log Monitor, that's not a problem. We want to have multiple monitors, each of them should be focused on solving specific problems and do it well.

[2016-04-27 09:03] acnovais opened #100 "Export/Import immutable structures"
Export/Import feature does not work with immutable structures.
Do you see adding a "deserialize state as immutable" a possibility for import?

[2016-04-27 09:09] zalmoxisus commented on #100
Yes, we have [`deserializeState` and `deserializeAction` functions](https://github.com/zalmoxisus/redux-devtools-extension#api), but need to implement them on the [`redux-devtools-instrument`](https://github.com/zalmoxisus/redux-devtools-instrument) part.

[2016-04-28 11:27] ValeryIvanov commented on #98
Hi! I still cannot use this feature, nothing happens, no errors in console...

Version says 1.1.1

[2016-04-28 11:30] zalmoxisus commented on #98
@ValeryIvanov, do you get the same error? Could you please provide more details to reproduce it?

[2016-04-28 11:38] ValeryIvanov commented on #98
No error. I see all actions pop up, but if I try to 'remove' some action, nothing happens. Commit, revert, sweep buttons does nothing also. So somehow this new state is not sent to my app?

Using Chrome 50.0.2661.87 m

[2016-04-28 11:50] zalmoxisus commented on #98
Does this happen also from extension windows or only from inside chrome devtools? Did it work in `1.0`?

[2016-04-28 12:52] ValeryIvanov commented on #98
This happens from both. I can actually make it do something but it is kinda messed up. For example I have multiple radio buttons. I use React btw and react-redux. So first radio is selected. If I click on the second one and then the third one then two actions are emmited whitch is all fine. Now if I cross out last (second) action, nothing happens. If I cross out first action, nothing happens as we

[2016-04-28 13:33] ValeryIvanov commented on #98
Ok scratch that, I found out what was wrong at least I guess what was wrong. I was using custom made state object and I was trying to make a deep copy like that

`const stateProto = Object.getPrototypeOf(state);`
`const newState = Object.assign(Object.create(stateProto), state);`

This custom object has actually getJsonObj function that creates simple object without any functions, only properties

[2016-04-28 13:45] zalmoxisus commented on #98
@ValeryIvanov, thx for the details. At least it is not related to this issue. If you'll still face that problem, feel free to open a new issue.

[2016-04-28 13:46] ValeryIvanov commented on #98
Ok thanks!

[2016-04-30 23:37] alexkuz commented on #97
`Inspector` now supports skipping and committing actions.

[2016-05-02 01:53] gigavinyl opened #101 "New Logo"
While I do love @keithyong's work on the current logo, I was thinking that the logo of this project should switch either entirely or implement design cues from the new, [official logo](https://github.com/reactjs/redux/tree/master/logo). Utmost respect to @keithyong again though 😄 .

[2016-05-02 07:55] zalmoxisus commented on #101
I was thinking about that, but I'm not so good at the licensing stuff, and not sure it will not violate CC0 as the logo is meant to represent `Redux` not the DevTools or the extension.

Also we want to extend the extension to be used not only for Redux as described in https://github.com/zalmoxisus/redux-devtools-extension/issues/77#issuecomment-210009075. So probably a separate logo for the extens

[2016-05-02 15:03] techniq opened #102 "`state = falsy` will not refresh DevTools"
Just getting into React/Redux, and this tripped me up for a while trying to use this extension with the simple counter reducer as my root reducer.  Initially I thought "Reset" was broken, but then I found it working on the example projects and started digging into how my setup was different.

Turns out, if the returned `state` is simply a falsy value (`0`, `false`, etc), this extension will not re

[2016-05-02 17:40] keithyong commented on #101
Anyhow, here are [some variations](https://cloud.githubusercontent.com/assets/6934989/10667514/c16ffec0-78a5-11e5-8179-115dd3af868e.png) on that logo that I posted on the original redux thread, feel free to use any of it/change the colours to more match the new Redux logo if you wish to :)

[2016-05-03 08:33] zalmoxisus commented on #102
Thanks for reporting it. Should be fixed in https://github.com/zalmoxisus/remotedev-app/commit/ba3d870b79dba64e516f6c51845b3169b2b480b0. Will push here and publish to Chrome store soon.

[2016-05-03 08:33] #102 closed

[2016-05-03 13:25] techniq commented on #102
Thanks for the quick fix :)

On Tue, May 3, 2016 at 4:33 AM Mihail Diordiev <notifications@github.com>
wrote:

[2016-05-06 18:27] tuler opened #105 "Hot reloading not working"
Here is my environment:
- Redux DevTools version 1.1.1 download from chrome web store
- OSX El Capitan 10.11.4
- Chrome 51.0.2704.36 beta (64-bit)

Running the counter example, HMR connects fine, but when I change the Couter.js file, the browser console prints:

[HMR] bundle rebuilding
[HMR] bundle rebuilt in 331ms
[HMR] Checking for updates on the server...
[HMR] The following modules couldn't be

[2016-05-06 18:36] zalmoxisus commented on #105
Hey @tuler,

This is an expected behaviour for `react-transform-hmr` and is not related to the extension. Try to change something in the reducer and see if it is reloaded. Hopefully React Hot Loader 3 works better, but it is not released yet.

[2016-05-06 18:43] tuler commented on #105
Ok, I was slowly coming to this conclusion. I'll try React Hot Loader 3 instead.
Thanks!

[2016-05-06 18:43] #105 closed

[2016-05-09 06:04] rubyboy opened #106 "Upgrade to redux-dev-tools 3.3.0"
There's a new version of the redux-dev-tools version that now supports Observales. Are you able to release a new version of the Chrome extension to the store that uses the new https://www.npmjs.com/package/redux-devtools version?
Thanks.

[2016-05-09 10:34] ronak301 opened #107 "Is this can also be used with react native ?"

[2016-05-09 10:36] zalmoxisus commented on #107
It injects the script into the browser's page. For React Native use [Remote Redux DevTools](https://github.com/zalmoxisus/remote-redux-devtools).

[2016-05-09 11:33] #106 closed

[2016-05-09 11:34] zalmoxisus commented on #106
Thanks for letting me know. Just released `1.2.0`. Should appear on Chrome store in about an hour.

[2016-05-09 13:01] rubyboy commented on #106
Works a treat! It's already there.
Thanks heaps.

[2016-05-10 00:47] axelson opened #108 "Uncaught Error: DevTools.instrument({ maxAge }) option, if specified, may not be less than 2."
This is most likely an upstream error but creating this anyway for tracking if nothing else. On all the redux-dev-tools enabled pages that I've found I get `Uncaught Error: DevTools.instrument({ maxAge }) option, if specified, may not be less than 2.` error in the console which actually blocks rendering. I'm seeing this on the sample pages as well:

http://zalmoxisus.github.io/redux-devtools-exten

[2016-05-10 00:57] axelson commented on #108
So this was bugging me and I looked into it some more and it looks like the "actions history limit" setting no longer accepts 0. According to [this comment](https://github.com/gaearon/redux-devtools/pull/267#issuecomment-209813741) 0's should have been migrated but I guess that didn't work for me. Not sure if 0's are supported going forward but I've just set a very high limit (500) and at least th

[2016-05-10 01:00] gaearon commented on #101
I promise we won’t sue you 😄 . You may use it if you’d like.

[2016-05-10 02:41] huchenme commented on #108
+1

[2016-05-10 04:34] ginxwar opened #109 "slider monitor not working"
I'm checking out the slider monitor with http://zalmoxisus.github.io/redux-devtools-extension/examples/counter/ but when I hit play, nothing happens.

Diff monitor and chart monitor all appear to be working, but the slider doesn't play back at all.

When I increment the counter a couple of times, I see that the slider monitor keeps track the number of the state changes.  But when playing back or m

[2016-05-10 04:47] bjbrewster commented on #109
I also have v1.2.0 of the Chrome Extension and the Slider Monitor no longer works. :(

[2016-05-10 06:17] korshavn opened #110 "How to add devToolsExtension in this case?"
Hi,

Anyone know how I add the window.devToolsExtension line when my store definition looks like this?

[code]

I can't figure out how to modify this to match how the doc is doing it...

[2016-05-10 07:58] zalmoxisus commented on #108
Thanks for the report! As I explained [here](https://github.com/zalmoxisus/redux-devtools-extension/pull/54#issuecomment-216465854), we don't want to have the history infinite anymore as it will crash the extension at some point or the extension will not be able to open the monitor as it has to serialize all the data before. The user can still put there a very high value, but he will acknowledge t

[2016-05-10 08:03] zalmoxisus commented on #110
Hey, @korshavn.

You're using the old Redux API, which will not be supported in `4.0`.

There should be:
[code]

And you can add the extension's store enhancer as follows:
[code]

[2016-05-10 08:09] korshavn commented on #110
Excellent! Thank you!

[2016-05-10 08:09] #110 closed

[2016-05-10 09:02] zalmoxisus commented on #109
I cannot reproduce it. Could you check if there are more instances, there's select box in the Slider window, and eventually try to select an instance explicitly?

[2016-05-10 16:03] ginxwar commented on #109
I have a single instance of the counter app example.  It's set to that instance and not to "autoselect instances"

I have tried this on both Chrome latest and Canary latest.  Slider monitor still doesn't work right.

I've also noticed that the "skip" button in the inspector monitor doesn't really do anything either.  I would guess that the skip button would change my state.  So it seems the only m

[2016-05-10 20:33] axelson commented on #108
Thanks!

[2016-05-10 20:33] #108 closed

[2016-05-11 10:01] landed1 opened #111 "Not correct js in example file"
I refer to this line ! As someone who doesnt know this or redux currently it deserves a comment to say what its for firstly. Secondly in js equals or is greater than is supposed to be >= it confuses new arrow notation and thirdly f is undefined. It gave my js linting a nightmare.

window.devToolsExtension ? window.devToolsExtension() : f => f

window.devToolsExtension ? window.devToolsExtension()

[2016-05-11 10:06] minedeljkovic commented on #111
`f => f` is not comparison expression, but function expression. It represents identity function (return whatever is received as parameter) and it is used here as "dummy" [store enhancer](http://redux.js.org/docs/Glossary.html#store-enhancer) that does nothing if devToolsExtension is not present

[2016-05-11 10:24] landed1 commented on #111
It cannot be linted as is thats all I am saying. If it is an arrow expression then its also wrong according to the linter.
All I am saying is what the linter is telling me.

[2016-05-11 10:33] minedeljkovic commented on #111
It is perfectly valid arrow function expression and `eslint` does not complain.
What linter do you use? Breaking of what rule is it reporting?

[2016-05-11 10:37] landed1 commented on #111
If I am unable to prove this again then mark this down to my lack of understanding thanks.
I remember it asking to have (f)=>{} the need for parenthesis around the f.
I am in linting hell atm trying to get a react project linting correctly with https://github.com/timoxley/standard-loader

[2016-05-11 10:44] minedeljkovic commented on #111
It is probably enforcing [arrow-parens](http://eslint.org/docs/rules/arrow-parens) rule.
In that case you should just:

[code]

I would personally recommend switching off this rule, it is fairly common practice to not write parens on single parameter arrow function expressions.

[2016-05-11 12:14] zalmoxisus commented on #111
It should be `(f) => { return f; }`.

As @minedeljkovic said, it's just a simple example. You can use one enhancer variable for production and another for development or like this:
[code]

[2016-05-11 12:50] landed1 commented on #111
Thanks guys :)

[2016-05-11 12:50] #111 closed

[2016-05-11 17:34] glenjamin opened #112 "Uncaught TypeError: Cannot read property 'action' of undefined"
This happened when toggling actions and on and off.

The full stack trace.
[code]

It's hard to tell exactly what happened here because of the minification, this is the relevant section of the minified code:

[code]

What's the best way to debug this further?

[2016-05-11 17:41] glenjamin commented on #112
After a bunch of poking around I've established that the error is from this function: https://github.com/zalmoxisus/redux-devtools-instrument/blob/master/src/instrument.js#L106-142

[2016-05-11 18:00] zalmoxisus commented on #112
@glenjamin, thanks for the report. It seems related to #109.

Unfortunately, the stack trace doesn't help, we still don't know why `actionsById` is empty [here](https://github.com/zalmoxisus/redux-devtools-instrument/blob/master/src/instrument.js#L130).

Does the action toggling work even with the exception? Does this happen all the time (if you refresh the page)?

[2016-05-11 18:07] glenjamin commented on #112
Everything seems to still function correctly, the first time it was happening a lot (multiple errors per click) - after a refresh it was only one at a time.

Might be something to do with whether I'd hit reset?

[2016-05-11 18:26] zalmoxisus commented on #112
There's something wrong for sure in the injected script as it shouldn't be [dispatched](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/inject/pageScript.js#L81) several times. So, somehow the [event listener](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/inject/pageScript.js#L125) was applied multiple times, and `

[2016-05-11 18:32] zalmoxisus commented on #112
@glenjamin, could you try to add

[code]

before [L125](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/inject/pageScript.js#L125) to see if it's the case.

[2016-05-12 08:54] zalmoxisus commented on #112
Well, I managed to reproduce that.

For some reason the store in your app is re-created multiple times, and as the result `window.devToolsExtension` is called several times. So, the event listener is applied [here](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/inject/pageScript.js#L125) multiple times and the listener get old values.

I solved that by rep

[2016-05-12 09:08] glenjamin commented on #112
Aha, I understand the issue now.

This is how my store is set up:

[code]

To keep the logic flatter, the store is rebuilt every time, but if a store already exists in the hot loaded data the new one never gets used.

I think this means your fix won't help me, because it's the old store which actually does the work - I'll update my logic to not create loads of unused stores.

[2016-05-12 09:16] zalmoxisus commented on #112
I think the solution I provided above should help, because it removes the old listener and listen for the new store applied.

[2016-05-12 09:38] glenjamin commented on #112
But I actually throw away the new store, and keep using the old one.

I've changed my code to only create a store if one wasn't found in the hot reload data now.

[2016-05-12 15:23] arcanis opened #113 "Realtime filtering"
Something that could really help would be to have the ability to filter the action list at runtime, just like what [redux-devtools-filterable-log-monitor](https://bvaughn.github.io/redux-devtools-filterable-log-monitor/) does. I know that it can be filtered from the options, but it's not really convenient, since I usually want to see every type of actions, just not at the same time.

[2016-05-12 15:47] gpbl opened #114 "Uncaught TypeError: Cannot read property 'toString' of null"
👋  My devtools stopped working 🆘

The window is not able anymore to automatically select the instance, and the view in the _Redux_ tab isn't reacting to dispatched actions anymore. Any idea how can I debug this? Could it be related to a bug in my code?

The extension is throwing an error `Cannot read property 'toString' of null`. As the code is minified i don't think the stack trace would help (I

[2016-05-12 16:22] zalmoxisus commented on #114
Hey @gpbl,

So, when you select the instance explicitly it works, right?

To get more detailed information you should clone the branch and [run the extension from there in the development mode](https://github.com/zalmoxisus/redux-devtools-extension#1-get-the-extension).

[2016-05-12 16:23] zalmoxisus commented on #113
You can use Inspect Monitor, it can filter actions the same as Filterable monitor does.

[2016-05-12 16:27] gpbl commented on #114
Nope even selecting the instance it doesn't. Now installing in dev mode, will report soon! Thanks for the fast reply !

[2016-05-12 17:03] gpbl commented on #114
Ah! I got it: one of my actions is returning a `null` type, yet a [recent change](https://github.com/gaearon/redux-devtools-log-monitor/commit/b132439121dc63c9681ff2d148999804690c7217) to `redux-devtools-log-monitor` can't work with `null` types. I changed my action type to `NOOP` and ignored it in the extension settings.

Life is shiny again :) Thanks @zalmoxisus for the suggestions!

[2016-05-12 17:03] #114 closed

[2016-05-12 18:35] arcanis commented on #113
Nice! Is it possible to open this view in the devtools rather than in a popup? I've tried to set the right panel to this, but it apparently didn't worked, and I can't find a settings to change this.

[2016-05-12 19:20] zalmoxisus commented on #114
@gpbl, thanks for the details!

Strange, this should be prevented by https://github.com/gaearon/redux-devtools/pull/232.

I've just published a new release without uglifying the bundle. So the zip archive now is 1.9MB instead of 837KB (which was before), but I think it would be useful indeed to stack trace the troubels.

[2016-05-12 19:26] zalmoxisus commented on #112
@glenjamin, strange I've just checked your snippet, and don't see any problems with it. Anyway, I've just published `1.2.1`, where the listener will not be applied anymore. Let me know if you still experience any troubles.

[2016-05-12 19:31] gpbl commented on #114
Yes, an error is thrown when the type is `undefined`, while `null` should be a valid type to _not_ dispatch an action. I think this is a bit on the edge, I'll investigate further and eventually file an issue to the log monitor repo.

Thanks for the not-uglifyied version 👍

[2016-05-13 15:26] zalmoxisus commented on #109
@ginxwar, @bjbrewster, I've published yesterday a new version, it should be updated automatically. Please check if the problem still persists.

[2016-05-14 03:25] ginxwar commented on #109
Hm, sorry, but the issue still remain.  Anything I could do to help dump logs and give you more information as to why this is occurring?

[2016-05-14 07:28] canaandavis commented on #109
I am also seeing an issue with the slide and diff monitor, using version 1.2.1

Seems like the chart monitor and inspector monitor are working ok though.

Chrome 50.0.2661.102
OSX 10.10.5

[2016-05-14 07:59] zalmoxisus commented on #109
Is the same problem with [our examples](https://github.com/zalmoxisus/redux-devtools-extension#examples)? Could you try to remove the extension (from `chrome://extensions/`) and [install](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd) again?

[2016-05-14 16:30] canaandavis commented on #109
Well in my case, the age old "have you tried restarting it?" has seemed to have resolved the issue.

I uninstalled the plugin reinstalled it, and now the example apps, and my project are working again.

@zalmoxisus Thank you for your fast response, and all of your work on this project.  It is much appreciated!

[2016-05-15 02:09] ginxwar commented on #109
@zalmoxisus I also tried uninstalling and reinstalling.  Still no go.  The slider monitor shows the number of state changes but moving the slider manually or hitting play or clicking on the back/forward buttons do not make changes to the state.  I'm on 1.2.1.

Chrome Canary: 52.0.2735.0 (64-bit)
OSX: 10.11.4

[2016-05-15 08:08] zalmoxisus commented on #109
@canaandavis, @ginxwar, thanks for the details! Yes, after you open it form Chrome devtools panel, it commands from windows don't work anymore. I've fixed it in https://github.com/zalmoxisus/redux-devtools-extension/commit/8a2f47e647db2688756eae80701c40309ad1de07. Still have to finish some work in progress and will publish to Chrome store.

[2016-05-15 17:52] zalmoxisus commented on #109
Fixed in `v1.3.0`. Also now it'd possible to switch monitors and toggle the slider monitor directly in the Chrome devtools panel. Feel free to reopen the issue, if there are any troubles.

[2016-05-15 17:52] #109 closed

[2016-05-15 17:54] zalmoxisus commented on #112
Closing as it wouldn't throw anymore and doesn't seems to be something more to implement here. If you have any ideas what we can do to support such cases better, please let me know.

[2016-05-15 17:54] #112 closed

[2016-05-15 17:54] zalmoxisus commented on #97
Removed in `v1.3.0`.

[2016-05-15 17:54] #97 closed

[2016-05-15 17:56] zalmoxisus commented on #113
Just released `v1.3.0`, and it's possible now to select monitors directly in the monitor window, Chrome devtools panel or browser action popup. Feel free to reopen the issue if you have other troubles or suggestions about this.

[2016-05-15 17:56] #113 closed

[2016-05-15 17:57] zalmoxisus commented on #100
Implemented in `v1.3.0`. See the [API section](https://github.com/zalmoxisus/redux-devtools-extension#api) for the details and an example of usage. Feel free to reopen the issue if you have any troubles with this.

[2016-05-15 17:57] #100 closed

[2016-05-15 17:58] zalmoxisus commented on #74
Just released `v1.3.0`, and it's possible now to select monitors directly in the monitor window, Chrome devtools panel or browser action popup. Feel free to reopen the issue if you have other troubles or suggestions about this.

[2016-05-15 17:58] #74 closed

[2016-05-15 18:04] zalmoxisus commented on #38
In `v1.3.0` now it's possible now to select monitors directly in the monitor window, Chrome devtools panel or browser action popup. So it's up to you to add / use any custom monitors. Monitors are moved to `remotedev-app`, as it's just a simple web app, it's easier to add and test custom monitors. It's just [one file](https://github.com/zalmoxisus/remotedev-app/blob/master/src/app/containers/DevTo

[2016-05-15 18:04] #38 closed

[2016-05-15 20:20] ginxwar commented on #109
it's working now!  Thanks @zalmoxisus

[2016-05-16 01:23] bjbrewster commented on #109
This is fixed for me as well.  I like able to toggle the slider in the main docked dev tool window too.

Thank you very much :)

[2016-05-16 04:20] canaandavis commented on #109
@zalmoxisus Just had a chance to check out the updates, and everything is working great!

Also, I really like the changes to the interface, much easier to use, thank you!

[2016-05-16 06:54] afc163 commented on #9
Need it too

[2016-05-16 14:02] iki opened #115 "Fix memory usage to not deplete available memory and crash"
With our client redux app, after opening the extension window, it quickly takes 1-2gb memory and crashes.

Happens with both the Log Monitor and Inspector.

Happens with both the version from google webstore, and manually built current master.

Related subissues:
1. The app tab allocated memory is going up and down too. Is it because of open dev tools (console)?
2. When the extension window is clo

[2016-05-17 14:41] zalmoxisus commented on #115
Hey @iki,

Thanks for the detailed report!

I did a profiling and indeed there's a memory leak. Due to the fact that the monitor's window's listeners was subscribing to background's redux store, garbage collector failed to free anything when window is closed.

Fixed in `v1.3.1` by implementing subscribing through messages. Also I transformed the background page into an event page, so now when the

[2016-05-17 14:49] zalmoxisus commented on #115
This one should be addressed to [`redux-devtools-instrument`](https://github.com/zalmoxisus/redux-devtools-instrument). The problem is that for every stored action there you add the current state. So, if there's a big object in your state and you have `maxAge` set to `50` (which is by default for the extension) it will be stored 50 times in the liftedState. If you have any ideas how to optimize th

[2016-05-19 16:02] molily opened #116 "Dev tools tab is blank"
Hi, first of all thank you for this great project!

I’m using the extension since months and suddenly the Chrome dev tools tab stopped working. It’s starting (“No store found” message disappears) but then it’s just blank.

In contrast, clicking on the extension button works as expected. But I prefer to use the tab.

![Screenshot](https://cloud.githubusercontent.com/assets/51251/15399972/10fd72c6-1

[2016-05-19 17:12] zalmoxisus commented on #116
Could you replicate this with [our examples](https://github.com/zalmoxisus/redux-devtools-extension#examples)?

[2016-05-20 12:35] molily commented on #116
Yes, unfortunately.
![bildschirmfoto 2016-05-20 um 13 26 55](https://cloud.githubusercontent.com/assets/51251/15427648/da266246-1e96-11e6-91d7-d1d35da3a3e5.png)
My assumption is that I have a broken Chrome user profile since the devtools tab works fine in my separate Chrome Canary intsallation. I’ll try to clean my user profile somehow. :/

[2016-05-20 14:03] zalmoxisus commented on #116
Thanks for the details. No, it's not related to the user's profile. It should be just in exception in our script. Unfortunately, Chrome doesn't show errors for devtools panels. Reloading the extension or removing and installing it again should help. If you can replicate it again after that, steps of reproducing would be welcome.

[2016-05-20 14:17] Koleok opened #117 "Save actions for re-use in the 'dispatcher'"
It would be awesome to either have `favorites`, or even a `history` of manually dispatched actions that you could click to re-run since repetition is in the nature of using this tool.

[2016-05-20 15:28] molily commented on #116
Thanks for your help! Already removed and reinstalled the extension, but it did not fix the problem. The tab is still empty.

But I created a second, fresh Chrome profile and the tab works fine there:

![bildschirmfoto 2016-05-20 um 17 26 25](https://cloud.githubusercontent.com/assets/51251/15432829/1a2259ea-1eb0-11e6-8d0b-2807bb47748f.png)

So I guess it’s something related to my main Chrome prof

[2016-05-20 16:20] zalmoxisus commented on #116
That's interesting. The settings are sticked to the Chrome profile. Could you please check what are the differences on the extension's option page (just click the last button from the bottom in the popup)?

[2016-05-20 16:22] zalmoxisus commented on #117
That would be really useful. It should be implemented on the [Dispatcher Monitor](https://github.com/YoruNoHikage/redux-devtools-dispatch), which we're using for that.

[2016-05-20 21:55] molily commented on #116
I can’t spot any differences in the extension preferences, both look the same:

![bildschirmfoto 2016-05-20 um 23 38 50](https://cloud.githubusercontent.com/assets/51251/15443164/5972c270-1ee6-11e6-86ae-b31b1c7fb80b.png)

[2016-05-21 01:43] crw commented on #116
I am also having this issue. Opening a panel left, right, bottom, or from clicking the toolbar icon work fine. The panel within Developer Tools itself is blank.

[2016-05-21 10:54] zalmoxisus commented on #116
I just published `1.3.2`. It should be now an error there instead of being blank. Please let me know what error message is shown.

[2016-05-21 13:03] derekmok9201 commented on #116
I'm seeing similar behaviour. The LogMonitor is completely blank and no actions are recorded. Interestingly, when I don't use thunk in my app, everything is working fine.

I'm also seeing this error when I bring up the chrome console while the extension is focused:

`extensions::uncaught_exception_handler:8 Error in event handler for (unknown): TypeError: Cannot read property 'toString' of undefin

[2016-05-21 13:39] zalmoxisus commented on #116
@derekmok9201, that is not related to this issue, but to #114. You're getting that error because you're not specifying action's type parameter somewhere in your code and LogMonitor fails.

[2016-05-21 16:36] oliverbienert opened #118 "TypeError: Converting circular structure to JSON"
Hi,

I get the above error in the following project: [ol3-react-example](https://github.com/oliverbienert/ol3-react-example), which I forked from [pka/ol3-react-example](https://github.com/pka/ol3-react-example) and updated it to work with react 15.
When I try to use the devtools-extension, I get the above error. I guess it has something to do with an array of features that comes from [openlayers]

[2016-05-21 19:26] zalmoxisus commented on #118
Hi,

Under `places[...].geometry` you have an infinite self reference that cannot be stringified, and obviously it wouldn't be possible to show on the monitors:
<img width="307" alt="screen shot 2016-05-21 at 10 22 46 pm" src="https://cloud.githubusercontent.com/assets/7957859/15450383/be4975f6-1fa2-11e6-97e0-4aa7f1c562c7.png">

I will add an option to filter data, so you'll be able just exclude t

[2016-05-22 17:52] derekmok9201 commented on #116
@zalmoxisus Ahh my bad, you are absolutely right. Thanks for the help!

[2016-05-22 23:24] crw commented on #116
@zalmoxisus The error is:

`SecurityError: Failed to read the 'localStorage' property from 'Window': Access is denied for this document.`

[2016-05-23 09:01] zalmoxisus commented on #116
@crw, thanks for the details.

You should uncheck "Block third-party cookies and site data" in Content Settings, which block access ti localStorage as indicated in [here](https://www.chromium.org/for-testers/bug-reporting-guidelines/uncaught-securityerror-failed-to-read-the-localstorage-property-from-window-access-is-denied-for-this-document)

![blockthirdpartycookies](https://cloud.githubusercont

[2016-05-23 09:02] oliverbienert commented on #118
I see..
A filter option would be good. In my own project, however, I'll try to avoid putting the whole tree to the store if possible.
Thank you. The devtools is a very useful extension!

[2016-05-23 15:19] jhen0409 opened #119 "The `chorme.runtime.on{event name}` is not defined"
Just a reminder, the `chorme.runtime.on{event name}` sometimes not defined, so sometimes the Background script doesn't work. (https://bugs.chromium.org/p/chromium/issues/detail?id=601559)

It will fix in Chrome 51.

[2016-05-23 15:36] molily commented on #116
Thanks! This was the cause of my problems as well.

If I understand your change 493a4cc correctly, it will be possible in the next version to block third party cookies while using the Redux dev tools tab. Correct?

[2016-05-23 16:08] zalmoxisus commented on #119
@jhen0409, thanks for bringing it up. I was able to experience this only when reloading the extension. So, I think, it shouldn't be a problem for regular users, who don't load it in the Developer Mode.

Anyway, thanks a lot for the details, I was searching for some fixes before, and didn't find any information!

[2016-05-23 16:31] jhen0409 commented on #119
@zalmoxisus I can get this problem in production, it causes context menu doesn't work. :\

[2016-05-23 17:38] crw commented on #116
Thanks, that fixed my issue. Question, is there a way to add an exception (in Manage Exceptions) for extensions?

[2016-05-23 17:49] markerikson commented on #51
Looks like the "Export" button is actually exporting the lifted store state, rather than the "current app state".  Is there any easy way to have it export just the app state itself (which appears to be something like `computedStates[index].state` ?

[2016-05-23 17:57] zalmoxisus commented on #116
@molily, thanks for confirming that it was the cause.

Exactly, and I just published it in `1.4`, so it shouldn't break the extension anymore, but of course selected monitor will not be memorized.

Feel free to reopen the issue if there are still any troubles with that.

[2016-05-23 17:57] #116 closed

[2016-05-23 18:02] zalmoxisus commented on #116
@crw, you're welcome, thank you as well for helping with tis issue.

On `chrome://extensions/` page check `Developer mode`, and then find the extension and click on `background page` link and you'll be able to inspect the extensions script (except what is in Chrome DevTools panel).

[2016-05-23 18:15] zalmoxisus commented on #51
@markerikson, yes we export the lifted state in order to be able to import back and get not only the current state, but all the history. So, it's easy to share this file with other members of your team.

What you want to do is easy to achieve from inside your application like:
[code]

[2016-05-23 18:20] zalmoxisus commented on #119
@jhen0409, we could catch this and reload the extension when it happens, but it would be better to get it fixed in Chrome.

[2016-05-23 18:32] zalmoxisus commented on #115
@iki, please reopen the issue if you're still facing the problem with memory leaks.

Also, in `v1.4` you can filter big datas like in the [example](https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/v1.4.0).

[2016-05-23 18:32] #115 closed

[2016-05-23 18:35] zalmoxisus commented on #118
Implemented in `v1.4`.  You can use it like this:
[code]

Of course you can filter not the whole state/action.places, but only `places[n].geometry`.

[2016-05-23 18:35] #118 closed

[2016-05-23 18:50] markerikson commented on #51
In my case, I was looking to grab the current state for use as static test data. Wound up just copying and pasting the relevant object, aided by some folding in my editor.  Thanks for the tools, and the reply.

[2016-05-23 19:25] zalmoxisus commented on #51
@markerikson, there will be a solution for that directly in the monitor, I'm working on it. You can open an issue if you want to keep track of the implementation.

[2016-05-24 08:28] kinop112365362 opened #120 "bug for Time travel"
![Uploading image.png…]()
When I use time travel, the progress bar will not make a corresponding change, but it has been effective

[2016-05-24 08:29] kinop112365362 commented on #120
![image](https://cloud.githubusercontent.com/assets/5856661/15497298/a0d2311c-21cc-11e6-9199-bef42aa1f337.png)

[2016-05-24 09:26] zalmoxisus commented on #120
Thanks for reporting this! Fixed in `1.4.1`, which will be available on Chrome Store in about an hour.

[2016-05-24 09:26] #120 closed

[2016-05-24 10:55] yarcub opened #121 "[Question] Multiple stores on same page"
Is it possible to enhance multiple stores on the same page? For example, having a dependency that also uses redux for internal state management and being able to switch between both on dev tools.

I thought the instance `name` on the `config` was to support that use case, but doesn't seem to work like that. Any hints?

[2016-05-24 11:01] zalmoxisus commented on #121
It's not supported yet, as we're using tab id as the instance id, as the result the latest store overrides everything else. That said, by instances we mean different tabs.

For now you can use [Remote Redux DevTools](https://github.com/zalmoxisus/remote-redux-devtools), which creates a new connection for every store, an you'll get all the instances there.

[2016-05-24 20:05] oliverbienert commented on #118
Great!
Thank you.

[2016-05-25 16:09] jnmandal commented on #9
Sorry if this is obvious but I just wanted to ask explicitly if there is anything we can do in this project or are we just waiting on mozilla?

[2016-05-25 16:33] zalmoxisus commented on #9
@jnmandal, the situation is a bit complicated there. Mozilla added WebExtensions API in Firefox 46, but it's still in alpha stage and a lot is missing there yet. At the same time the old addons API will be removed in the future releases, so it makes not sense to use that, just to wait when WebExtensions API is finished.

[Quoting Mozilla](https://developer.mozilla.org/en-US/Add-ons/WebExtensions):

[2016-05-25 20:54] jarohmh opened #123 "Getting ERROR: Blocked a frame with origin "http://localhost:3000" from accessing a frame with origin "null"."
Getting error: `VM1651:1123 Uncaught SecurityError: Blocked a frame with origin "http://localhost:3000" from accessing a frame with origin "null".  The frame requesting access has a protocol of "http", the frame being accessed has a protocol of "file". Protocols must match.` when opening redux devtools extension.

My configuration:
[code]

We're using KOA2 node server. Everything works fine, but s

[2016-05-25 22:04] mikehazell commented on #123
Hi there,

I'm getting a similar error with an app that uses the new Firebase 3 api. DevTools was working fine before upgrading Firebase on May 21st.

DevTools version 1.4.1

[code]

[2016-05-26 08:22] zalmoxisus commented on #123
Looks like you're including the app inside an iframe? Could you please provide a simple Plunker/JSBin/CodePen/jsFiddle example?

[2016-05-26 09:46] chroth7 opened #124 "Displaying Map in state"
Problem:

I have multiple `Maps` (ES2015) in my redux state, and when I inspect them in your awesome extension, it seems to think that it's an `Object` (without keys), and I cannot expand the details (see screenshot).

<img width="157" alt="screenshot 2016-05-26 11 43 53" src="https://cloud.githubusercontent.com/assets/6230368/15570586/2a3e8b1a-2337-11e6-8e37-034a0a9270a1.png">

Idea:
Best case: e

[2016-05-26 11:24] zalmoxisus commented on #124
Thanks for the report. There should be one of two reasons:

1. [`jsan`](https://github.com/kolodny/jsan) doesn't serialize them. You can try to `import jsan from 'jsan'` and do `jsan.parse(jsan.stringify(pathMap))` inside your application. Also, `jsan.parse(jsan.stringify(pathMap, null, null, true))`. If the first doesn't work, and the latter solves the issue than we can use it. If not, it should

[2016-05-26 11:39] chroth7 commented on #124
Thanks for the quick reply - I just ran:

    console.log(pathMap);
    console.log(jsan.parse(jsan.stringify(pathMap)));
    console.log(jsan.parse(jsan.stringify(pathMap, null, null, true)));

and as you suspected, that gave me (chrome):

So if I understand correctly, due to this fact, we cannot see it?
Do you want me to raise an issue at https://github.com/kolodny/jsan?

[2016-05-26 12:24] zalmoxisus commented on #124
Thanks for the details. Yes, it will be great to investigate it there.

[2016-05-26 19:07] kolodny commented on #124
weird, it seems to work for me. You may need to be using the latest version of jsan which used the `.toJson` method https://github.com/kolodny/jsan/blob/master/lib/cycle.js#L41-L43

Try this:

[code]

[2016-05-26 19:09] zalmoxisus commented on #124
@kolodny, thanks for chiming in. As I understood, the issue is not with the immutable library, but with the native `Map` structure.

[2016-05-26 19:11] kolodny commented on #124
Oh, this was about [Maps](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map). Ok, I think I need to spend some more time to make that work

[2016-05-26 19:40] kolodny commented on #124
Hmm, thinking about the problem, I'm not sure I want to implement this in jsan. Extending `Map.prototype.toJSON` is probably the correct way to go. How would you stringify this?

[code]

Best bet would be to add something like this to your app:

[code]

[2016-05-26 19:48] zalmoxisus commented on #124
@kolodny, I see.

I guess just including a polyfill like [this](https://www.npmjs.com/package/map.prototype.tojson) in the app should solve the issue. @chroth7, could you check?

[2016-05-26 19:57] chroth7 commented on #124
Awesome, thanks for the super quick feedback and input.

Added the polyfill you mentioned and look at that:
<img width="188" alt="screenshot 2016-05-26 21 55 48" src="https://cloud.githubusercontent.com/assets/6230368/15588110/aead5c96-238c-11e6-8d6e-b2bfebca05cf.png">

Perfect! Thanks, very much appreciated!
(I will close this issue and the one in the other repo)

[2016-05-26 19:57] #124 closed

[2016-05-27 01:49] mikehazell commented on #123
This is really odd. I can't reproduce it in a jsFiddle. Have also tried with a more complex setup closer to my app (which uses Firebase Auth) and can't make it happen. I'll come back if I can narrow down the issue.

[2016-05-27 09:50] jarohmh commented on #123
Hmm, we're using some data in iframe, but it's not part of our app so no redux in iFrames.

[2016-05-27 16:43] jhen0409 commented on #119
Chrome 51 is released.

[2016-05-27 16:43] #119 closed

[2016-05-30 10:01] Anahkiasen opened #125 "Getting error in isomorphic app"
Since today I'm getting the following error when trying to load my app:

![screen shot 2016-05-30 at 11 59 48](https://cloud.githubusercontent.com/assets/1321596/15646477/1caa14cc-265e-11e6-92b1-0b3dbafb6f12.png)

This is my middleware:

devtools.js
[code]

And this is my store:

Store/index.js
[code]

I checked and `reducers` is a function, and if I do `reducers({}, {type: 'FOOBAR'})` I get my st

[2016-05-30 10:07] Anahkiasen commented on #125
On a related note I can't actually find 2.0 anywhere, repos is still at 1.4, where is it?

[2016-05-30 11:55] Arilas commented on #125
Receive the same error, after look at the devToolsExtenstion.toString() found this:
[code]
You can see that extension now contains redux(_createStore2.default), also you can see always false condition:
[code]
So for now extension doesn't work with first parameter as options, workaround:
[code]

[2016-05-30 11:56] Arilas commented on #125
Seems that author want to use his extension like replacement of real redux

[2016-05-30 12:09] Anahkiasen commented on #125
Can confirm, if I don't pass any arguments to `devToolsExtension` it works fine.

[2016-05-30 17:19] #125 closed

[2016-05-30 17:23] zalmoxisus commented on #125
Sorry guys, we should definitely add tests!

I just published `2.0.0.1` with the fix to Chrome Store. It would be available in about an hour.

@Arilas, yes you nailed it! I'll document later this approach, though it's shown in [the example](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/examples/react-counter/components/Counter.js).

[2016-05-31 06:45] Borisboky opened #126 "“No store found”"
I have the following code in my configureStore.js file :

[code]

The code whera I use Provider and pass the store to provider is :

[code]

But when I run redux extension I see "No store found".

[2016-05-31 06:48] zalmoxisus commented on #126
`createStore` takes only 3 parameters, the third is the enhancer. That said it should be used like that:

[code]

Note that I also imported `compose` from `redux`.

[2016-05-31 06:54] Borisboky commented on #126
It worked. Great. Thanks.

[2016-05-31 12:08] amok commented on #33
I'll just leave it here for those inattentive, as I was (:

[code]

[2016-05-31 14:54] mikevandre opened #127 "Local file URLs"
can you tell me if this will work with file URLS? My extension will not show up and I want to verify that is the problem. The react chrome extension has a checkbox for this option but redux does not.

[2016-05-31 16:23] zalmoxisus commented on #127
Yes, it works for `file://` protocol.

[2016-05-31 17:40] zalmoxisus commented on #77
The extension has now an extended API to [communicate with it directly](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/API/Methods.md#windowdevtoolsextensionconnectconfig). So, it's easy to use it for any architecture. [Here's an example of usage](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/examples/react-counter-messaging/components/Counter.js). If

[2016-05-31 17:41] MikeRyan52 commented on #77
I'll take a stab at it 👍

[2016-05-31 23:24] MikeRyan52 commented on #77
Ok, I got _very basic_ undo/redo working A few questions:

* What and when should I be sending to devToolsExtension.send() ? Lifted actions and lifted state?
* How do I keep the lifted state in sync with the monitors?
* `DISPATCH` actions coming from the extension should be funneled through the lifted reducer, right?

[2016-06-01 07:33] zalmoxisus commented on #77
@MikeRyan52, sorry, I forgot about liftedState. Now instead of `send(action, state)` we can use also `send(null, liftedState)` (I'll the changes to Chrome store in few hours).

After `const devTools = window.devToolsExtension.connect()` better to use `devTools.send()` instead (it's [the same](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/utils/contentScri

[2016-06-01 13:59] arcanis commented on #113
I forgot to answer, but thank you, it's much better now ! :)

[2016-06-01 14:04] arcanis opened #128 "Batch actions"
Since each dispatched actions trigger an immediate render, a common pattern is [batched actions](https://twitter.com/dan_abramov/status/656074974533459968). However, using them makes it quite harder to inspect what each action does (since you can only cancel batched actions, and not the individual actions that they compose). It would be great if the extension was able to see that an action is a ba

[2016-06-01 14:22] MikeRyan52 commented on #77
Sounds great. Here's a link to our example app with experimental support for the extension: http://ngrx.github.io/example-app/

[2016-06-01 14:37] zalmoxisus commented on #128
Thanks for the suggestion. It sounds interesting, but better to implement on the monitor's side, whether on [inspector](https://github.com/alexkuz/redux-devtools-inspector) or [log monitor](https://github.com/gaearon/redux-devtools-log-monitor).

[2016-06-01 16:22] lapanoid opened #129 "Stopped working after update to 2.0.3"
Hi, thanks for your awesome work!
I recently got autoupdated and redux-devtools-extension stopped work - I just see empty log, and no errors.
How can I debug this, or is there any way to install older version and forbid autoupdate?

[2016-06-01 19:27] zalmoxisus commented on #129
Hey. Thanks for the report. It would be great if you could share a simple example to reproduce that problem.

[2016-06-02 19:36] zalmoxisus commented on #129
Any updates on this? I suppose whether https://github.com/zalmoxisus/redux-devtools-extension/commit/02614ed8d60bde8ba63233372183476a3f72a6fd or https://github.com/zalmoxisus/redux-devtools-extension/commit/06afa52ecd817e5a1a496841d481f365532f76a2 could be the reason, but they are published before `2.0.3`.

You can use specific version without autoupdates just downloading a specific [release](http

[2016-06-03 01:48] mpkliewer opened #130 "_typeof2 is not a function (Meteor with Apollo Client)"
Several weeks ago, the extension was working great on some tests I was doing with Meteor (1.3.2.4) and [Apollo Client](https://github.com/apollostack/apollo-client).

After firing it back up today (with extension v2.0.0.3), I get this error in the console:
[code]

The Meteor web app won't fully load.

I thought it was a problem with some other NPM packages I had installed in the intervening time,

[2016-06-03 14:11] fbacker opened #131 "Chrome Extension, actions to hide is not saved"
Choose options for the extension and in the textarea 'Actions to hide from DevTools (from new line):' I input an event that I don't want to see (e.g. TIME_UPDATE). Close the window and open again and my change is not saved. Also tried to enter the value and in another window run my app, the event is still shown.